Repository paradigmxyz/reth, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gakonst, @rakita, @rkrasiuk, @mattsse, @Rjected, @fgimenez, @joshieDo, @RomanHodulak, @shekhirin, @klkvr, @mediocregopher, @DaniPopes

feat(observability): add phase level observablity to new payload processing
  crates/engine/tree/src/tree/metrics.rs
  crates/engine/tree/src/tree/mod.rs
  crates/engine/tree/src/tree/payload_validator.rs
Owners: @rkrasiuk, @mattsse, @Rjected, @fgimenez

feat: add custom RPC methods getSven and blockNumberSven
  README.md
  crates/rpc/rpc-eth-api/src/custom.rs
  crates/rpc/rpc-eth-api/src/lib.rs
  crates/rpc/rpc/src/reth.rs
  tatus
Owners: @gakonst, @mattsse, @Rjected, @RomanHodulak

changes dn
  Cargo.toml
  crates/node/core/src/args/dev.rs
  crates/rpc/rpc/Cargo.toml
Owners: @gakonst, @mattsse, @Rjected, @klkvr, @RomanHodulak

trace
  Cargo.lock
Owners: @gakonst

chore: fix various typos in comments and documentation (#18296)
  crates/chain-state/src/memory_overlay.rs
  crates/net/network/src/peers.rs
  crates/node/core/src/args/pruning.rs
  crates/optimism/flashblocks/src/sequence.rs
  crates/storage/provider/src/providers/blockchain_provider.rs
  crates/transaction-pool/src/error.rs
Owners: @fgimenez, @mattsse, @rkrasiuk, @Rjected, @klkvr, @rakita, @joshieDo, @shekhirin

chore: fix various typos in comments and documentation (#18296)
  crates/chain-state/src/memory_overlay.rs
  crates/net/network/src/peers.rs
  crates/node/core/src/args/pruning.rs
  crates/optimism/flashblocks/src/sequence.rs
  crates/storage/provider/src/providers/blockchain_provider.rs
  crates/transaction-pool/src/error.rs
Owners: @fgimenez, @mattsse, @rkrasiuk, @Rjected, @klkvr, @rakita, @joshieDo, @shekhirin

perf(e2e-test-utils): optimize block checking by fetching header instead of full block (#18254)
  crates/e2e-test-utils/src/node.rs
Owners: @mattsse, @Rjected

perf(e2e-test-utils): optimize block checking by fetching header instead of full block (#18254)
  crates/e2e-test-utils/src/node.rs
Owners: @mattsse, @Rjected

chore: touchups
  crates/storage/provider/src/providers/blockchain_provider.rs
  crates/storage/provider/src/test_utils/mock.rs
  crates/storage/rpc-provider/src/lib.rs
Owners: @rakita, @joshieDo, @shekhirin, @gakonst

chore: clippy happy
  crates/prune/types/src/mode.rs
Owners: @shekhirin, @joshieDo

chore: clippy happy
  crates/prune/types/src/mode.rs
Owners: @shekhirin, @joshieDo

chore: clippy happy
  crates/optimism/consensus/src/proof.rs
  crates/payload/basic/src/lib.rs
  crates/prune/types/src/segment.rs
  crates/storage/libmdbx-rs/src/flags.rs
  crates/transaction-pool/src/pool/pending.rs
  crates/trie/sparse-parallel/src/trie.rs
Owners: @mattsse, @Rjected, @fgimenez, @shekhirin, @joshieDo, @rakita, @rkrasiuk, @mediocregopher

feat: introduce maybe_pending method to StateProviderFactory (#18260)
  crates/storage/provider/src/providers/blockchain_provider.rs
  crates/storage/provider/src/test_utils/mock.rs
  crates/storage/rpc-provider/src/lib.rs
  crates/storage/storage-api/src/noop.rs
  crates/storage/storage-api/src/state.rs
Owners: @rakita, @joshieDo, @shekhirin, @gakonst, @rkrasiuk

feat: introduce maybe_pending method to StateProviderFactory (#18260)
  crates/storage/provider/src/providers/blockchain_provider.rs
  crates/storage/provider/src/test_utils/mock.rs
  crates/storage/rpc-provider/src/lib.rs
  crates/storage/storage-api/src/noop.rs
  crates/storage/storage-api/src/state.rs
Owners: @rakita, @joshieDo, @shekhirin, @gakonst, @rkrasiuk

chore: clippy happy (#18310)
  crates/optimism/consensus/src/proof.rs
  crates/payload/basic/src/lib.rs
  crates/prune/types/src/mode.rs
  crates/prune/types/src/segment.rs
  crates/storage/libmdbx-rs/src/flags.rs
  crates/transaction-pool/src/pool/pending.rs
  crates/trie/sparse-parallel/src/trie.rs
Owners: @mattsse, @Rjected, @fgimenez, @shekhirin, @joshieDo, @rakita, @rkrasiuk, @mediocregopher

chore: clippy happy (#18310)
  crates/optimism/consensus/src/proof.rs
  crates/payload/basic/src/lib.rs
  crates/prune/types/src/mode.rs
  crates/prune/types/src/segment.rs
  crates/storage/libmdbx-rs/src/flags.rs
  crates/transaction-pool/src/pool/pending.rs
  crates/trie/sparse-parallel/src/trie.rs
Owners: @mattsse, @Rjected, @fgimenez, @shekhirin, @joshieDo, @rakita, @rkrasiuk, @mediocregopher

more trace
  Cargo.lock
Owners: @gakonst

some more clippy fixes
  crates/log-index/Cargo.toml
  crates/stages/stages/src/stages/index_logs.rs
Owners: @gakonst, @rkrasiuk, @shekhirin

some more clippy fixes
  Cargo.lock
  Cargo.toml
  crates/log-index/Cargo.toml
  crates/rpc/rpc-eth-api/Cargo.toml
  crates/rpc/rpc/Cargo.toml
  crates/rpc/rpc/src/eth/filter.rs
  crates/stages/stages/Cargo.toml
  crates/stages/stages/src/stages/index_logs.rs
  crates/stages/types/Cargo.toml
  crates/storage/db-api/Cargo.toml
  crates/storage/provider/Cargo.toml
Owners: @gakonst, @mattsse, @Rjected, @RomanHodulak, @rkrasiuk, @shekhirin, @joshieDo, @rakita

dprint
  crates/log-index/Cargo.toml
  crates/stages/stages/Cargo.toml
  crates/stages/types/Cargo.toml
  crates/storage/db-api/Cargo.toml
  crates/storage/provider/Cargo.toml
Owners: @gakonst, @rkrasiuk, @shekhirin, @joshieDo, @rakita

fix: remove extra whitespace in let binding assignment
  crates/storage/db-api/src/models/mod.rs
Owners: @joshieDo, @rakita

cleanup
  crates/stages/stages/src/stages/index_logs.rs
  crates/stages/types/src/checkpoints.rs
Owners: @rkrasiuk, @shekhirin

feat(observability): add phase level observablity to new payload processing --build
  crates/engine/tree/src/tree/mod.rs
  crates/engine/tree/src/tree/payload_validator.rs
Owners: @rkrasiuk, @mattsse, @Rjected, @fgimenez

chore: remove check
  crates/cli/commands/src/download.rs
Owners: @mattsse

feat(download): support zst archives in reth download (#18237)
  Cargo.lock
  crates/cli/commands/Cargo.toml
  crates/cli/commands/src/download.rs
Owners: @gakonst, @mattsse

feat(download): support zst archives in reth download (#18237)
  Cargo.lock
  crates/cli/commands/Cargo.toml
  crates/cli/commands/src/download.rs
Owners: @gakonst, @mattsse

added stricter 4844 tx exclusion checks
  crates/engine/tree/src/tree/mod.rs
  crates/engine/tree/src/tree/payload_validator.rs
  crates/rpc/rpc-engine-api/src/engine_api.rs
Owners: @rkrasiuk, @mattsse, @Rjected, @fgimenez, @RomanHodulak

chore(deps): weekly `cargo update`
  Cargo.lock
Owners: @gakonst

moved IL building to build_inclusion_list() and added test
  crates/rpc/rpc-engine-api/src/engine_api.rs
  crates/transaction-pool/src/lib.rs
  crates/transaction-pool/src/noop.rs
  crates/transaction-pool/src/traits.rs
  crates/transaction-pool/tests/it/inclusion_list.rs
  crates/transaction-pool/tests/it/main.rs
Owners: @mattsse, @Rjected, @RomanHodulak

chore: update superchain config
  crates/optimism/chainspec/res/superchain_registry_commit
  crates/optimism/chainspec/src/superchain/chain_specs.rs
Owners: @mattsse, @Rjected, @fgimenez

with new types
  Cargo.lock
  crates/engine/tree/src/tree/payload_validator.rs
  crates/storage/codecs/src/alloy/block_access_list.rs
Owners: @gakonst, @rkrasiuk, @mattsse, @Rjected, @fgimenez, @joshieDo

rerun
  .github/workflows/bench.yml
Owners: @gakonst, @DaniPopes

rerun
  .github/workflows/bench.yml
Owners: @gakonst, @DaniPopes

rerun
  .github/workflows/bench.yml
Owners: @gakonst, @DaniPopes

chore: introduce validationtask with capacity (#18291)
  crates/transaction-pool/src/validate/task.rs
Owners: @mattsse

chore: introduce validationtask with capacity (#18291)
  crates/transaction-pool/src/validate/task.rs
Owners: @mattsse

chore: bump
  Cargo.toml
Owners: @gakonst

fix(rpc): error code `eth_sendRawTransactionSync` timeout (#18252)
  Cargo.toml
  crates/rpc/rpc-eth-types/src/error/mod.rs
Owners: @gakonst, @mattsse, @Rjected, @RomanHodulak

fix(rpc): error code `eth_sendRawTransactionSync` timeout (#18252)
  Cargo.toml
  crates/rpc/rpc-eth-types/src/error/mod.rs
Owners: @gakonst, @mattsse, @Rjected, @RomanHodulak

feat(observability): add phase level observablity to new payload processing --changes
  crates/engine/tree/src/tree/metrics.rs
  crates/engine/tree/src/tree/mod.rs
  crates/engine/tree/src/tree/payload_validator.rs
Owners: @rkrasiuk, @mattsse, @Rjected, @fgimenez

.github/CODEOWNERS:

*                           @gakonst
crates/blockchain-tree-api/ @rakita @rkrasiuk @mattsse @Rjected
crates/blockchain-tree/     @rakita @rkrasiuk @mattsse @Rjected
crates/chain-state/         @fgimenez @mattsse @rkrasiuk
crates/chainspec/           @Rjected @joshieDo @mattsse
crates/cli/                 @mattsse
crates/consensus/           @rkrasiuk @mattsse @Rjected
crates/e2e-test-utils/      @mattsse @Rjected
crates/engine               @rkrasiuk @mattsse @Rjected
crates/engine/              @rkrasiuk @mattsse @Rjected @fgimenez
crates/era/                 @mattsse @RomanHodulak
crates/errors/              @mattsse
crates/ethereum-forks/      @mattsse @Rjected
crates/ethereum/            @mattsse @Rjected
crates/etl/                 @joshieDo @shekhirin
crates/evm/                 @rakita @mattsse @Rjected
crates/exex/                @shekhirin
crates/net/                 @mattsse @Rjected
crates/net/downloaders/     @rkrasiuk
crates/node/                @mattsse @Rjected @klkvr
crates/optimism/            @mattsse @Rjected @fgimenez
crates/payload/             @mattsse @Rjected
crates/primitives-traits/   @Rjected @RomanHodulak @mattsse @klkvr
crates/primitives/          @Rjected @mattsse @klkvr
crates/prune/               @shekhirin @joshieDo
crates/ress                 @rkrasiuk
crates/revm/                @mattsse @rakita
crates/rpc/                 @mattsse @Rjected @RomanHodulak
crates/stages/              @rkrasiuk @shekhirin
crates/static-file/         @joshieDo @shekhirin
crates/storage/codecs/      @joshieDo
crates/storage/db-api/      @joshieDo @rakita
crates/storage/db-common/   @Rjected
crates/storage/db/          @joshieDo @rakita
crates/storage/errors/      @rakita
crates/storage/libmdbx-rs/  @rakita @shekhirin
crates/storage/nippy-jar/   @joshieDo @shekhirin
crates/storage/provider/    @rakita @joshieDo @shekhirin
crates/storage/storage-api/ @joshieDo @rkrasiuk
crates/tasks/               @mattsse
crates/tokio-util/          @fgimenez
crates/transaction-pool/    @mattsse
crates/trie/                @rkrasiuk @Rjected @shekhirin @mediocregopher
etc/                        @Rjected @shekhirin
.github/                    @gakonst @DaniPopes
