Repository paradigmxyz/reth, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gakonst, @rakita, @rkrasiuk, @mattsse, @Rjected, @fgimenez, @joshieDo, @RomanHodulak, @shekhirin, @klkvr, @mediocregopher, @DaniPopes

.github/CODEOWNERS:

*                           @gakonst
crates/blockchain-tree-api/ @rakita @rkrasiuk @mattsse @Rjected
crates/blockchain-tree/     @rakita @rkrasiuk @mattsse @Rjected
crates/chain-state/         @fgimenez @mattsse @rkrasiuk
crates/chainspec/           @Rjected @joshieDo @mattsse
crates/cli/                 @mattsse
crates/consensus/           @rkrasiuk @mattsse @Rjected
crates/e2e-test-utils/      @mattsse @Rjected
crates/engine               @rkrasiuk @mattsse @Rjected
crates/engine/              @rkrasiuk @mattsse @Rjected @fgimenez
crates/era/                 @mattsse @RomanHodulak
crates/errors/              @mattsse
crates/ethereum-forks/      @mattsse @Rjected
crates/ethereum/            @mattsse @Rjected
crates/etl/                 @joshieDo @shekhirin
crates/evm/                 @rakita @mattsse @Rjected
crates/exex/                @shekhirin
crates/net/                 @mattsse @Rjected
crates/net/downloaders/     @rkrasiuk
crates/node/                @mattsse @Rjected @klkvr
crates/optimism/            @mattsse @Rjected @fgimenez
crates/payload/             @mattsse @Rjected
crates/primitives-traits/   @Rjected @RomanHodulak @mattsse @klkvr
crates/primitives/          @Rjected @mattsse @klkvr
crates/prune/               @shekhirin @joshieDo
crates/ress                 @rkrasiuk
crates/revm/                @mattsse @rakita
crates/rpc/                 @mattsse @Rjected @RomanHodulak
crates/stages/              @rkrasiuk @shekhirin
crates/static-file/         @joshieDo @shekhirin
crates/storage/codecs/      @joshieDo
crates/storage/db-api/      @joshieDo @rakita
crates/storage/db-common/   @Rjected
crates/storage/db/          @joshieDo @rakita
crates/storage/errors/      @rakita
crates/storage/libmdbx-rs/  @rakita @shekhirin
crates/storage/nippy-jar/   @joshieDo @shekhirin
crates/storage/provider/    @rakita @joshieDo @shekhirin
crates/storage/storage-api/ @joshieDo @rkrasiuk
crates/tasks/               @mattsse
crates/tokio-util/          @fgimenez
crates/transaction-pool/    @mattsse
crates/trie/                @rkrasiuk @Rjected @shekhirin @mediocregopher
etc/                        @Rjected @shekhirin
.github/                    @gakonst @DaniPopes

perf(merkle-stage): only fetch checkpoint in the branch that needs it (#18339)
  crates/stages/stages/src/stages/merkle.rs
Owners: @rkrasiuk, @shekhirin

perf(merkle-stage): only fetch checkpoint in the branch that needs it (#18339)
  crates/stages/stages/src/stages/merkle.rs
Owners: @rkrasiuk, @shekhirin

changes
  crates/engine/tree/src/tree/metrics.rs
  crates/engine/tree/src/tree/mod.rs
  crates/engine/tree/src/tree/payload_validator.rs
Owners: @rkrasiuk, @mattsse, @Rjected, @fgimenez

fix: NoopNetworkBuilder and run main
  examples/node-builder-api/src/main.rs
Owners: @gakonst

fix: tx_events usage and FullNodeComponents generics
  examples/txpool-tracing/src/submit.rs
Owners: @gakonst

fix: properly compute genesis hash (#18300)
  crates/chainspec/src/spec.rs
Owners: @Rjected, @joshieDo, @mattsse

fix: properly compute genesis hash (#18300)
  crates/chainspec/src/spec.rs
Owners: @Rjected, @joshieDo, @mattsse

feat: optimize Optimism deposit transaction prewarming
  crates/engine/tree/src/tree/payload_processor/mod.rs
  crates/engine/tree/src/tree/payload_processor/prewarm.rs
Owners: @rkrasiuk, @mattsse, @Rjected, @fgimenez

fix(ci): pin teku image to fix kurtosis-op build
  .github/assets/kurtosis_op_network_params.yaml
Owners: @gakonst, @DaniPopes

touchups
  crates/optimism/flashblocks/src/lib.rs
  crates/optimism/flashblocks/src/sequence.rs
  crates/optimism/flashblocks/src/service.rs
Owners: @mattsse, @Rjected, @fgimenez

fix: poll return type to match `BlockImport` trait
  examples/bsc-p2p/src/block_import/mod.rs
Owners: @gakonst

fmt
  crates/optimism/flashblocks/src/sequence.rs
  crates/optimism/flashblocks/src/service.rs
Owners: @mattsse, @Rjected, @fgimenez

feat: optimize Optimism deposit transaction prewarming
  crates/engine/tree/src/tree/payload_processor/mod.rs
  crates/engine/tree/src/tree/payload_processor/prewarm.rs
  crates/evm/evm/src/execute.rs
  crates/primitives/src/transaction/mod.rs
Owners: @rkrasiuk, @mattsse, @Rjected, @fgimenez, @rakita, @klkvr

docs
  crates/optimism/rpc/src/eth/mod.rs
Owners: @mattsse, @Rjected, @fgimenez

feat(op-reth/flashblocks): subscribe to the flashblock sequences produced (#18276)
  crates/optimism/flashblocks/src/lib.rs
  crates/optimism/flashblocks/src/sequence.rs
  crates/optimism/flashblocks/src/service.rs
  crates/optimism/rpc/src/eth/mod.rs
  crates/optimism/rpc/src/historical.rs
Owners: @mattsse, @Rjected, @fgimenez

feat(op-reth/flashblocks): subscribe to the flashblock sequences produced (#18276)
  crates/optimism/flashblocks/src/lib.rs
  crates/optimism/flashblocks/src/sequence.rs
  crates/optimism/flashblocks/src/service.rs
  crates/optimism/rpc/src/eth/mod.rs
  crates/optimism/rpc/src/historical.rs
Owners: @mattsse, @Rjected, @fgimenez

perf(reth-engine-local): use VecDeque reduce removal operations (#18198)
  crates/engine/local/src/miner.rs
Owners: @rkrasiuk, @mattsse, @Rjected, @fgimenez

perf(reth-engine-local): use VecDeque reduce removal operations (#18198)
  crates/engine/local/src/miner.rs
Owners: @rkrasiuk, @mattsse, @Rjected, @fgimenez

chore: make `new` work with runtime maps
  crates/stateless/src/witness_db.rs
Owners: @gakonst

fix(ci): pin teku image to fix kurtosis-op build (#18345)
  .github/assets/kurtosis_op_network_params.yaml
Owners: @gakonst, @DaniPopes

fix(ci): pin teku image to fix kurtosis-op build (#18345)
  .github/assets/kurtosis_op_network_params.yaml
Owners: @gakonst, @DaniPopes

lock
  Cargo.lock
Owners: @gakonst

lint
  testing/runner/Cargo.toml
Owners: @gakonst

fix(trie): correct NodeNotFoundInProvider error to say “revealing”
  crates/evm/execution-errors/src/trie.rs
Owners: @rakita, @mattsse, @Rjected

fix(stages): implement entities checkpoint update in merkle stage unwind (#18131)
  crates/stages/stages/src/stages/merkle.rs
Owners: @rkrasiuk, @shekhirin

fix(stages): implement entities checkpoint update in merkle stage unwind (#18131)
  crates/stages/stages/src/stages/merkle.rs
Owners: @rkrasiuk, @shekhirin

refactor to pass riscv checks
  Cargo.lock
  Cargo.toml
  crates/log-index/common/Cargo.toml
  crates/log-index/common/src/constants.rs
  crates/log-index/common/src/lib.rs
  crates/log-index/common/src/params.rs
  crates/log-index/common/src/types.rs
  crates/log-index/log-index/Cargo.toml
  crates/log-index/log-index/src/indexer.rs
  crates/log-index/log-index/src/lib.rs
  crates/log-index/log-index/src/query.rs
  crates/log-index/log-index/src/utils.rs
  crates/log-index/src/constants.rs
  crates/log-index/src/provider.rs
  crates/rpc/rpc-eth-api/Cargo.toml
  crates/rpc/rpc-eth-api/src/node.rs
  crates/rpc/rpc-eth-api/src/types.rs
  crates/rpc/rpc/Cargo.toml
  crates/rpc/rpc/src/eth/core.rs
  crates/rpc/rpc/src/eth/filter.rs
  crates/stages/stages/Cargo.toml
  crates/stages/stages/src/sets.rs
  crates/stages/stages/src/stages/index_logs.rs
  crates/stages/types/Cargo.toml
  crates/stages/types/src/checkpoints.rs
  crates/storage/db-api/Cargo.toml
  crates/storage/db-api/src/models/log_index.rs
  crates/storage/db-api/src/models/mod.rs
  crates/storage/db-api/src/tables/mod.rs
  crates/storage/provider/Cargo.toml
  crates/storage/provider/src/providers/blockchain_provider.rs
  crates/storage/provider/src/providers/consistent.rs
  crates/storage/provider/src/providers/database/provider.rs
  crates/storage/provider/src/test_utils/mock.rs
  crates/storage/provider/src/traits/full.rs
  crates/storage/storage-api/Cargo.toml
  crates/storage/storage-api/src/lib.rs
  crates/storage/storage-api/src/log_index.rs
  crates/storage/storage-api/src/noop.rs
Owners: @gakonst, @mattsse, @Rjected, @RomanHodulak, @rkrasiuk, @shekhirin, @joshieDo, @rakita

fix(prune): TransactionLookup pruning issues with pre-merge expiry
  crates/node/builder/src/launch/common.rs
  crates/prune/prune/src/builder.rs
  crates/prune/prune/src/segments/set.rs
  crates/prune/prune/src/segments/user/transaction_lookup.rs
Owners: @mattsse, @Rjected, @klkvr, @shekhirin, @joshieDo

add back modular bitfield
  Cargo.lock
  crates/log-index/common/Cargo.toml
Owners: @gakonst

bump deps
  Cargo.lock
  Cargo.toml
  crates/ethereum/evm/src/config.rs
Owners: @gakonst, @mattsse, @Rjected

bump eest_fixtures nextest timeout
  .config/nextest.toml
Owners: @gakonst

fmt
  crates/ethereum/evm/src/config.rs
Owners: @mattsse, @Rjected

clippy
  crates/node/builder/src/launch/common.rs
Owners: @mattsse, @Rjected, @klkvr

rerurn
  Cargo.lock
  Cargo.toml
Owners: @gakonst

perf: use debug_assert for parked pool lookup (#17712)
  crates/transaction-pool/src/pool/parked.rs
Owners: @mattsse

perf: use debug_assert for parked pool lookup (#17712)
  crates/transaction-pool/src/pool/parked.rs
Owners: @mattsse

refactor(revm): (#18150) use hardfork activation helpers (#18349)
  Cargo.lock
  Cargo.toml
  crates/ethereum/evm/src/config.rs
Owners: @gakonst, @mattsse, @Rjected

refactor(revm): (#18150) use hardfork activation helpers (#18349)
  Cargo.lock
  Cargo.toml
  crates/ethereum/evm/src/config.rs
Owners: @gakonst, @mattsse, @Rjected

feat(stateless): Run EEST tests in stateless block validator & bug fixes (#18140)
  .config/nextest.toml
  .github/workflows/unit.yml
  Cargo.lock
  Cargo.toml
  Makefile
  crates/chainspec/src/spec.rs
  crates/stateless/src/trie.rs
  crates/trie/db/src/witness.rs
  testing/ef-tests/.gitignore
  testing/ef-tests/src/cases/blockchain_test.rs
  testing/ef-tests/src/models.rs
  testing/ef-tests/src/result.rs
  testing/ef-tests/src/suite.rs
  testing/ef-tests/tests/tests.rs
  testing/runner/Cargo.toml
  testing/runner/src/main.rs
Owners: @gakonst, @DaniPopes, @Rjected, @joshieDo, @mattsse, @rkrasiuk, @shekhirin, @mediocregopher

feat(stateless): Run EEST tests in stateless block validator & bug fixes (#18140)
  .config/nextest.toml
  .github/workflows/unit.yml
  Cargo.lock
  Cargo.toml
  Makefile
  crates/chainspec/src/spec.rs
  crates/stateless/src/trie.rs
  crates/trie/db/src/witness.rs
  testing/ef-tests/.gitignore
  testing/ef-tests/src/cases/blockchain_test.rs
  testing/ef-tests/src/models.rs
  testing/ef-tests/src/result.rs
  testing/ef-tests/src/suite.rs
  testing/ef-tests/tests/tests.rs
  testing/runner/Cargo.toml
  testing/runner/src/main.rs
Owners: @gakonst, @DaniPopes, @Rjected, @joshieDo, @mattsse, @rkrasiuk, @shekhirin, @mediocregopher
