Repository paradigmxyz/reth, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gakonst, @rakita, @rkrasiuk, @mattsse, @Rjected, @fgimenez, @joshieDo, @RomanHodulak, @shekhirin, @klkvr, @mediocregopher, @DaniPopes

add logs
  crates/engine/tree/src/tree/payload_validator.rs
Owners: @rkrasiuk, @mattsse, @Rjected, @fgimenez

Clarify use cases and pruning
  docs/design/historical-proofs.md
Owners: @gakonst

feat: flashblock completed sequences
  crates/optimism/flashblocks/src/sequence.rs
  crates/optimism/flashblocks/src/service.rs
Owners: @mattsse, @Rjected, @fgimenez

feat: flashblock completed sequences
  crates/optimism/flashblocks/src/sequence.rs
  crates/optimism/flashblocks/src/service.rs
Owners: @mattsse, @Rjected, @fgimenez

fix
  crates/node/core/src/args/gas_price_oracle.rs
Owners: @mattsse, @Rjected, @klkvr

fixes
  Cargo.lock
Owners: @gakonst

rpc: use mnemonic-derived dev accounts in dev mode
  Cargo.toml
  crates/node/builder/src/rpc.rs
  crates/node/core/src/args/dev.rs
  crates/node/core/src/node_config.rs
  crates/optimism/rpc/src/eth/mod.rs
  crates/rpc/rpc-eth-api/src/helpers/signer.rs
  crates/rpc/rpc/src/eth/helpers/signer.rs
Owners: @gakonst, @mattsse, @Rjected, @klkvr, @fgimenez, @RomanHodulak

chore: cli
  docs/vocs/docs/pages/cli/reth/node.mdx
Owners: @gakonst

feat: change visibility + doc
  crates/optimism/flashblocks/src/lib.rs
  crates/optimism/flashblocks/src/sequence.rs
Owners: @mattsse, @Rjected, @fgimenez

Include validation that accounts with no storage have empty tries
  crates/trie/trie/src/verify.rs
Owners: @rkrasiuk, @Rjected, @shekhirin, @mediocregopher

fix: doc
  crates/optimism/flashblocks/src/sequence.rs
Owners: @mattsse, @Rjected, @fgimenez

feat: enhance trie updates handling in testsuite
  crates/e2e-test-utils/src/testsuite/mod.rs
  crates/e2e-test-utils/tests/e2e-testsuite/trie_corruption_test.rs
Owners: @mattsse, @Rjected

feat(gpo): add default fee price argument (#18297)
  crates/node/core/src/args/gas_price_oracle.rs
  crates/rpc/rpc-eth-types/src/gas_oracle.rs
  docs/vocs/docs/pages/cli/reth/node.mdx
Owners: @mattsse, @Rjected, @klkvr, @RomanHodulak, @gakonst

feat(gpo): add default fee price argument (#18297)
  crates/node/core/src/args/gas_price_oracle.rs
  crates/rpc/rpc-eth-types/src/gas_oracle.rs
  docs/vocs/docs/pages/cli/reth/node.mdx
Owners: @mattsse, @Rjected, @klkvr, @RomanHodulak, @gakonst

feat: implement trie update forwarding and monitoring in testsuite
  crates/e2e-test-utils/src/node.rs
  crates/e2e-test-utils/src/testsuite/mod.rs
  crates/e2e-test-utils/src/testsuite/setup.rs
  crates/e2e-test-utils/tests/e2e-testsuite/trie_corruption_test.rs
Owners: @mattsse, @Rjected

chore: fix
  crates/node/core/src/args/txpool.rs
Owners: @mattsse, @Rjected, @klkvr

fixes
  crates/engine/tree/src/tree/payload_validator.rs
Owners: @rkrasiuk, @mattsse, @Rjected, @fgimenez

Fix verify_empty_storages
  crates/trie/trie/src/verify.rs
Owners: @rkrasiuk, @Rjected, @shekhirin, @mediocregopher

remove print
  crates/trie/trie/src/verify.rs
Owners: @rkrasiuk, @Rjected, @shekhirin, @mediocregopher

fix: properly compute genesis hash
  crates/chainspec/src/spec.rs
Owners: @Rjected, @joshieDo, @mattsse

feat: expose EvmEnv to caller_gas_allowance
  crates/rpc/rpc-eth-api/src/helpers/call.rs
  crates/rpc/rpc-eth-api/src/helpers/estimate.rs
Owners: @mattsse, @Rjected, @RomanHodulak

order
  crates/rpc/rpc-eth-api/src/helpers/call.rs
  crates/rpc/rpc-eth-api/src/helpers/estimate.rs
Owners: @mattsse, @Rjected, @RomanHodulak

feat: introduce setting for delegated txs slots (#18298)
  crates/node/core/src/args/txpool.rs
  crates/transaction-pool/src/config.rs
  crates/transaction-pool/src/lib.rs
  crates/transaction-pool/src/pool/txpool.rs
Owners: @mattsse, @Rjected, @klkvr

feat: introduce setting for delegated txs slots (#18298)
  crates/node/core/src/args/txpool.rs
  crates/transaction-pool/src/config.rs
  crates/transaction-pool/src/lib.rs
  crates/transaction-pool/src/pool/txpool.rs
Owners: @mattsse, @Rjected, @klkvr

feat: expose `EvmEnv` to `caller_gas_allowance` (#18302)
  crates/rpc/rpc-eth-api/src/helpers/call.rs
  crates/rpc/rpc-eth-api/src/helpers/estimate.rs
Owners: @mattsse, @Rjected, @RomanHodulak

feat: expose `EvmEnv` to `caller_gas_allowance` (#18302)
  crates/rpc/rpc-eth-api/src/helpers/call.rs
  crates/rpc/rpc-eth-api/src/helpers/estimate.rs
Owners: @mattsse, @Rjected, @RomanHodulak

fix
  crates/e2e-test-utils/src/node.rs
Owners: @mattsse, @Rjected

some optimisations
  Cargo.lock
  crates/log-index/Cargo.toml
  crates/log-index/src/params.rs
  crates/log-index/src/query.rs
  crates/log-index/src/types.rs
  crates/rpc/rpc/src/eth/filter.rs
Owners: @gakonst, @mattsse, @Rjected, @RomanHodulak

Update stream.rs
  crates/optimism/flashblocks/src/ws/stream.rs
Owners: @mattsse, @Rjected, @fgimenez

cleanup
  crates/log-index/src/indexer.rs
  crates/log-index/src/query.rs
  crates/rpc/rpc/src/eth/filter.rs
Owners: @gakonst, @mattsse, @Rjected, @RomanHodulak

additional cleanup
  crates/rpc/rpc/src/eth/filter.rs
  crates/storage/provider/src/providers/database/provider.rs
Owners: @mattsse, @Rjected, @RomanHodulak, @rakita, @joshieDo, @shekhirin

cleanup
  crates/log-index/src/constants.rs
  crates/log-index/src/indexer.rs
  crates/log-index/src/params.rs
  crates/log-index/src/provider.rs
  crates/log-index/src/query.rs
  crates/rpc/rpc/src/eth/filter.rs
  crates/stages/stages/src/sets.rs
  crates/stages/stages/src/stages/index_logs.rs
  crates/stages/types/src/checkpoints.rs
  crates/storage/db-api/src/tables/mod.rs
  crates/storage/provider/src/providers/database/provider.rs
Owners: @gakonst, @mattsse, @Rjected, @RomanHodulak, @rkrasiuk, @shekhirin, @joshieDo, @rakita

feat: add db inverse-lookup command
  crates/cli/commands/src/db/inverse_lookup.rs
  crates/cli/commands/src/db/mod.rs
Owners: @mattsse

refactor: improve storage slot search to split B256 space
  Cargo.lock
  crates/cli/commands/Cargo.toml
  crates/cli/commands/src/db/inverse_lookup.rs
Owners: @gakonst, @mattsse

feat: add SearchTarget enum with hash and nibbles prefix support
  crates/cli/commands/src/db/inverse_lookup.rs
Owners: @mattsse

some clippy fixes
  Cargo.lock
  crates/log-index/Cargo.toml
  crates/log-index/src/lib.rs
  crates/log-index/src/params.rs
  crates/log-index/src/provider.rs
  crates/log-index/src/query.rs
  crates/log-index/src/types.rs
  crates/rpc/rpc/src/eth/filter.rs
  crates/stages/stages/src/stages/index_logs.rs
  crates/storage/db-api/src/tables/mod.rs
Owners: @gakonst, @mattsse, @Rjected, @RomanHodulak, @rkrasiuk, @shekhirin, @joshieDo, @rakita

feat: support finding all matching storage slots for prefix searches
  crates/cli/commands/src/db/inverse_lookup.rs
Owners: @mattsse

perf: specialize len 1
  crates/transaction-pool/src/lib.rs
Owners: @mattsse

perf: specialize len 1 (#18307)
  crates/transaction-pool/src/lib.rs
Owners: @mattsse

perf: specialize len 1 (#18307)
  crates/transaction-pool/src/lib.rs
Owners: @mattsse

.github/CODEOWNERS:

*                           @gakonst
crates/blockchain-tree-api/ @rakita @rkrasiuk @mattsse @Rjected
crates/blockchain-tree/     @rakita @rkrasiuk @mattsse @Rjected
crates/chain-state/         @fgimenez @mattsse @rkrasiuk
crates/chainspec/           @Rjected @joshieDo @mattsse
crates/cli/                 @mattsse
crates/consensus/           @rkrasiuk @mattsse @Rjected
crates/e2e-test-utils/      @mattsse @Rjected
crates/engine               @rkrasiuk @mattsse @Rjected
crates/engine/              @rkrasiuk @mattsse @Rjected @fgimenez
crates/era/                 @mattsse @RomanHodulak
crates/errors/              @mattsse
crates/ethereum-forks/      @mattsse @Rjected
crates/ethereum/            @mattsse @Rjected
crates/etl/                 @joshieDo @shekhirin
crates/evm/                 @rakita @mattsse @Rjected
crates/exex/                @shekhirin
crates/net/                 @mattsse @Rjected
crates/net/downloaders/     @rkrasiuk
crates/node/                @mattsse @Rjected @klkvr
crates/optimism/            @mattsse @Rjected @fgimenez
crates/payload/             @mattsse @Rjected
crates/primitives-traits/   @Rjected @RomanHodulak @mattsse @klkvr
crates/primitives/          @Rjected @mattsse @klkvr
crates/prune/               @shekhirin @joshieDo
crates/ress                 @rkrasiuk
crates/revm/                @mattsse @rakita
crates/rpc/                 @mattsse @Rjected @RomanHodulak
crates/stages/              @rkrasiuk @shekhirin
crates/static-file/         @joshieDo @shekhirin
crates/storage/codecs/      @joshieDo
crates/storage/db-api/      @joshieDo @rakita
crates/storage/db-common/   @Rjected
crates/storage/db/          @joshieDo @rakita
crates/storage/errors/      @rakita
crates/storage/libmdbx-rs/  @rakita @shekhirin
crates/storage/nippy-jar/   @joshieDo @shekhirin
crates/storage/provider/    @rakita @joshieDo @shekhirin
crates/storage/storage-api/ @joshieDo @rkrasiuk
crates/tasks/               @mattsse
crates/tokio-util/          @fgimenez
crates/transaction-pool/    @mattsse
crates/trie/                @rkrasiuk @Rjected @shekhirin @mediocregopher
etc/                        @Rjected @shekhirin
.github/                    @gakonst @DaniPopes
