Repository paradigmxyz/reth, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gakonst, @rakita, @rkrasiuk, @mattsse, @Rjected, @fgimenez, @joshieDo, @RomanHodulak, @shekhirin, @klkvr, @mediocregopher, @DaniPopes

.github/CODEOWNERS:

*                           @gakonst
crates/blockchain-tree-api/ @rakita @rkrasiuk @mattsse @Rjected
crates/blockchain-tree/     @rakita @rkrasiuk @mattsse @Rjected
crates/chain-state/         @fgimenez @mattsse @rkrasiuk
crates/chainspec/           @Rjected @joshieDo @mattsse
crates/cli/                 @mattsse
crates/consensus/           @rkrasiuk @mattsse @Rjected
crates/e2e-test-utils/      @mattsse @Rjected
crates/engine               @rkrasiuk @mattsse @Rjected
crates/engine/              @rkrasiuk @mattsse @Rjected @fgimenez
crates/era/                 @mattsse @RomanHodulak
crates/errors/              @mattsse
crates/ethereum-forks/      @mattsse @Rjected
crates/ethereum/            @mattsse @Rjected
crates/etl/                 @joshieDo @shekhirin
crates/evm/                 @rakita @mattsse @Rjected
crates/exex/                @shekhirin
crates/net/                 @mattsse @Rjected
crates/net/downloaders/     @rkrasiuk
crates/node/                @mattsse @Rjected @klkvr
crates/optimism/            @mattsse @Rjected @fgimenez
crates/payload/             @mattsse @Rjected
crates/primitives-traits/   @Rjected @RomanHodulak @mattsse @klkvr
crates/primitives/          @Rjected @mattsse @klkvr
crates/prune/               @shekhirin @joshieDo
crates/ress                 @rkrasiuk
crates/revm/                @mattsse @rakita
crates/rpc/                 @mattsse @Rjected @RomanHodulak
crates/stages/              @rkrasiuk @shekhirin
crates/static-file/         @joshieDo @shekhirin
crates/storage/codecs/      @joshieDo
crates/storage/db-api/      @joshieDo @rakita
crates/storage/db-common/   @Rjected
crates/storage/db/          @joshieDo @rakita
crates/storage/errors/      @rakita
crates/storage/libmdbx-rs/  @rakita @shekhirin
crates/storage/nippy-jar/   @joshieDo @shekhirin
crates/storage/provider/    @rakita @joshieDo @shekhirin
crates/storage/storage-api/ @joshieDo @rkrasiuk
crates/tasks/               @mattsse
crates/tokio-util/          @fgimenez
crates/transaction-pool/    @mattsse
crates/trie/                @rkrasiuk @Rjected @shekhirin @mediocregopher
etc/                        @Rjected @shekhirin
.github/                    @gakonst @DaniPopes

fixes
  .github/assets/hive/build_simulators.sh
Owners: @gakonst, @DaniPopes

Replace tx_hash method with TxHashRef trait bound
  crates/cli/commands/src/re_execute.rs
  crates/e2e-test-utils/src/node.rs
  crates/engine/tree/src/tree/metrics.rs
  crates/engine/tree/src/tree/payload_processor/prewarm.rs
  crates/ethereum/primitives/src/transaction.rs
  crates/net/eth-wire-types/src/broadcast.rs
  crates/net/network/src/transactions/mod.rs
  crates/optimism/primitives/src/transaction/signed.rs
  crates/primitives-traits/src/block/body.rs
  crates/primitives-traits/src/block/recovered.rs
  crates/primitives-traits/src/extended.rs
  crates/primitives-traits/src/transaction/signed.rs
  crates/rpc/rpc-eth-api/src/helpers/block.rs
  crates/rpc/rpc-eth-api/src/helpers/call.rs
  crates/rpc/rpc-eth-api/src/helpers/trace.rs
  crates/rpc/rpc-eth-api/src/helpers/transaction.rs
  crates/rpc/rpc-eth-types/src/simulate.rs
  crates/rpc/rpc/src/debug.rs
  crates/rpc/rpc/src/eth/bundle.rs
  crates/rpc/rpc/src/eth/sim_bundle.rs
  crates/storage/provider/src/providers/database/provider.rs
  crates/storage/provider/src/test_utils/mock.rs
  crates/transaction-pool/src/maintain.rs
  crates/transaction-pool/src/traits.rs
  examples/custom-node/src/pool.rs
  examples/custom-node/src/primitives/tx.rs
Owners: @mattsse, @Rjected, @rkrasiuk, @fgimenez, @RomanHodulak, @klkvr, @rakita, @joshieDo, @shekhirin, @gakonst

refactor!: more type-safety in cli (#18375)
  crates/cli/commands/src/common.rs
  crates/ethereum/cli/src/interface.rs
  crates/optimism/cli/src/app.rs
Owners: @mattsse, @Rjected, @fgimenez

refactor!: more type-safety in cli (#18375)
  crates/cli/commands/src/common.rs
  crates/ethereum/cli/src/interface.rs
  crates/optimism/cli/src/app.rs
Owners: @mattsse, @Rjected, @fgimenez

feat: add helper aliases for node adapters (#18366)
  crates/node/builder/Cargo.toml
  crates/node/builder/src/node.rs
  examples/custom-inspector/src/main.rs
  examples/exex-subscription/src/main.rs
Owners: @mattsse, @Rjected, @klkvr, @gakonst

feat: add helper aliases for node adapters (#18366)
  crates/node/builder/Cargo.toml
  crates/node/builder/src/node.rs
  examples/custom-inspector/src/main.rs
  examples/exex-subscription/src/main.rs
Owners: @mattsse, @Rjected, @klkvr, @gakonst

chore: use decode exact fo raw recovery
  crates/rpc/rpc-eth-types/src/utils.rs
Owners: @mattsse, @Rjected, @RomanHodulak

Use decode_2718_exact for recover raw txs
  crates/optimism/payload/src/payload.rs
  crates/rpc/rpc-eth-types/src/utils.rs
  crates/transaction-pool/src/maintain.rs
Owners: @mattsse, @Rjected, @fgimenez, @RomanHodulak

fix fmt
  crates/rpc/rpc-eth-types/src/utils.rs
  crates/transaction-pool/src/maintain.rs
Owners: @mattsse, @Rjected, @RomanHodulak

fix clippy
  crates/optimism/payload/src/payload.rs
  crates/rpc/rpc-eth-types/src/utils.rs
Owners: @mattsse, @Rjected, @fgimenez, @RomanHodulak

lazy spawning workers
  crates/engine/tree/src/tree/payload_processor/prewarm.rs
Owners: @rkrasiuk, @mattsse, @Rjected, @fgimenez

remove comment
  crates/engine/tree/src/tree/payload_processor/prewarm.rs
Owners: @rkrasiuk, @mattsse, @Rjected, @fgimenez

remove parent beacon root
  crates/e2e-test-utils/src/testsuite/actions/produce_blocks.rs
Owners: @mattsse, @Rjected

clippy
  crates/net/network/src/shadowfork_filter.rs
Owners: @mattsse, @Rjected

fix: fmt
  crates/node/core/src/args/network.rs
Owners: @mattsse, @Rjected, @klkvr

used helper for spawn worker
  crates/engine/tree/src/tree/payload_processor/prewarm.rs
Owners: @rkrasiuk, @mattsse, @Rjected, @fgimenez

simplify logic of caching
  crates/engine/tree/src/tree/payload_processor/prewarm.rs
Owners: @rkrasiuk, @mattsse, @Rjected, @fgimenez

feat(op-reth): implement flashblock caching with block selection logic
  crates/optimism/flashblocks/src/sequence.rs
  crates/optimism/flashblocks/src/service.rs
Owners: @mattsse, @Rjected, @fgimenez

fix: relax nonce gap rule if configured
  crates/transaction-pool/src/pool/txpool.rs
Owners: @mattsse

fix: relax nonce gap rule if configured (#18385)
  crates/transaction-pool/src/pool/txpool.rs
Owners: @mattsse

fix: relax nonce gap rule if configured (#18385)
  crates/transaction-pool/src/pool/txpool.rs
Owners: @mattsse

fix(logging): --log.file.filter can silently drop log lines due to throttling in non-blocking writer
  crates/tracing/src/layers.rs
Owners: @gakonst

fix(docs): retain .vocs on deployment
  docs/vocs/docs/public/_config.yml
Owners: @gakonst

fix(docs): disable jekyll which removes the search-index
  docs/vocs/docs/public/.nojekyll
  docs/vocs/docs/public/_config.yml
Owners: @gakonst

feat(network): replace shadowfork block filtering with required block filtering
  crates/net/network/src/config.rs
  crates/net/network/src/lib.rs
  crates/net/network/src/manager.rs
  crates/net/network/src/required_block_filter.rs
  crates/node/core/src/args/network.rs
Owners: @mattsse, @Rjected, @klkvr

fix(docs): disable jekyll which removes the search-index (#18388)
  docs/vocs/docs/public/.nojekyll
  docs/vocs/docs/public/_config.yml
Owners: @gakonst

fix(docs): disable jekyll which removes the search-index (#18388)
  docs/vocs/docs/public/.nojekyll
  docs/vocs/docs/public/_config.yml
Owners: @gakonst

nit
  crates/tracing/src/non_blocking_drop_tracking.rs
Owners: @gakonst

nit
  crates/tracing/src/formatter.rs
  crates/tracing/src/layers.rs
  crates/tracing/src/lib.rs
  crates/tracing/src/non_blocking_drop_tracking.rs
Owners: @gakonst

cargo fmt
  crates/tracing/src/lib.rs
  crates/tracing/src/non_blocking_drop_tracking.rs
Owners: @gakonst

nit
  crates/optimism/rpc/src/eth/transaction.rs
Owners: @mattsse, @Rjected, @fgimenez

fix: map EIP-7623 gas floor errors to expected exception type for test compatibility
  crates/engine/tree/src/tree/mod.rs
Owners: @rkrasiuk, @mattsse, @Rjected, @fgimenez

ignore flaky tests
  .github/assets/hive/ignored_tests.yaml
Owners: @gakonst, @DaniPopes

fix(docs): mv search-index to dist from .vocs
  docs/vocs/docs/public/.nojekyll
  docs/vocs/package.json
  docs/vocs/scripts/fix-search-index.ts
Owners: @gakonst

fix(docs): mv search-index to dist from .vocs (#18390)
  docs/vocs/docs/public/.nojekyll
  docs/vocs/package.json
  docs/vocs/scripts/fix-search-index.ts
Owners: @gakonst

fix(docs): mv search-index to dist from .vocs (#18390)
  docs/vocs/docs/public/.nojekyll
  docs/vocs/package.json
  docs/vocs/scripts/fix-search-index.ts
Owners: @gakonst

chore: rm unused import
  crates/engine/primitives/src/lib.rs
Owners: @rkrasiuk, @mattsse, @Rjected, @fgimenez

refactor: IL building & fmt
  Cargo.lock
  Cargo.toml
  crates/engine/tree/src/tree/payload_validator.rs
  crates/engine/tree/src/tree/tests.rs
  crates/ethereum/cli/src/debug_cmd/build_block.rs
  crates/ethereum/cli/src/debug_cmd/in_memory_merkle.rs
  crates/ethereum/cli/src/debug_cmd/merkle.rs
  crates/rpc/rpc-engine-api/src/engine_api.rs
  crates/transaction-pool/src/lib.rs
Owners: @gakonst, @rkrasiuk, @mattsse, @Rjected, @fgimenez, @RomanHodulak

add flaky test
  .github/assets/hive/ignored_tests.yaml
Owners: @gakonst, @DaniPopes

semis
  crates/engine/tree/src/tree/mod.rs
  crates/engine/tree/src/tree/payload_validator.rs
Owners: @rkrasiuk, @mattsse, @Rjected, @fgimenez
