Repository paradigmxyz/reth, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gakonst, @rakita, @rkrasiuk, @mattsse, @Rjected, @fgimenez, @joshieDo, @RomanHodulak, @shekhirin, @klkvr, @mediocregopher, @DaniPopes

more clippy
  crates/node/builder/src/launch/common.rs
Owners: @mattsse, @Rjected, @klkvr

some more ci related fixes
  crates/log-index/common/Cargo.toml
  crates/log-index/common/src/lib.rs
  crates/log-index/common/src/types.rs
  crates/log-index/log-index/Cargo.toml
  crates/stages/stages/Cargo.toml
  crates/stages/types/Cargo.toml
  crates/storage/db-api/Cargo.toml
  crates/storage/provider/Cargo.toml
  crates/storage/storage-api/Cargo.toml
Owners: @gakonst, @rkrasiuk, @shekhirin, @joshieDo, @rakita

fmt
  crates/log-index/common/Cargo.toml
  crates/stages/types/Cargo.toml
  crates/storage/storage-api/Cargo.toml
Owners: @gakonst, @rkrasiuk, @shekhirin, @joshieDo

Don't clear TransactionHashNumbers when dropping pre-merge history
  crates/node/builder/src/launch/common.rs
Owners: @mattsse, @Rjected, @klkvr

fix CI
  Cargo.lock
  crates/log-index/common/Cargo.toml
  crates/log-index/log-index/Cargo.toml
Owners: @gakonst

feat: support customizable RPC namespace parsers (#18160)
  Cargo.lock
  crates/ethereum/cli/Cargo.toml
  crates/ethereum/cli/src/interface.rs
  crates/node/core/src/args/rpc_server.rs
  crates/optimism/cli/Cargo.toml
  crates/optimism/cli/src/app.rs
  crates/optimism/cli/src/lib.rs
  crates/optimism/reth/src/lib.rs
  crates/rpc/rpc-builder/src/lib.rs
  crates/rpc/rpc-server-types/src/lib.rs
  crates/rpc/rpc-server-types/src/module.rs
Owners: @gakonst, @mattsse, @Rjected, @klkvr, @fgimenez, @RomanHodulak

feat: support customizable RPC namespace parsers (#18160)
  Cargo.lock
  crates/ethereum/cli/Cargo.toml
  crates/ethereum/cli/src/interface.rs
  crates/node/core/src/args/rpc_server.rs
  crates/optimism/cli/Cargo.toml
  crates/optimism/cli/src/app.rs
  crates/optimism/cli/src/lib.rs
  crates/optimism/reth/src/lib.rs
  crates/rpc/rpc-builder/src/lib.rs
  crates/rpc/rpc-server-types/src/lib.rs
  crates/rpc/rpc-server-types/src/module.rs
Owners: @gakonst, @mattsse, @Rjected, @klkvr, @fgimenez, @RomanHodulak

check by block number
  crates/prune/prune/src/segments/user/transaction_lookup.rs
Owners: @shekhirin, @joshieDo

Generalise EvmFactory for OpEvmConfig
  crates/optimism/evm/src/lib.rs
Owners: @mattsse, @Rjected, @fgimenez

Add test for building op-reth with custom precompiles using sdk
  crates/optimism/node/tests/it/builder.rs
Owners: @mattsse, @Rjected, @fgimenez

Fix lint
  crates/optimism/node/tests/it/builder.rs
Owners: @mattsse, @Rjected, @fgimenez

Fix docs
  crates/optimism/node/tests/it/builder.rs
Owners: @mattsse, @Rjected, @fgimenez

Fill in custom precompile construction in test
  crates/optimism/node/tests/it/builder.rs
  examples/custom-evm/src/main.rs
Owners: @mattsse, @Rjected, @fgimenez, @gakonst

Update main.rs
  bin/reth/src/main.rs
Owners: @gakonst

Fix lint
  crates/optimism/node/tests/it/builder.rs
Owners: @mattsse, @Rjected, @fgimenez

fix(prune): TransactionLookup pruning issues with pre-merge expiry (#18348)
  crates/prune/prune/src/builder.rs
  crates/prune/prune/src/segments/set.rs
  crates/prune/prune/src/segments/user/transaction_lookup.rs
Owners: @shekhirin, @joshieDo

fix(prune): TransactionLookup pruning issues with pre-merge expiry (#18348)
  crates/prune/prune/src/builder.rs
  crates/prune/prune/src/segments/set.rs
  crates/prune/prune/src/segments/user/transaction_lookup.rs
Owners: @shekhirin, @joshieDo

feat(op-sdk): custom precompiles (#18350)
  crates/optimism/evm/src/lib.rs
  crates/optimism/node/tests/it/builder.rs
  examples/custom-evm/src/main.rs
Owners: @mattsse, @Rjected, @fgimenez, @gakonst

feat(op-sdk): custom precompiles (#18350)
  crates/optimism/evm/src/lib.rs
  crates/optimism/node/tests/it/builder.rs
  examples/custom-evm/src/main.rs
Owners: @mattsse, @Rjected, @fgimenez, @gakonst

fix: fix search in vocs doc
  docs/vocs/vocs.config.ts
Owners: @gakonst

fix: fix search in vocs doc (#18354)
  docs/vocs/vocs.config.ts
Owners: @gakonst

fix: fix search in vocs doc (#18354)
  docs/vocs/vocs.config.ts
Owners: @gakonst

add 'queued_reason' to 'AddedTransaction'
  crates/transaction-pool/src/pool/mod.rs
  crates/transaction-pool/src/pool/txpool.rs
Owners: @mattsse

chore: remove unnecessary Typed2718 implementations
  crates/evm/evm/src/execute.rs
  crates/primitives/src/transaction/mod.rs
Owners: @rakita, @mattsse, @Rjected, @klkvr

chore: remove runtime type checking for deposit transactions
  crates/engine/tree/src/tree/payload_processor/mod.rs
  crates/engine/tree/src/tree/payload_processor/prewarm.rs
Owners: @rkrasiuk, @mattsse, @Rjected, @fgimenez

refactor: simplify type constraints in prewarm.rs
  crates/engine/tree/src/tree/payload_processor/prewarm.rs
Owners: @rkrasiuk, @mattsse, @Rjected, @fgimenez

Apply suggestion from @Rjected
  crates/engine/tree/src/tree/payload_validator.rs
Owners: @rkrasiuk, @mattsse, @Rjected, @fgimenez

remove
  crates/e2e-test-utils/tests/e2e-testsuite/testdata/trie_corruption/block_23003311_first.json
  crates/e2e-test-utils/tests/e2e-testsuite/testdata/trie_corruption/block_23003311_fork.json
  crates/e2e-test-utils/tests/e2e-testsuite/testdata/trie_corruption/block_23003312.json
Owners: @mattsse, @Rjected

Update lib.rs
  crates/ethereum/payload/src/lib.rs
Owners: @mattsse, @Rjected

feat: add simplified trie corruption test suite
  crates/e2e-test-utils/tests/e2e-testsuite/simplified_trie_corruption_test.rs
  crates/e2e-test-utils/tests/e2e-testsuite/simplified_trie_corruption_test/send_valid_fork_block.rs
Owners: @mattsse, @Rjected

remove: delete obsolete trie corruption test file
  crates/e2e-test-utils/tests/e2e-testsuite/main.rs
  crates/e2e-test-utils/tests/e2e-testsuite/trie_corruption_test.rs
Owners: @mattsse, @Rjected

merge
  Cargo.lock
  Cargo.toml
Owners: @gakonst

feat: add comprehensive trie fork and reorg test suite
  crates/e2e-test-utils/tests/e2e-testsuite/trie_fork_test.rs
Owners: @mattsse, @Rjected

refactor: enhance trie update actions and test structure
  crates/e2e-test-utils/src/testsuite/actions/trie.rs
  crates/e2e-test-utils/src/testsuite/mod.rs
  crates/e2e-test-utils/tests/e2e-testsuite/simplified_trie_corruption_test/send_valid_fork_block.rs
  crates/e2e-test-utils/tests/e2e-testsuite/trie_fork_test.rs
Owners: @mattsse, @Rjected

feat: implement block production with transactions via Engine API
  crates/e2e-test-utils/src/testsuite/actions/transactions.rs
  crates/e2e-test-utils/tests/e2e-testsuite/main.rs
Owners: @mattsse, @Rjected

chore: enhance block production with transactions via Engine API
  crates/e2e-test-utils/src/testsuite/actions/transactions.rs
Owners: @mattsse, @Rjected

feat: add trie module to actions for enhanced testing capabilities
  crates/e2e-test-utils/src/testsuite/actions/mod.rs
Owners: @mattsse, @Rjected

fix
  Cargo.lock
  Cargo.toml
  crates/consensus/common/Cargo.toml
  crates/optimism/evm/src/receipts.rs
Owners: @gakonst, @rkrasiuk, @mattsse, @Rjected, @fgimenez

clippy
  crates/e2e-test-utils/src/node.rs
  crates/e2e-test-utils/src/testsuite/setup.rs
  crates/e2e-test-utils/tests/e2e-testsuite/trie_fork_test.rs
Owners: @mattsse, @Rjected

feat: implement enhanced block production with transactions via Engine API
  crates/e2e-test-utils/src/testsuite/actions/transactions.rs
Owners: @mattsse, @Rjected

.github/CODEOWNERS:

*                           @gakonst
crates/blockchain-tree-api/ @rakita @rkrasiuk @mattsse @Rjected
crates/blockchain-tree/     @rakita @rkrasiuk @mattsse @Rjected
crates/chain-state/         @fgimenez @mattsse @rkrasiuk
crates/chainspec/           @Rjected @joshieDo @mattsse
crates/cli/                 @mattsse
crates/consensus/           @rkrasiuk @mattsse @Rjected
crates/e2e-test-utils/      @mattsse @Rjected
crates/engine               @rkrasiuk @mattsse @Rjected
crates/engine/              @rkrasiuk @mattsse @Rjected @fgimenez
crates/era/                 @mattsse @RomanHodulak
crates/errors/              @mattsse
crates/ethereum-forks/      @mattsse @Rjected
crates/ethereum/            @mattsse @Rjected
crates/etl/                 @joshieDo @shekhirin
crates/evm/                 @rakita @mattsse @Rjected
crates/exex/                @shekhirin
crates/net/                 @mattsse @Rjected
crates/net/downloaders/     @rkrasiuk
crates/node/                @mattsse @Rjected @klkvr
crates/optimism/            @mattsse @Rjected @fgimenez
crates/payload/             @mattsse @Rjected
crates/primitives-traits/   @Rjected @RomanHodulak @mattsse @klkvr
crates/primitives/          @Rjected @mattsse @klkvr
crates/prune/               @shekhirin @joshieDo
crates/ress                 @rkrasiuk
crates/revm/                @mattsse @rakita
crates/rpc/                 @mattsse @Rjected @RomanHodulak
crates/stages/              @rkrasiuk @shekhirin
crates/static-file/         @joshieDo @shekhirin
crates/storage/codecs/      @joshieDo
crates/storage/db-api/      @joshieDo @rakita
crates/storage/db-common/   @Rjected
crates/storage/db/          @joshieDo @rakita
crates/storage/errors/      @rakita
crates/storage/libmdbx-rs/  @rakita @shekhirin
crates/storage/nippy-jar/   @joshieDo @shekhirin
crates/storage/provider/    @rakita @joshieDo @shekhirin
crates/storage/storage-api/ @joshieDo @rkrasiuk
crates/tasks/               @mattsse
crates/tokio-util/          @fgimenez
crates/transaction-pool/    @mattsse
crates/trie/                @rkrasiuk @Rjected @shekhirin @mediocregopher
etc/                        @Rjected @shekhirin
.github/                    @gakonst @DaniPopes
