Repository paradigmxyz/reth, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gakonst, @rakita, @rkrasiuk, @mattsse, @Rjected, @fgimenez, @joshieDo, @RomanHodulak, @shekhirin, @klkvr, @mediocregopher, @DaniPopes

ci: pin Rust to 1.88 when building for Windows in Cross
  Dockerfile.x86_64-pc-windows-gnu
Owners: @gakonst

fix(bench): fix deadlock in test data generation
  crates/stages/stages/benches/setup/mod.rs
Owners: @rkrasiuk, @shekhirin

docs(reth-bench): fix markdown
  bin/reth-bench/README.md
Owners: @gakonst

ci: pin Rust to 1.88 when building for Windows in Cross (#18320)
  Dockerfile.x86_64-pc-windows-gnu
Owners: @gakonst

ci: pin Rust to 1.88 when building for Windows in Cross (#18320)
  Dockerfile.x86_64-pc-windows-gnu
Owners: @gakonst

fix(bench): fix deadlock in test data generation (#18321)
  crates/stages/stages/benches/setup/mod.rs
Owners: @rkrasiuk, @shekhirin

fix(bench): fix deadlock in test data generation (#18321)
  crates/stages/stages/benches/setup/mod.rs
Owners: @rkrasiuk, @shekhirin

docs(reth-bench): fix markdown (#18322)
  bin/reth-bench/README.md
Owners: @gakonst

docs(reth-bench): fix markdown (#18322)
  bin/reth-bench/README.md
Owners: @gakonst

fix(stateless): verify_execution_witness doc for pre-state mismatch (#18319)
  crates/stateless/src/trie.rs
Owners: @gakonst

fix(stateless): verify_execution_witness doc for pre-state mismatch (#18319)
  crates/stateless/src/trie.rs
Owners: @gakonst

chore: bump version 1.7.0
  Cargo.lock
  Cargo.toml
Owners: @gakonst

feat: cache latest built payload
  crates/payload/builder/src/service.rs
Owners: @mattsse, @Rjected

fix
  crates/payload/builder/Cargo.toml
Owners: @mattsse, @Rjected

Fix lint
  crates/transaction-pool/src/validate/eth.rs
Owners: @mattsse

fix: DB benches (#18314)
  Cargo.lock
  crates/prune/types/Cargo.toml
  crates/storage/db/Cargo.toml
Owners: @gakonst, @shekhirin, @joshieDo, @rakita

fix: DB benches (#18314)
  Cargo.lock
  crates/prune/types/Cargo.toml
  crates/storage/db/Cargo.toml
Owners: @gakonst, @shekhirin, @joshieDo, @rakita

chore: remove unused BlockHeader import in test_utils.rs
  crates/exex/exex/src/backfill/test_utils.rs
Owners: @shekhirin

chore: bump version 1.7.0 (#18323)
  Cargo.lock
  Cargo.toml
Owners: @gakonst

chore: bump version 1.7.0 (#18323)
  Cargo.lock
  Cargo.toml
Owners: @gakonst

fix fmt
  crates/chain-state/src/test_utils.rs
Owners: @fgimenez, @mattsse, @rkrasiuk

chore: bump docs version 1.7.0
  docs/vocs/vocs.config.ts
Owners: @gakonst

chore(trie): use read-only db handle during repair-trie dry-runs
  crates/cli/commands/src/db/mod.rs
  crates/cli/commands/src/db/repair_trie.rs
Owners: @mattsse

Implement without changing cli args
  crates/cli/commands/src/db/mod.rs
  crates/cli/commands/src/db/repair_trie.rs
Owners: @mattsse

docs(static-file): fix wrapper reference to StaticFileProducerInner
  crates/static-file/static-file/src/static_file_producer.rs
Owners: @joshieDo, @shekhirin

Update static_file_producer.rs
  crates/static-file/static-file/src/static_file_producer.rs
Owners: @joshieDo, @shekhirin

Add initial implementation details
  docs/design/historical-proofs.md
Owners: @gakonst

Update historical proofs doc
  docs/design/historical-proofs.md
Owners: @gakonst

chore: bump docs version 1.7.0 (#18326)
  docs/vocs/vocs.config.ts
Owners: @gakonst

chore: bump docs version 1.7.0 (#18326)
  docs/vocs/vocs.config.ts
Owners: @gakonst

docs: update public dashboards
  docs/vocs/docs/pages/run/faq/pruning.mdx
Owners: @gakonst

docs: update public dashboards (#18331)
  docs/vocs/docs/pages/run/faq/pruning.mdx
Owners: @gakonst

docs: update public dashboards (#18331)
  docs/vocs/docs/pages/run/faq/pruning.mdx
Owners: @gakonst

chore(trie): use read-only db handle during repair-trie dry-runs (#18328)
  crates/cli/commands/src/db/mod.rs
  crates/cli/commands/src/db/repair_trie.rs
Owners: @mattsse

chore(trie): use read-only db handle during repair-trie dry-runs (#18328)
  crates/cli/commands/src/db/mod.rs
  crates/cli/commands/src/db/repair_trie.rs
Owners: @mattsse

docs(db): fix cursor method name and remove undeclared requests_cursor
  docs/crates/db.md
Owners: @gakonst

feat: cache latest built payload (#18324)
  crates/payload/builder/Cargo.toml
  crates/payload/builder/src/service.rs
Owners: @mattsse, @Rjected

feat: cache latest built payload (#18324)
  crates/payload/builder/Cargo.toml
  crates/payload/builder/src/service.rs
Owners: @mattsse, @Rjected

refactor: extract thread spawn delay to named constant
  crates/static-file/static-file/src/static_file_producer.rs
Owners: @joshieDo, @shekhirin

perf(merkle-stage): only fetch checkpoint in the branch that needs it
  crates/stages/stages/src/stages/merkle.rs
Owners: @rkrasiuk, @shekhirin

.github/CODEOWNERS:

*                           @gakonst
crates/blockchain-tree-api/ @rakita @rkrasiuk @mattsse @Rjected
crates/blockchain-tree/     @rakita @rkrasiuk @mattsse @Rjected
crates/chain-state/         @fgimenez @mattsse @rkrasiuk
crates/chainspec/           @Rjected @joshieDo @mattsse
crates/cli/                 @mattsse
crates/consensus/           @rkrasiuk @mattsse @Rjected
crates/e2e-test-utils/      @mattsse @Rjected
crates/engine               @rkrasiuk @mattsse @Rjected
crates/engine/              @rkrasiuk @mattsse @Rjected @fgimenez
crates/era/                 @mattsse @RomanHodulak
crates/errors/              @mattsse
crates/ethereum-forks/      @mattsse @Rjected
crates/ethereum/            @mattsse @Rjected
crates/etl/                 @joshieDo @shekhirin
crates/evm/                 @rakita @mattsse @Rjected
crates/exex/                @shekhirin
crates/net/                 @mattsse @Rjected
crates/net/downloaders/     @rkrasiuk
crates/node/                @mattsse @Rjected @klkvr
crates/optimism/            @mattsse @Rjected @fgimenez
crates/payload/             @mattsse @Rjected
crates/primitives-traits/   @Rjected @RomanHodulak @mattsse @klkvr
crates/primitives/          @Rjected @mattsse @klkvr
crates/prune/               @shekhirin @joshieDo
crates/ress                 @rkrasiuk
crates/revm/                @mattsse @rakita
crates/rpc/                 @mattsse @Rjected @RomanHodulak
crates/stages/              @rkrasiuk @shekhirin
crates/static-file/         @joshieDo @shekhirin
crates/storage/codecs/      @joshieDo
crates/storage/db-api/      @joshieDo @rakita
crates/storage/db-common/   @Rjected
crates/storage/db/          @joshieDo @rakita
crates/storage/errors/      @rakita
crates/storage/libmdbx-rs/  @rakita @shekhirin
crates/storage/nippy-jar/   @joshieDo @shekhirin
crates/storage/provider/    @rakita @joshieDo @shekhirin
crates/storage/storage-api/ @joshieDo @rkrasiuk
crates/tasks/               @mattsse
crates/tokio-util/          @fgimenez
crates/transaction-pool/    @mattsse
crates/trie/                @rkrasiuk @Rjected @shekhirin @mediocregopher
etc/                        @Rjected @shekhirin
.github/                    @gakonst @DaniPopes
