Repository paradigmxyz/reth, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gakonst, @rakita, @rkrasiuk, @mattsse, @Rjected, @fgimenez, @joshieDo, @RomanHodulak, @shekhirin, @klkvr, @mediocregopher, @DaniPopes

.github/CODEOWNERS:

*                           @gakonst
crates/blockchain-tree-api/ @rakita @rkrasiuk @mattsse @Rjected
crates/blockchain-tree/     @rakita @rkrasiuk @mattsse @Rjected
crates/chain-state/         @fgimenez @mattsse @rkrasiuk
crates/chainspec/           @Rjected @joshieDo @mattsse
crates/cli/                 @mattsse
crates/consensus/           @rkrasiuk @mattsse @Rjected
crates/e2e-test-utils/      @mattsse @Rjected
crates/engine               @rkrasiuk @mattsse @Rjected
crates/engine/              @rkrasiuk @mattsse @Rjected @fgimenez
crates/era/                 @mattsse @RomanHodulak
crates/errors/              @mattsse
crates/ethereum-forks/      @mattsse @Rjected
crates/ethereum/            @mattsse @Rjected
crates/etl/                 @joshieDo @shekhirin
crates/evm/                 @rakita @mattsse @Rjected
crates/exex/                @shekhirin
crates/net/                 @mattsse @Rjected
crates/net/downloaders/     @rkrasiuk
crates/node/                @mattsse @Rjected @klkvr
crates/optimism/            @mattsse @Rjected @fgimenez
crates/payload/             @mattsse @Rjected
crates/primitives-traits/   @Rjected @RomanHodulak @mattsse @klkvr
crates/primitives/          @Rjected @mattsse @klkvr
crates/prune/               @shekhirin @joshieDo
crates/ress                 @rkrasiuk
crates/revm/                @mattsse @rakita
crates/rpc/                 @mattsse @Rjected @RomanHodulak
crates/stages/              @rkrasiuk @shekhirin
crates/static-file/         @joshieDo @shekhirin
crates/storage/codecs/      @joshieDo
crates/storage/db-api/      @joshieDo @rakita
crates/storage/db-common/   @Rjected
crates/storage/db/          @joshieDo @rakita
crates/storage/errors/      @rakita
crates/storage/libmdbx-rs/  @rakita @shekhirin
crates/storage/nippy-jar/   @joshieDo @shekhirin
crates/storage/provider/    @rakita @joshieDo @shekhirin
crates/storage/storage-api/ @joshieDo @rkrasiuk
crates/tasks/               @mattsse
crates/tokio-util/          @fgimenez
crates/transaction-pool/    @mattsse
crates/trie/                @rkrasiuk @Rjected @shekhirin @mediocregopher
etc/                        @Rjected @shekhirin
.github/                    @gakonst @DaniPopes

chore: introduce validationtask with capacity
  crates/transaction-pool/src/validate/task.rs
Owners: @mattsse

Fix merge conflicts
  crates/optimism/node/src/node.rs
  crates/optimism/rpc/src/eth/mod.rs
  crates/optimism/rpc/src/eth/transaction.rs
Owners: @mattsse, @Rjected, @fgimenez

test(optimism): Test that close message is responded to in `WsFlashBlockStream` (#18268)
  crates/optimism/flashblocks/src/ws/stream.rs
Owners: @mattsse, @Rjected, @fgimenez

test(optimism): Test that close message is responded to in `WsFlashBlockStream` (#18268)
  crates/optimism/flashblocks/src/ws/stream.rs
Owners: @mattsse, @Rjected, @fgimenez

feat: add e2e tests for reorg and trie corruption scenarios
  3312.json
  crates/e2e-test-utils/src/testsuite/actions/engine_api.rs
  crates/e2e-test-utils/src/testsuite/actions/mod.rs
  crates/e2e-test-utils/src/testsuite/actions/produce_blocks.rs
  crates/e2e-test-utils/src/testsuite/actions/transactions.rs
  crates/e2e-test-utils/src/testsuite/mod.rs
  crates/e2e-test-utils/src/testsuite/transaction_utils.rs
  crates/e2e-test-utils/tests/e2e-testsuite/3311_first_block.json
  crates/e2e-test-utils/tests/e2e-testsuite/3311_first_modified.json
  crates/e2e-test-utils/tests/e2e-testsuite/3311_first_original.json
  crates/e2e-test-utils/tests/e2e-testsuite/3311_second_modified.json
  crates/e2e-test-utils/tests/e2e-testsuite/main.rs
  crates/e2e-test-utils/tests/e2e-testsuite/testdata/trie_corruption/block_23003311_first.json
  crates/e2e-test-utils/tests/e2e-testsuite/testdata/trie_corruption/block_23003311_fork.json
  crates/e2e-test-utils/tests/e2e-testsuite/testdata/trie_corruption/block_23003312.json
  crates/e2e-test-utils/tests/e2e-testsuite/testdata/trie_corruption/genesis.json
  crates/e2e-test-utils/tests/e2e-testsuite/trie_corruption_test.rs
Owners: @gakonst, @mattsse, @Rjected

perf(db): reuse MDBX DBIs for the same tx
  Cargo.lock
  crates/storage/db/Cargo.toml
  crates/storage/db/src/implementation/mdbx/tx.rs
Owners: @gakonst, @joshieDo, @rakita

removed unused files
  3312.json
  crates/e2e-test-utils/tests/e2e-testsuite/3311_first_block.json
  crates/e2e-test-utils/tests/e2e-testsuite/3311_first_modified.json
  crates/e2e-test-utils/tests/e2e-testsuite/3311_first_original.json
  crates/e2e-test-utils/tests/e2e-testsuite/3311_second_modified.json
Owners: @gakonst, @mattsse, @Rjected

feat: add SendPayloadFromJson action for payload handling
  Cargo.lock
  crates/e2e-test-utils/Cargo.toml
  crates/e2e-test-utils/src/testsuite/actions/engine_api.rs
  crates/e2e-test-utils/src/testsuite/actions/mod.rs
  crates/e2e-test-utils/tests/e2e-testsuite/trie_corruption_test.rs
Owners: @gakonst, @mattsse, @Rjected

refactor: clean up trie corruption test and improve code readability
  crates/e2e-test-utils/tests/e2e-testsuite/trie_corruption_test.rs
Owners: @mattsse, @Rjected

Depth-first
  crates/trie/trie/src/trie_cursor/depth_first.rs
  crates/trie/trie/src/trie_cursor/mod.rs
  crates/trie/trie/src/verify.rs
Owners: @rkrasiuk, @Rjected, @shekhirin, @mediocregopher

combine files
  crates/e2e-test-utils/src/testsuite/actions/transactions.rs
  crates/e2e-test-utils/src/testsuite/transaction_utils.rs
Owners: @mattsse, @Rjected

refactor: improve code readability and consistency in e2e test utilities
  crates/e2e-test-utils/src/testsuite/actions/engine_api.rs
  crates/e2e-test-utils/src/testsuite/actions/transactions.rs
  crates/e2e-test-utils/src/testsuite/mod.rs
  crates/e2e-test-utils/tests/e2e-testsuite/trie_corruption_test.rs
Owners: @mattsse, @Rjected

feat(metrics): add TxPoolValidatorMetrics to track inflight validation jobs
  crates/transaction-pool/src/metrics.rs
  crates/transaction-pool/src/validate/task.rs
Owners: @mattsse

tracing
  Cargo.lock
Owners: @gakonst

feat: introduce unified payload handling for engine API actions
  crates/e2e-test-utils/src/testsuite/actions/engine_api.rs
  crates/e2e-test-utils/src/testsuite/actions/mod.rs
Owners: @mattsse, @Rjected

fixes
  Cargo.lock
Owners: @gakonst

perf: specialize validate_transactions_with_origin for task validator (#18288)
  crates/transaction-pool/src/validate/task.rs
Owners: @mattsse

perf: specialize validate_transactions_with_origin for task validator (#18288)
  crates/transaction-pool/src/validate/task.rs
Owners: @mattsse

docs
  crates/transaction-pool/src/validate/task.rs
Owners: @mattsse

feat(metrics): add `TxPoolValidatorMetrics` to track inflight validation jobs (#18295)
  crates/transaction-pool/src/metrics.rs
  crates/transaction-pool/src/validate/task.rs
Owners: @mattsse

feat(metrics): add `TxPoolValidatorMetrics` to track inflight validation jobs (#18295)
  crates/transaction-pool/src/metrics.rs
  crates/transaction-pool/src/validate/task.rs
Owners: @mattsse

progress indicator
  crates/cli/commands/src/db/repair_trie.rs
  crates/trie/trie/src/verify.rs
Owners: @mattsse, @rkrasiuk, @Rjected, @shekhirin, @mediocregopher

Fix default for arg rollup.disable-tx-pool-admission
  crates/optimism/node/src/args.rs
Owners: @mattsse, @Rjected, @fgimenez

refactor: remove duplicate ProduceBlockWithTransactions implementation
  crates/e2e-test-utils/tests/e2e-testsuite/trie_corruption_test.rs
Owners: @mattsse, @Rjected

added trie updates checker
  crates/e2e-test-utils/tests/e2e-testsuite/trie_corruption_test.rs
Owners: @mattsse, @Rjected

refactor(tree): persistence of blocks
  crates/engine/tree/src/tree/mod.rs
  crates/engine/tree/src/tree/payload_validator.rs
Owners: @rkrasiuk, @mattsse, @Rjected, @fgimenez

fmt, clippy
  crates/e2e-test-utils/src/testsuite/actions/engine_api.rs
  crates/e2e-test-utils/tests/e2e-testsuite/trie_corruption_test.rs
Owners: @mattsse, @Rjected

chore: fix typos in comments
  crates/net/network/src/peers.rs
  crates/transaction-pool/src/error.rs
Owners: @mattsse, @Rjected

chore: fix British spelling to American spelling
  crates/node/core/src/args/pruning.rs
Owners: @mattsse, @Rjected, @klkvr

chore: fix doubled word typos
  crates/chain-state/src/memory_overlay.rs
  crates/optimism/flashblocks/src/sequence.rs
  crates/storage/provider/src/providers/blockchain_provider.rs
Owners: @fgimenez, @mattsse, @rkrasiuk, @Rjected, @rakita, @joshieDo, @shekhirin

oops
  crates/engine/tree/src/tree/payload_validator.rs
Owners: @rkrasiuk, @mattsse, @Rjected, @fgimenez

better progress indicator
  Cargo.lock
  crates/cli/commands/Cargo.toml
  crates/cli/commands/src/db/repair_trie.rs
  crates/trie/trie/src/trie_cursor/depth_first.rs
  crates/trie/trie/src/verify.rs
Owners: @gakonst, @mattsse, @rkrasiuk, @Rjected, @shekhirin, @mediocregopher

feat(gpo): add default fee price argument
  crates/node/core/src/args/gas_price_oracle.rs
  crates/rpc/rpc-eth-types/src/gas_oracle.rs
Owners: @mattsse, @Rjected, @klkvr, @RomanHodulak

More progress improvements
  crates/cli/commands/src/db/repair_trie.rs
Owners: @mattsse

fixes
  Cargo.lock
Owners: @gakonst

fmt and other simplifications
  crates/cli/commands/src/db/repair_trie.rs
  crates/trie/trie/src/verify.rs
Owners: @mattsse, @rkrasiuk, @Rjected, @shekhirin, @mediocregopher

fix: naming nit
  crates/node/core/src/args/gas_price_oracle.rs
  crates/rpc/rpc-eth-types/src/gas_oracle.rs
Owners: @mattsse, @Rjected, @klkvr, @RomanHodulak

fix: update parent_beacon_block_root to use B256::ZERO in testsuite
  crates/e2e-test-utils/tests/e2e-testsuite/main.rs
Owners: @mattsse, @Rjected

feat: introduce setting for delegated txs slots
  crates/transaction-pool/src/config.rs
  crates/transaction-pool/src/lib.rs
  crates/transaction-pool/src/pool/txpool.rs
Owners: @mattsse

pedantic nits
  crates/node/core/src/args/gas_price_oracle.rs
  crates/rpc/rpc-eth-types/src/gas_oracle.rs
Owners: @mattsse, @Rjected, @klkvr, @RomanHodulak
