Repository paradigmxyz/reth, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gakonst, @rakita, @rkrasiuk, @mattsse, @Rjected, @fgimenez, @joshieDo, @RomanHodulak, @shekhirin, @klkvr, @mediocregopher, @DaniPopes

.github/CODEOWNERS:

*                           @gakonst
crates/blockchain-tree-api/ @rakita @rkrasiuk @mattsse @Rjected
crates/blockchain-tree/     @rakita @rkrasiuk @mattsse @Rjected
crates/chain-state/         @fgimenez @mattsse @rkrasiuk
crates/chainspec/           @Rjected @joshieDo @mattsse
crates/cli/                 @mattsse
crates/consensus/           @rkrasiuk @mattsse @Rjected
crates/e2e-test-utils/      @mattsse @Rjected
crates/engine               @rkrasiuk @mattsse @Rjected
crates/engine/              @rkrasiuk @mattsse @Rjected @fgimenez
crates/era/                 @mattsse @RomanHodulak
crates/errors/              @mattsse
crates/ethereum-forks/      @mattsse @Rjected
crates/ethereum/            @mattsse @Rjected
crates/etl/                 @joshieDo @shekhirin
crates/evm/                 @rakita @mattsse @Rjected
crates/exex/                @shekhirin
crates/net/                 @mattsse @Rjected
crates/net/downloaders/     @rkrasiuk
crates/node/                @mattsse @Rjected @klkvr
crates/optimism/            @mattsse @Rjected @fgimenez
crates/payload/             @mattsse @Rjected
crates/primitives-traits/   @Rjected @RomanHodulak @mattsse @klkvr
crates/primitives/          @Rjected @mattsse @klkvr
crates/prune/               @shekhirin @joshieDo
crates/ress                 @rkrasiuk
crates/revm/                @mattsse @rakita
crates/rpc/                 @mattsse @Rjected @RomanHodulak
crates/stages/              @rkrasiuk @shekhirin
crates/static-file/         @joshieDo @shekhirin
crates/storage/codecs/      @joshieDo
crates/storage/db-api/      @joshieDo @rakita
crates/storage/db-common/   @Rjected
crates/storage/db/          @joshieDo @rakita
crates/storage/errors/      @rakita
crates/storage/libmdbx-rs/  @rakita @shekhirin
crates/storage/nippy-jar/   @joshieDo @shekhirin
crates/storage/provider/    @rakita @joshieDo @shekhirin
crates/storage/storage-api/ @joshieDo @rkrasiuk
crates/tasks/               @mattsse
crates/tokio-util/          @fgimenez
crates/transaction-pool/    @mattsse
crates/trie/                @rkrasiuk @Rjected @shekhirin @mediocregopher
etc/                        @Rjected @shekhirin
.github/                    @gakonst @DaniPopes

fix: map EIP-7623 gas floor errors to expected exception type for test compatibility (#18389)
  .github/assets/hive/ignored_tests.yaml
  crates/engine/tree/src/tree/mod.rs
Owners: @gakonst, @DaniPopes, @rkrasiuk, @mattsse, @Rjected, @fgimenez

fix: map EIP-7623 gas floor errors to expected exception type for test compatibility (#18389)
  .github/assets/hive/ignored_tests.yaml
  crates/engine/tree/src/tree/mod.rs
Owners: @gakonst, @DaniPopes, @rkrasiuk, @mattsse, @Rjected, @fgimenez

semis
  crates/engine/tree/src/tree/mod.rs
  crates/engine/tree/src/tree/payload_validator.rs
Owners: @rkrasiuk, @mattsse, @Rjected, @fgimenez

feat: replace PendingBlockAndReceipts tuple with dedicated struct
  crates/optimism/rpc/src/eth/pending_block.rs
  crates/rpc/rpc-eth-api/src/helpers/block.rs
  crates/rpc/rpc-eth-api/src/helpers/pending_block.rs
  crates/rpc/rpc-eth-types/src/pending_block.rs
Owners: @mattsse, @Rjected, @fgimenez, @RomanHodulak

fix from review
  crates/optimism/payload/src/payload.rs
Owners: @mattsse, @Rjected, @fgimenez

feat: replace PendingBlockAndReceipts tuple with dedicated struct (#18395)
  crates/optimism/rpc/src/eth/pending_block.rs
  crates/rpc/rpc-eth-api/src/helpers/block.rs
  crates/rpc/rpc-eth-api/src/helpers/pending_block.rs
  crates/rpc/rpc-eth-types/src/pending_block.rs
Owners: @mattsse, @Rjected, @fgimenez, @RomanHodulak

feat: replace PendingBlockAndReceipts tuple with dedicated struct (#18395)
  crates/optimism/rpc/src/eth/pending_block.rs
  crates/rpc/rpc-eth-api/src/helpers/block.rs
  crates/rpc/rpc-eth-api/src/helpers/pending_block.rs
  crates/rpc/rpc-eth-types/src/pending_block.rs
Owners: @mattsse, @Rjected, @fgimenez, @RomanHodulak

included block info
  crates/rpc/rpc-eth-types/src/error/mod.rs
  crates/transaction-pool/src/error.rs
  crates/transaction-pool/src/noop.rs
  crates/transaction-pool/src/pool/mod.rs
  crates/transaction-pool/src/test_utils/okvalidator.rs
  crates/transaction-pool/src/validate/eth.rs
  crates/transaction-pool/src/validate/mod.rs
Owners: @mattsse, @Rjected, @RomanHodulak

add-on
  crates/optimism/txpool/src/validator.rs
Owners: @mattsse, @Rjected, @fgimenez

fix: still use real chain id for no-op network
  crates/net/network-api/src/noop.rs
  crates/node/builder/src/components/builder.rs
Owners: @mattsse, @Rjected, @klkvr

nightly fmt
  crates/optimism/txpool/src/validator.rs
  crates/rpc/rpc-eth-types/src/error/mod.rs
  crates/transaction-pool/src/error.rs
  crates/transaction-pool/src/validate/eth.rs
  crates/transaction-pool/src/validate/mod.rs
Owners: @mattsse, @Rjected, @fgimenez, @RomanHodulak

perf(db): reuse MDBX DBIs for the same tx
  Cargo.lock
  crates/storage/db/Cargo.toml
  crates/storage/db/src/implementation/mdbx/tx.rs
Owners: @gakonst, @joshieDo, @rakita

fix: still use real chain id for no-op network (#18382)
  crates/net/network-api/src/noop.rs
  crates/node/builder/src/components/builder.rs
Owners: @mattsse, @Rjected, @klkvr

fix: still use real chain id for no-op network (#18382)
  crates/net/network-api/src/noop.rs
  crates/node/builder/src/components/builder.rs
Owners: @mattsse, @Rjected, @klkvr

chore: use decode_2718_exact for recover raw txs (#18381)
  crates/optimism/payload/src/payload.rs
  crates/rpc/rpc-eth-types/src/utils.rs
  crates/transaction-pool/src/maintain.rs
Owners: @mattsse, @Rjected, @fgimenez, @RomanHodulak

chore: use decode_2718_exact for recover raw txs (#18381)
  crates/optimism/payload/src/payload.rs
  crates/rpc/rpc-eth-types/src/utils.rs
  crates/transaction-pool/src/maintain.rs
Owners: @mattsse, @Rjected, @fgimenez, @RomanHodulak
