Repository paradigmxyz/reth, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gakonst, @rakita, @rkrasiuk, @mattsse, @Rjected, @fgimenez, @joshieDo, @RomanHodulak, @shekhirin, @klkvr, @mediocregopher, @DaniPopes

.github/CODEOWNERS:

*                           @gakonst
crates/blockchain-tree-api/ @rakita @rkrasiuk @mattsse @Rjected
crates/blockchain-tree/     @rakita @rkrasiuk @mattsse @Rjected
crates/chain-state/         @fgimenez @mattsse @rkrasiuk
crates/chainspec/           @Rjected @joshieDo @mattsse
crates/cli/                 @mattsse
crates/consensus/           @rkrasiuk @mattsse @Rjected
crates/e2e-test-utils/      @mattsse @Rjected
crates/engine               @rkrasiuk @mattsse @Rjected
crates/engine/              @rkrasiuk @mattsse @Rjected @fgimenez
crates/era/                 @mattsse @RomanHodulak
crates/errors/              @mattsse
crates/ethereum-forks/      @mattsse @Rjected
crates/ethereum/            @mattsse @Rjected
crates/etl/                 @joshieDo @shekhirin
crates/evm/                 @rakita @mattsse @Rjected
crates/exex/                @shekhirin
crates/net/                 @mattsse @Rjected
crates/net/downloaders/     @rkrasiuk
crates/node/                @mattsse @Rjected @klkvr
crates/optimism/            @mattsse @Rjected @fgimenez
crates/payload/             @mattsse @Rjected
crates/primitives-traits/   @Rjected @RomanHodulak @mattsse @klkvr
crates/primitives/          @Rjected @mattsse @klkvr
crates/prune/               @shekhirin @joshieDo
crates/ress                 @rkrasiuk
crates/revm/                @mattsse @rakita
crates/rpc/                 @mattsse @Rjected @RomanHodulak
crates/stages/              @rkrasiuk @shekhirin
crates/static-file/         @joshieDo @shekhirin
crates/storage/codecs/      @joshieDo
crates/storage/db-api/      @joshieDo @rakita
crates/storage/db-common/   @Rjected
crates/storage/db/          @joshieDo @rakita
crates/storage/errors/      @rakita
crates/storage/libmdbx-rs/  @rakita @shekhirin
crates/storage/nippy-jar/   @joshieDo @shekhirin
crates/storage/provider/    @rakita @joshieDo @shekhirin
crates/storage/storage-api/ @joshieDo @rkrasiuk
crates/tasks/               @mattsse
crates/tokio-util/          @fgimenez
crates/transaction-pool/    @mattsse
crates/trie/                @rkrasiuk @Rjected @shekhirin @mediocregopher
etc/                        @Rjected @shekhirin
.github/                    @gakonst @DaniPopes

fmt
  crates/e2e-test-utils/src/testsuite/actions/transactions.rs
Owners: @mattsse, @Rjected

fix: refine transaction broadcasting logic in prewarm.rs
  crates/engine/tree/src/tree/payload_processor/prewarm.rs
Owners: @rkrasiuk, @mattsse, @Rjected, @fgimenez

fix: add is_osaka check before erroring in default_ethereum_payload (#18355)
  crates/ethereum/payload/src/lib.rs
Owners: @mattsse, @Rjected

fix: add is_osaka check before erroring in default_ethereum_payload (#18355)
  crates/ethereum/payload/src/lib.rs
Owners: @mattsse, @Rjected

refactor: remove type parameters from spawn_all and run functions in prewarm.rs
  crates/engine/tree/src/tree/payload_processor/prewarm.rs
Owners: @rkrasiuk, @mattsse, @Rjected, @fgimenez

fix compile
  crates/engine/tree/src/tree/payload_processor/mod.rs
  crates/engine/tree/src/tree/payload_processor/prewarm.rs
Owners: @rkrasiuk, @mattsse, @Rjected, @fgimenez

fix
  crates/engine/tree/src/tree/payload_processor/mod.rs
Owners: @rkrasiuk, @mattsse, @Rjected, @fgimenez

refactor: remove unnecessary Clone trait bound from transaction type in payload processor
  crates/engine/tree/src/tree/payload_processor/mod.rs
Owners: @rkrasiuk, @mattsse, @Rjected, @fgimenez

touchups
  crates/chain-state/benches/canonical_hashes_range.rs
  crates/chain-state/src/memory_overlay.rs
Owners: @fgimenez, @mattsse, @rkrasiuk

refactor: streamline transaction broadcasting logic in prewarm.rs
  crates/engine/tree/src/tree/payload_processor/prewarm.rs
Owners: @rkrasiuk, @mattsse, @Rjected, @fgimenez

refactor: enhance worker task spawning logic in prewarm.rs
  crates/engine/tree/src/tree/payload_processor/prewarm.rs
Owners: @rkrasiuk, @mattsse, @Rjected, @fgimenez

refactor: improve worker management and transaction handling in prewarm.rs
  crates/engine/tree/src/tree/payload_processor/prewarm.rs
Owners: @rkrasiuk, @mattsse, @Rjected, @fgimenez

refactor: optimize worker task spawning and transaction handling in prewarm.rs
  crates/engine/tree/src/tree/payload_processor/prewarm.rs
Owners: @rkrasiuk, @mattsse, @Rjected, @fgimenez

perf: optimize canonical_hashes_range with Vec::with_capacity pre-allocation + benchmark (#18072)
  Cargo.lock
  crates/chain-state/Cargo.toml
  crates/chain-state/benches/canonical_hashes_range.rs
  crates/chain-state/src/memory_overlay.rs
Owners: @gakonst, @fgimenez, @mattsse, @rkrasiuk

perf: optimize canonical_hashes_range with Vec::with_capacity pre-allocation + benchmark (#18072)
  Cargo.lock
  crates/chain-state/Cargo.toml
  crates/chain-state/benches/canonical_hashes_range.rs
  crates/chain-state/src/memory_overlay.rs
Owners: @gakonst, @fgimenez, @mattsse, @rkrasiuk

feat(engine): check header validity after invalid transaction
  crates/engine/tree/src/tree/payload_validator.rs
Owners: @rkrasiuk, @mattsse, @Rjected, @fgimenez

feat: enhance block production and environment updates in Engine API
  crates/e2e-test-utils/src/testsuite/actions/transactions.rs
  crates/e2e-test-utils/tests/e2e-testsuite/trie_fork_test.rs
Owners: @mattsse, @Rjected

feat: preserve trie updates for single-block chains in CanonicalChain
  crates/chain-state/src/in_memory.rs
Owners: @fgimenez, @mattsse, @rkrasiuk

refactor: improve logging and code formatting in transaction actions
  crates/e2e-test-utils/src/testsuite/actions/transactions.rs
Owners: @mattsse, @Rjected

fmt
  crates/engine/tree/src/tree/payload_processor/prewarm.rs
Owners: @rkrasiuk, @mattsse, @Rjected, @fgimenez

feat: add some ethapi builder fns
  crates/rpc/rpc/src/eth/builder.rs
Owners: @mattsse, @Rjected, @RomanHodulak

misc
  crates/rpc/rpc/src/eth/builder.rs
Owners: @mattsse, @Rjected, @RomanHodulak

feat: add some ethapi builder fns (#18358)
  crates/rpc/rpc/src/eth/builder.rs
Owners: @mattsse, @Rjected, @RomanHodulak

feat: add some ethapi builder fns (#18358)
  crates/rpc/rpc/src/eth/builder.rs
Owners: @mattsse, @Rjected, @RomanHodulak

fix(chain-state): reset in-memory earliest/latest gauges when empty
  crates/chain-state/src/in_memory.rs
Owners: @fgimenez, @mattsse, @rkrasiuk

fix: resolve CI errors in e2e tests
  crates/e2e-test-utils/src/node.rs
  crates/e2e-test-utils/src/testsuite/actions/fork.rs
  crates/e2e-test-utils/src/testsuite/actions/produce_blocks.rs
  crates/e2e-test-utils/src/testsuite/actions/transactions.rs
  crates/e2e-test-utils/src/testsuite/mod.rs
  crates/e2e-test-utils/tests/e2e-testsuite/main.rs
  crates/node/core/src/version.rs
Owners: @mattsse, @Rjected, @klkvr

feat(network): add shadowfork block hash filtering for peers
  crates/net/network/src/config.rs
  crates/net/network/src/lib.rs
  crates/net/network/src/manager.rs
  crates/net/network/src/shadowfork_filter.rs
  crates/node/core/src/args/network.rs
Owners: @mattsse, @Rjected, @klkvr

feat(storage): bump MDBX map size to 8TB
  crates/storage/db/src/implementation/mdbx/mod.rs
Owners: @joshieDo, @rakita

refactor error handling
  crates/engine/tree/src/tree/payload_validator.rs
Owners: @rkrasiuk, @mattsse, @Rjected, @fgimenez

fix(docs): include .vocs to retain search-index
  docs/vocs/docs/public/_config.yml
Owners: @gakonst

Initial implementation of `reth db find-unhashed` command
  crates/cli/commands/src/db/find_unhashed.rs
  crates/cli/commands/src/db/mod.rs
Owners: @mattsse

fix: requests param of newPayloadV4
  bin/reth-bench/src/valid_payload.rs
Owners: @gakonst

fix: resolve remaining CI errors
  crates/e2e-test-utils/src/testsuite/actions/produce_blocks.rs
  crates/e2e-test-utils/src/testsuite/actions/transactions.rs
  crates/e2e-test-utils/src/testsuite/setup.rs
  crates/e2e-test-utils/tests/e2e-testsuite/main.rs
Owners: @mattsse, @Rjected

feat(rpc): Reuse evm tracing utils for debug_trace_block
  crates/rpc/rpc/src/debug.rs
Owners: @mattsse, @Rjected, @RomanHodulak

fix(docs): include .vocs to retain search-index (#18363)
  docs/vocs/docs/public/_config.yml
Owners: @gakonst

fix(docs): include .vocs to retain search-index (#18363)
  docs/vocs/docs/public/_config.yml
Owners: @gakonst

feat: add helper aliases for node adapters
  crates/node/builder/src/node.rs
  examples/custom-inspector/src/main.rs
  examples/exex-subscription/src/main.rs
Owners: @mattsse, @Rjected, @klkvr, @gakonst

refactor
  crates/engine/tree/src/tree/payload_validator.rs
Owners: @rkrasiuk, @mattsse, @Rjected, @fgimenez

include reth-db
  crates/node/builder/Cargo.toml
Owners: @mattsse, @Rjected, @klkvr

refactor: simplify provider setup and cut unnecessary clones
  bin/reth/src/ress.rs
Owners: @gakonst
