Repository paradigmxyz/reth, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gakonst, @rakita, @rkrasiuk, @mattsse, @Rjected, @fgimenez, @joshieDo, @RomanHodulak, @shekhirin, @klkvr, @mediocregopher, @DaniPopes

add debug log
  crates/engine/tree/src/tree/payload_validator.rs
Owners: @rkrasiuk, @mattsse, @Rjected, @fgimenez

feat(engine): check header validity after invalid transaction (#18356)
  crates/engine/tree/src/tree/payload_validator.rs
Owners: @rkrasiuk, @mattsse, @Rjected, @fgimenez

feat(engine): check header validity after invalid transaction (#18356)
  crates/engine/tree/src/tree/payload_validator.rs
Owners: @rkrasiuk, @mattsse, @Rjected, @fgimenez

make clippy happy
  crates/transaction-pool/src/pool/mod.rs
  crates/transaction-pool/src/pool/txpool.rs
Owners: @mattsse

inspect-account-history
  crates/cli/commands/src/db/inspect_account_history.rs
  crates/cli/commands/src/db/mod.rs
Owners: @mattsse

Fixes
  crates/cli/commands/src/db/inspect_account_history.rs
Owners: @mattsse

spike config minbasefee
  crates/optimism/chainspec/src/basefee.rs
  crates/optimism/chainspec/src/lib.rs
  crates/optimism/payload/src/payload.rs
Owners: @mattsse, @Rjected, @fgimenez

use u64 approach
  crates/optimism/chainspec/src/basefee.rs
  crates/optimism/payload/src/payload.rs
Owners: @mattsse, @Rjected, @fgimenez

use fork naming
  crates/optimism/chainspec/src/basefee.rs
  crates/optimism/chainspec/src/lib.rs
  crates/optimism/payload/src/payload.rs
Owners: @mattsse, @Rjected, @fgimenez

use significand and exponent
  crates/optimism/chainspec/src/basefee.rs
  crates/optimism/payload/src/payload.rs
Owners: @mattsse, @Rjected, @fgimenez

Refactor: move transaction state logic to 'AddedTransaction::transaction_state' for clarity
  crates/transaction-pool/src/pool/mod.rs
Owners: @mattsse

Fix docs
  crates/optimism/txpool/src/validator.rs
Owners: @mattsse, @Rjected, @fgimenez

fix(engine): avoid block fetching inconsistencies for checks during reorgs
  crates/engine/tree/src/tree/payload_validator.rs
Owners: @rkrasiuk, @mattsse, @Rjected, @fgimenez

Fix docs
  crates/transaction-pool/src/validate/eth.rs
Owners: @mattsse

Fix docs
  crates/optimism/txpool/src/validator.rs
Owners: @mattsse, @Rjected, @fgimenez

Unhide doclinks for better clarity of which checks are inherited from L1
  crates/optimism/txpool/src/validator.rs
Owners: @mattsse, @Rjected, @fgimenez

nits
  crates/engine/tree/src/tree/metrics.rs
  crates/engine/tree/src/tree/mod.rs
  crates/engine/tree/src/tree/payload_validator.rs
Owners: @rkrasiuk, @mattsse, @Rjected, @fgimenez

nits
  crates/engine/tree/src/tree/metrics.rs
  crates/engine/tree/src/tree/mod.rs
Owners: @rkrasiuk, @mattsse, @Rjected, @fgimenez

chore(ci): bump hive eest tests
  .github/assets/hive/build_simulators.sh
  .github/assets/hive/expected_failures.yaml
  .github/assets/hive/ignored_tests.yaml
  crates/engine/tree/src/tree/mod.rs
Owners: @gakonst, @DaniPopes, @rkrasiuk, @mattsse, @Rjected, @fgimenez

fix(engine): avoid block fetching inconsistencies for checks during reorgs (#18368)
  crates/engine/tree/src/tree/payload_validator.rs
Owners: @rkrasiuk, @mattsse, @Rjected, @fgimenez

fix(engine): avoid block fetching inconsistencies for checks during reorgs (#18368)
  crates/engine/tree/src/tree/payload_validator.rs
Owners: @rkrasiuk, @mattsse, @Rjected, @fgimenez

feat: bump hive eest tests (#18013)
  .github/assets/hive/build_simulators.sh
  .github/assets/hive/expected_failures.yaml
  .github/assets/hive/ignored_tests.yaml
  crates/engine/tree/src/tree/mod.rs
Owners: @gakonst, @DaniPopes, @rkrasiuk, @mattsse, @Rjected, @fgimenez

feat: bump hive eest tests (#18013)
  .github/assets/hive/build_simulators.sh
  .github/assets/hive/expected_failures.yaml
  .github/assets/hive/ignored_tests.yaml
  crates/engine/tree/src/tree/mod.rs
Owners: @gakonst, @DaniPopes, @rkrasiuk, @mattsse, @Rjected, @fgimenez

fix: check payload id
  crates/payload/builder/src/service.rs
Owners: @mattsse, @Rjected

fix: check payload id (#18370)
  crates/payload/builder/src/service.rs
Owners: @mattsse, @Rjected

fix: check payload id (#18370)
  crates/payload/builder/src/service.rs
Owners: @mattsse, @Rjected

fmt
  Cargo.lock
  bin/reth-bench/src/valid_payload.rs
  crates/cli/commands/src/re_execute.rs
  crates/e2e-test-utils/src/testsuite/actions/mod.rs
  crates/engine/invalid-block-hooks/src/witness.rs
  crates/engine/primitives/src/error.rs
  crates/engine/primitives/src/message.rs
  crates/engine/tree/src/tree/mod.rs
  crates/engine/tree/src/tree/payload_validator.rs
  crates/engine/tree/src/tree/tests.rs
  crates/ethereum/evm/tests/execute.rs
  crates/evm/evm/src/execute.rs
  crates/exex/exex/src/backfill/job.rs
  crates/exex/exex/src/backfill/test_utils.rs
  crates/optimism/evm/src/execute.rs
  crates/payload/builder/src/service.rs
  crates/payload/primitives/src/lib.rs
  crates/ress/provider/src/lib.rs
  crates/rpc/rpc-engine-api/src/engine_api.rs
  crates/rpc/rpc-eth-api/Cargo.toml
  crates/rpc/rpc-eth-types/Cargo.toml
  crates/rpc/rpc/Cargo.toml
  crates/rpc/rpc/src/debug.rs
  crates/rpc/rpc/src/validation.rs
  crates/stages/stages/src/stages/execution.rs
  crates/stateless/src/validation.rs
  crates/transaction-pool/tests/it/inclusion_list.rs
  testing/ef-tests/src/cases/blockchain_test.rs
Owners: @gakonst, @mattsse, @Rjected, @rkrasiuk, @fgimenez, @rakita, @shekhirin, @RomanHodulak

specialize get_transaction_receipt for flashblocks
  crates/optimism/rpc/src/eth/transaction.rs
Owners: @mattsse, @Rjected, @fgimenez

refactor: more type-safety in cli
  crates/cli/commands/src/common.rs
  crates/ethereum/cli/src/interface.rs
  crates/optimism/cli/src/app.rs
Owners: @mattsse, @Rjected, @fgimenez

perf(trie): Use ParallelSparseTrie (if enabled) for storage tries (#17959)
  crates/engine/tree/src/tree/payload_processor/configured_sparse_trie.rs
  crates/engine/tree/src/tree/payload_processor/mod.rs
  crates/engine/tree/src/tree/payload_processor/sparse_trie.rs
  crates/trie/sparse-parallel/src/trie.rs
  crates/trie/sparse/src/state.rs
  crates/trie/sparse/src/trie.rs
Owners: @rkrasiuk, @mattsse, @Rjected, @fgimenez, @shekhirin, @mediocregopher

perf(trie): Use ParallelSparseTrie (if enabled) for storage tries (#17959)
  crates/engine/tree/src/tree/payload_processor/configured_sparse_trie.rs
  crates/engine/tree/src/tree/payload_processor/mod.rs
  crates/engine/tree/src/tree/payload_processor/sparse_trie.rs
  crates/trie/sparse-parallel/src/trie.rs
  crates/trie/sparse/src/state.rs
  crates/trie/sparse/src/trie.rs
Owners: @rkrasiuk, @mattsse, @Rjected, @fgimenez, @shekhirin, @mediocregopher

fmt
  crates/engine/tree/src/tree/mod.rs
Owners: @rkrasiuk, @mattsse, @Rjected, @fgimenez

typo
  crates/engine/tree/src/tree/mod.rs
Owners: @rkrasiuk, @mattsse, @Rjected, @fgimenez

refactor: consolidate worker task spawning into a dedicated method in prewarm.rs
  crates/engine/tree/src/tree/payload_processor/prewarm.rs
Owners: @rkrasiuk, @mattsse, @Rjected, @fgimenez

feat: add error handling for transaction sending in prewarm.rs
  crates/engine/tree/src/tree/payload_processor/prewarm.rs
Owners: @rkrasiuk, @mattsse, @Rjected, @fgimenez

Handles the first transaction outside the main loop
  crates/engine/tree/src/tree/payload_processor/prewarm.rs
Owners: @rkrasiuk, @mattsse, @Rjected, @fgimenez

spawn workers optimistically
  crates/engine/tree/src/tree/payload_processor/prewarm.rs
Owners: @rkrasiuk, @mattsse, @Rjected, @fgimenez

fmt
  crates/engine/tree/src/tree/payload_processor/prewarm.rs
Owners: @rkrasiuk, @mattsse, @Rjected, @fgimenez

Update comment to clarify worker spawning logic in prewarm.rs
  crates/engine/tree/src/tree/payload_processor/prewarm.rs
Owners: @rkrasiuk, @mattsse, @Rjected, @fgimenez

move function down
  crates/engine/tree/src/tree/payload_processor/prewarm.rs
Owners: @rkrasiuk, @mattsse, @Rjected, @fgimenez

.github/CODEOWNERS:

*                           @gakonst
crates/blockchain-tree-api/ @rakita @rkrasiuk @mattsse @Rjected
crates/blockchain-tree/     @rakita @rkrasiuk @mattsse @Rjected
crates/chain-state/         @fgimenez @mattsse @rkrasiuk
crates/chainspec/           @Rjected @joshieDo @mattsse
crates/cli/                 @mattsse
crates/consensus/           @rkrasiuk @mattsse @Rjected
crates/e2e-test-utils/      @mattsse @Rjected
crates/engine               @rkrasiuk @mattsse @Rjected
crates/engine/              @rkrasiuk @mattsse @Rjected @fgimenez
crates/era/                 @mattsse @RomanHodulak
crates/errors/              @mattsse
crates/ethereum-forks/      @mattsse @Rjected
crates/ethereum/            @mattsse @Rjected
crates/etl/                 @joshieDo @shekhirin
crates/evm/                 @rakita @mattsse @Rjected
crates/exex/                @shekhirin
crates/net/                 @mattsse @Rjected
crates/net/downloaders/     @rkrasiuk
crates/node/                @mattsse @Rjected @klkvr
crates/optimism/            @mattsse @Rjected @fgimenez
crates/payload/             @mattsse @Rjected
crates/primitives-traits/   @Rjected @RomanHodulak @mattsse @klkvr
crates/primitives/          @Rjected @mattsse @klkvr
crates/prune/               @shekhirin @joshieDo
crates/ress                 @rkrasiuk
crates/revm/                @mattsse @rakita
crates/rpc/                 @mattsse @Rjected @RomanHodulak
crates/stages/              @rkrasiuk @shekhirin
crates/static-file/         @joshieDo @shekhirin
crates/storage/codecs/      @joshieDo
crates/storage/db-api/      @joshieDo @rakita
crates/storage/db-common/   @Rjected
crates/storage/db/          @joshieDo @rakita
crates/storage/errors/      @rakita
crates/storage/libmdbx-rs/  @rakita @shekhirin
crates/storage/nippy-jar/   @joshieDo @shekhirin
crates/storage/provider/    @rakita @joshieDo @shekhirin
crates/storage/storage-api/ @joshieDo @rkrasiuk
crates/tasks/               @mattsse
crates/tokio-util/          @fgimenez
crates/transaction-pool/    @mattsse
crates/trie/                @rkrasiuk @Rjected @shekhirin @mediocregopher
etc/                        @Rjected @shekhirin
.github/                    @gakonst @DaniPopes
