Repository paradigmxyz/reth, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gakonst, @rakita, @rkrasiuk, @mattsse, @Rjected, @fgimenez, @joshieDo, @RomanHodulak, @shekhirin, @klkvr, @mediocregopher, @DaniPopes

.github/CODEOWNERS:

*                           @gakonst
crates/blockchain-tree-api/ @rakita @rkrasiuk @mattsse @Rjected
crates/blockchain-tree/     @rakita @rkrasiuk @mattsse @Rjected
crates/chain-state/         @fgimenez @mattsse @rkrasiuk
crates/chainspec/           @Rjected @joshieDo @mattsse
crates/cli/                 @mattsse
crates/consensus/           @rkrasiuk @mattsse @Rjected
crates/e2e-test-utils/      @mattsse @Rjected
crates/engine               @rkrasiuk @mattsse @Rjected
crates/engine/              @rkrasiuk @mattsse @Rjected @fgimenez
crates/era/                 @mattsse @RomanHodulak
crates/errors/              @mattsse
crates/ethereum-forks/      @mattsse @Rjected
crates/ethereum/            @mattsse @Rjected
crates/etl/                 @joshieDo @shekhirin
crates/evm/                 @rakita @mattsse @Rjected
crates/exex/                @shekhirin
crates/net/                 @mattsse @Rjected
crates/net/downloaders/     @rkrasiuk
crates/node/                @mattsse @Rjected @klkvr
crates/optimism/            @mattsse @Rjected @fgimenez
crates/payload/             @mattsse @Rjected
crates/primitives-traits/   @Rjected @RomanHodulak @mattsse @klkvr
crates/primitives/          @Rjected @mattsse @klkvr
crates/prune/               @shekhirin @joshieDo
crates/ress                 @rkrasiuk
crates/revm/                @mattsse @rakita
crates/rpc/                 @mattsse @Rjected @RomanHodulak
crates/stages/              @rkrasiuk @shekhirin
crates/static-file/         @joshieDo @shekhirin
crates/storage/codecs/      @joshieDo
crates/storage/db-api/      @joshieDo @rakita
crates/storage/db-common/   @Rjected
crates/storage/db/          @joshieDo @rakita
crates/storage/errors/      @rakita
crates/storage/libmdbx-rs/  @rakita @shekhirin
crates/storage/nippy-jar/   @joshieDo @shekhirin
crates/storage/provider/    @rakita @joshieDo @shekhirin
crates/storage/storage-api/ @joshieDo @rkrasiuk
crates/tasks/               @mattsse
crates/tokio-util/          @fgimenez
crates/transaction-pool/    @mattsse
crates/trie/                @rkrasiuk @Rjected @shekhirin @mediocregopher
etc/                        @Rjected @shekhirin
.github/                    @gakonst @DaniPopes

done
  Cargo.toml
  crates/rpc/rpc/Cargo.toml
Owners: @gakonst, @mattsse, @Rjected, @RomanHodulak

fixes
  Cargo.lock
Owners: @gakonst

fixe
  Cargo.toml
Owners: @gakonst

cleanup
  crates/e2e-test-utils/tests/e2e-testsuite/trie_corruption_test.rs
Owners: @mattsse, @Rjected

fix: update expected payload status in trie corruption tests
  crates/e2e-test-utils/tests/e2e-testsuite/trie_corruption_test.rs
Owners: @mattsse, @Rjected

fix: DB benches
  Cargo.lock
  crates/prune/types/Cargo.toml
  crates/storage/db/Cargo.toml
Owners: @gakonst, @shekhirin, @joshieDo, @rakita

fixes
  .github/assets/hive/build_simulators.sh
  Cargo.lock
Owners: @gakonst, @DaniPopes

fixes
  .github/workflows/hive.yml
Owners: @gakonst, @DaniPopes

Revert "fix: filter zero storage values when computing withdrawals root in ge…"
  crates/optimism/chainspec/src/lib.rs
Owners: @mattsse, @Rjected, @fgimenez

feat(optimism): Spawn blocking task for pending block builds in `FlashBlockService` (#18294)
  Cargo.lock
  crates/optimism/flashblocks/Cargo.toml
  crates/optimism/flashblocks/src/service.rs
  crates/optimism/flashblocks/src/worker.rs
  crates/optimism/rpc/src/eth/mod.rs
Owners: @gakonst, @mattsse, @Rjected, @fgimenez

Lints
  Cargo.lock
  crates/trie/trie/Cargo.toml
  crates/trie/trie/src/trie_cursor/depth_first.rs
  crates/trie/trie/src/verify.rs
  docs/vocs/docs/pages/cli/SUMMARY.mdx
  docs/vocs/docs/pages/cli/reth/db.mdx
Owners: @gakonst, @rkrasiuk, @Rjected, @shekhirin, @mediocregopher

refactor: remove redundant double .into() conversion in eth core
  crates/rpc/rpc/src/eth/core.rs
Owners: @mattsse, @Rjected, @RomanHodulak

feat: pub necessary fields
  crates/transaction-pool/src/pool/mod.rs
  crates/transaction-pool/src/pool/pending.rs
  crates/transaction-pool/src/pool/txpool.rs
  crates/transaction-pool/src/validate/mod.rs
Owners: @mattsse

feat: add new_transaction_receiver
  crates/transaction-pool/src/pool/pending.rs
Owners: @mattsse

chore(trie): dont warn on blinded node reveals
  crates/trie/sparse-parallel/src/trie.rs
  crates/trie/sparse/src/trie.rs
Owners: @rkrasiuk, @Rjected, @shekhirin, @mediocregopher

refactor: make clippy happy
  crates/transaction-pool/src/pool/pending.rs
Owners: @mattsse

chore: touchups
  crates/optimism/flashblocks/src/service.rs
  crates/optimism/flashblocks/src/worker.rs
Owners: @mattsse, @Rjected, @fgimenez

chore(trie): dont warn on blinded node reveals (#18317)
  crates/trie/sparse-parallel/src/trie.rs
  crates/trie/sparse/src/trie.rs
Owners: @rkrasiuk, @Rjected, @shekhirin, @mediocregopher

chore(trie): dont warn on blinded node reveals (#18317)
  crates/trie/sparse-parallel/src/trie.rs
  crates/trie/sparse/src/trie.rs
Owners: @rkrasiuk, @Rjected, @shekhirin, @mediocregopher

refactor(optimism): Extract pending block building responsibility out of `FlashBlockService` (#18247)
  Cargo.lock
  crates/optimism/flashblocks/Cargo.toml
  crates/optimism/flashblocks/src/lib.rs
  crates/optimism/flashblocks/src/service.rs
  crates/optimism/flashblocks/src/worker.rs
  crates/optimism/rpc/src/eth/mod.rs
Owners: @gakonst, @mattsse, @Rjected, @fgimenez

refactor(optimism): Extract pending block building responsibility out of `FlashBlockService` (#18247)
  Cargo.lock
  crates/optimism/flashblocks/Cargo.toml
  crates/optimism/flashblocks/src/lib.rs
  crates/optimism/flashblocks/src/service.rs
  crates/optimism/flashblocks/src/worker.rs
  crates/optimism/rpc/src/eth/mod.rs
Owners: @gakonst, @mattsse, @Rjected, @fgimenez

vocs fix
  docs/vocs/docs/pages/cli/reth/db/repair-trie.mdx
Owners: @gakonst

lint
  crates/trie/trie/src/trie_cursor/depth_first.rs
Owners: @rkrasiuk, @Rjected, @shekhirin, @mediocregopher

rerun
  Cargo.lock
Owners: @gakonst

feat: flashblock completed sequences
  crates/optimism/flashblocks/src/sequence.rs
  crates/optimism/flashblocks/src/service.rs
Owners: @mattsse, @Rjected, @fgimenez

refactor: change PendingPool and PendingTransaction visibility to pub (#18267)
  crates/transaction-pool/src/pool/mod.rs
  crates/transaction-pool/src/pool/pending.rs
  crates/transaction-pool/src/pool/txpool.rs
  crates/transaction-pool/src/validate/mod.rs
Owners: @mattsse

refactor: change PendingPool and PendingTransaction visibility to pub (#18267)
  crates/transaction-pool/src/pool/mod.rs
  crates/transaction-pool/src/pool/pending.rs
  crates/transaction-pool/src/pool/txpool.rs
  crates/transaction-pool/src/validate/mod.rs
Owners: @mattsse

feat: flashblock completed sequences
  crates/optimism/flashblocks/src/sequence.rs
  crates/optimism/flashblocks/src/service.rs
Owners: @mattsse, @Rjected, @fgimenez

feat: change visibility + doc
  crates/optimism/flashblocks/src/lib.rs
  crates/optimism/flashblocks/src/sequence.rs
Owners: @mattsse, @Rjected, @fgimenez

fix: doc
  crates/optimism/flashblocks/src/sequence.rs
Owners: @mattsse, @Rjected, @fgimenez

Reword inconsistency warning
  crates/cli/commands/src/db/repair_trie.rs
Owners: @mattsse

refactor(engine): persistence logic (#18318)
  crates/engine/tree/src/tree/mod.rs
  crates/engine/tree/src/tree/payload_validator.rs
Owners: @rkrasiuk, @mattsse, @Rjected, @fgimenez

refactor(engine): persistence logic (#18318)
  crates/engine/tree/src/tree/mod.rs
  crates/engine/tree/src/tree/payload_validator.rs
Owners: @rkrasiuk, @mattsse, @Rjected, @fgimenez

feat(optimism): flashblock completed sequences (#18272)
  crates/optimism/flashblocks/src/lib.rs
  crates/optimism/flashblocks/src/sequence.rs
  crates/optimism/flashblocks/src/service.rs
Owners: @mattsse, @Rjected, @fgimenez

feat(optimism): flashblock completed sequences (#18272)
  crates/optimism/flashblocks/src/lib.rs
  crates/optimism/flashblocks/src/sequence.rs
  crates/optimism/flashblocks/src/service.rs
Owners: @mattsse, @Rjected, @fgimenez

fix
  Cargo.lock
Owners: @gakonst

fix: verify_execution_witness doc for pre-state mismatch
  crates/stateless/src/trie.rs
Owners: @gakonst

feat(trie): Add helper sub-command (#18301)
  Cargo.lock
  crates/cli/commands/Cargo.toml
  crates/cli/commands/src/db/mod.rs
  crates/cli/commands/src/db/repair_trie.rs
  crates/trie/trie/Cargo.toml
  crates/trie/trie/src/lib.rs
  crates/trie/trie/src/trie_cursor/depth_first.rs
  crates/trie/trie/src/trie_cursor/mod.rs
  crates/trie/trie/src/verify.rs
  docs/vocs/docs/pages/cli/SUMMARY.mdx
  docs/vocs/docs/pages/cli/reth/db/repair-trie.mdx
Owners: @gakonst, @mattsse, @rkrasiuk, @Rjected, @shekhirin, @mediocregopher

feat(trie): Add helper sub-command (#18301)
  Cargo.lock
  crates/cli/commands/Cargo.toml
  crates/cli/commands/src/db/mod.rs
  crates/cli/commands/src/db/repair_trie.rs
  crates/trie/trie/Cargo.toml
  crates/trie/trie/src/lib.rs
  crates/trie/trie/src/trie_cursor/depth_first.rs
  crates/trie/trie/src/trie_cursor/mod.rs
  crates/trie/trie/src/verify.rs
  docs/vocs/docs/pages/cli/SUMMARY.mdx
  docs/vocs/docs/pages/cli/reth/db/repair-trie.mdx
Owners: @gakonst, @mattsse, @rkrasiuk, @Rjected, @shekhirin, @mediocregopher

Fix query range and cleanup log-index dependencies
  Cargo.lock
  crates/log-index/Cargo.toml
  crates/log-index/src/indexer.rs
  crates/log-index/src/params.rs
  crates/log-index/src/query.rs
  crates/stages/stages/src/stages/index_logs.rs
  docs/vocs/docs/pages/cli/reth/stage/drop.mdx
  docs/vocs/docs/pages/cli/reth/stage/run.mdx
Owners: @gakonst, @rkrasiuk, @shekhirin
