Repository paradigmxyz/reth, pull requests merged in 2023-10, with the labels that each got.

#4870 fix(tx-pool) make BestTransactionsAttributes public
  crates/transaction-pool/src/lib.rs
Labels: C-debt, A-tx-pool

#4872 Add test to example rpc extension
  Cargo.lock
  examples/additional-rpc-namespace-in-cli/Cargo.toml
  examples/additional-rpc-namespace-in-cli/src/main.rs
Labels: C-test

#4873 fix(execution): reset tx env blob settings
  crates/revm/revm-primitives/src/env.rs
Labels: C-bug, A-execution, E-cancun

#4875 feat: add sync fn to send a lookup message
  crates/net/discv4/src/lib.rs
Labels: A-networking

#4881 chore(deps): move more things to workspace
  Cargo.lock
  Cargo.toml
  bin/reth/Cargo.toml
  crates/config/Cargo.toml
  crates/interfaces/Cargo.toml
  crates/net/downloaders/Cargo.toml
  crates/net/network/Cargo.toml
  crates/primitives/Cargo.toml
  crates/rpc/rpc/Cargo.toml
  crates/storage/db/Cargo.toml
  crates/storage/libmdbx-rs/Cargo.toml
  crates/storage/nippy-jar/Cargo.toml
  crates/storage/provider/Cargo.toml
  examples/additional-rpc-namespace-in-cli/Cargo.toml
Labels: A-dependencies

#4882 fix: check active hardforks using head block for validator
  bin/reth/src/node/mod.rs
  crates/transaction-pool/src/validate/eth.rs
Labels: C-bug, A-tx-pool

#4818 feat: support trace_filter
  Cargo.lock
  crates/rpc/rpc-api/src/trace.rs
  crates/rpc/rpc-builder/tests/it/http.rs
  crates/rpc/rpc-types/src/eth/trace/filter.rs
  crates/rpc/rpc/src/trace.rs
Labels: C-enhancement, M-changelog, A-rpc

#4879 feat: add discv4 terminate
  crates/net/discv4/src/lib.rs
Labels: C-enhancement, A-networking

#4886 Update private-testnet.md
  book/run/private-testnet.md
Labels: C-docs

#4894 refactor: move broadcast channel init into tree
  bin/reth/src/node/mod.rs
  crates/blockchain-tree/Cargo.toml
  crates/blockchain-tree/src/blockchain_tree.rs
  crates/consensus/beacon/src/engine/test_utils.rs
Labels: C-debt

#4439 change transaction value fields from u128 to a wrapper-type of U256
  Cargo.lock
  bin/reth/src/main.rs
  crates/consensus/common/src/validation.rs
  crates/interfaces/src/test_utils/generators.rs
  crates/net/network/tests/it/requests.rs
  crates/primitives/Cargo.toml
  crates/primitives/src/lib.rs
  crates/primitives/src/precaution.rs
  crates/primitives/src/transaction/eip1559.rs
  crates/primitives/src/transaction/eip2930.rs
  crates/primitives/src/transaction/eip4844.rs
  crates/primitives/src/transaction/legacy.rs
  crates/primitives/src/transaction/mod.rs
  crates/primitives/src/transaction/tx_value.rs
  crates/revm/revm-primitives/src/env.rs
  crates/rpc/rpc-types-compat/src/transaction/mod.rs
  crates/rpc/rpc-types/src/eth/transaction/typed.rs
  crates/rpc/rpc/src/txpool.rs
  crates/storage/codecs/Cargo.toml
  crates/storage/codecs/derive/Cargo.toml
  crates/storage/codecs/derive/src/compact/mod.rs
  crates/transaction-pool/src/test_utils/mock.rs
  crates/transaction-pool/src/traits.rs
Labels: C-enhancement, A-db

#4867 intrinsic gas check
  Cargo.lock
  crates/primitives/src/lib.rs
  crates/primitives/src/transaction/access_list.rs
  crates/primitives/src/transaction/mod.rs
  crates/revm/revm-primitives/Cargo.toml
  crates/revm/revm-primitives/src/compat.rs
  crates/rpc/rpc/src/eth/error.rs
  crates/rpc/rpc/src/eth/revm_utils.rs
  crates/transaction-pool/Cargo.toml
  crates/transaction-pool/src/error.rs
  crates/transaction-pool/src/test_utils/mock.rs
  crates/transaction-pool/src/traits.rs
  crates/transaction-pool/src/validate/eth.rs
Labels: A-tx-pool

#4900 fix: export everything from traits mod
  crates/transaction-pool/src/lib.rs
Labels: C-debt, A-tx-pool

#4890 feat: add `lz4` to `NippyJar`
  Cargo.lock
  bin/reth/src/db/snap.rs
  crates/storage/nippy-jar/Cargo.toml
  crates/storage/nippy-jar/src/compression/lz4.rs
  crates/storage/nippy-jar/src/compression/mod.rs
  crates/storage/nippy-jar/src/compression/zstd.rs
  crates/storage/nippy-jar/src/cursor.rs
  crates/storage/nippy-jar/src/error.rs
  crates/storage/nippy-jar/src/lib.rs
  crates/storage/provider/src/providers/snapshot.rs
Labels: C-enhancement, A-snapshots

#4880 feat(pruner): shared deletion limit
  bin/reth/src/node/events.rs
  bin/reth/src/node/mod.rs
  crates/consensus/beacon/src/engine/test_utils.rs
  crates/interfaces/src/blockchain_tree/error.rs
  crates/interfaces/src/test_utils/generators.rs
  crates/primitives/src/chain/spec.rs
  crates/primitives/src/lib.rs
  crates/primitives/src/prune/batch_sizes.rs
  crates/primitives/src/prune/mod.rs
  crates/prune/src/event.rs
  crates/prune/src/pruner.rs
  crates/storage/provider/src/providers/database/provider.rs
  crates/storage/provider/src/providers/mod.rs
  crates/storage/provider/src/providers/snapshot.rs
  crates/trie/src/trie_cursor/account_cursor.rs
Labels: C-enhancement, A-pruning

#4907 fix: manually implements `arbitrary` for `TxValue`
  crates/primitives/src/transaction/tx_value.rs
Labels: C-bug, A-cli

#4895 refactor: simplify RethNodeCommandConfig trait
  bin/reth/src/args/rpc_server_args.rs
  bin/reth/src/cli/components.rs
  bin/reth/src/cli/ext.rs
  bin/reth/src/cli/mod.rs
  bin/reth/src/node/mod.rs
  examples/additional-rpc-namespace-in-cli/src/main.rs
Labels: M-changelog, A-cli

#4915 fix: delegate all calls
  bin/reth/src/cli/ext.rs
Labels: C-debt, A-cli

#4916 chore: make unit type default
  bin/reth/src/cli/ext.rs
Labels: C-debt, A-cli

#4913 fix: add blob_gas_used after succesful tx execution
  crates/payload/basic/src/lib.rs
  crates/rpc/rpc/src/eth/api/pending_block.rs
Labels: C-bug, A-rpc, A-consensus, A-block-building, C-test

#4887 refactor(prune): segment trait, receipts impl
  bin/reth/src/args/pruning_args.rs
  bin/reth/src/chain/import.rs
  bin/reth/src/debug_cmd/execution.rs
  bin/reth/src/node/events.rs
  bin/reth/src/node/mod.rs
  bin/reth/src/stage/run.rs
  book/run/config.md
  book/run/pruning.md
  crates/config/src/config.rs
  crates/consensus/beacon/src/engine/hooks/prune.rs
  crates/consensus/beacon/src/engine/hooks/snapshot.rs
  crates/interfaces/src/executor.rs
  crates/primitives/src/lib.rs
  crates/primitives/src/prune/checkpoint.rs
  crates/primitives/src/prune/mod.rs
  crates/primitives/src/prune/mode.rs
  crates/primitives/src/prune/part.rs
  crates/primitives/src/prune/segment.rs
  crates/primitives/src/prune/target.rs
  crates/primitives/src/receipt.rs
  crates/prune/src/error.rs
  crates/prune/src/event.rs
  crates/prune/src/lib.rs
  crates/prune/src/metrics.rs
  crates/prune/src/pruner.rs
  crates/prune/src/segments/mod.rs
  crates/prune/src/segments/receipts.rs
  crates/revm/src/processor.rs
  crates/snapshot/src/snapshotter.rs
  crates/stages/src/error.rs
  crates/stages/src/stages/index_account_history.rs
  crates/stages/src/stages/index_storage_history.rs
  crates/stages/src/stages/sender_recovery.rs
  crates/stages/src/stages/tx_lookup.rs
  crates/storage/db/src/tables/mod.rs
  crates/storage/db/src/tables/models/mod.rs
  crates/storage/provider/src/providers/database/mod.rs
  crates/storage/provider/src/providers/database/provider.rs
  crates/storage/provider/src/providers/mod.rs
  crates/storage/provider/src/providers/state/historical.rs
  crates/storage/provider/src/test_utils/noop.rs
  crates/storage/provider/src/traits/prune_checkpoint.rs
  etc/grafana/dashboards/overview.json
Labels: C-debt, A-pruning

#4922 Simplify node components
  bin/reth/src/args/rpc_server_args.rs
  bin/reth/src/cli/components.rs
  bin/reth/src/cli/ext.rs
  examples/additional-rpc-namespace-in-cli/src/main.rs
Labels: M-changelog, A-cli

#4923 chore: rm redundant if empty check
  crates/payload/basic/src/lib.rs
Labels: C-debt

#4925 chore: `BlobsBundle::take`
  crates/rpc/rpc-types/src/eth/engine/payload.rs
Labels: A-utils, E-cancun

#4920 feat: add ipc path to config
  bin/reth/src/args/gas_price_oracle_args.rs
  bin/reth/src/args/rpc_server_args.rs
  bin/reth/src/cli/config.rs
  crates/rpc/rpc-builder/src/auth.rs
Labels: A-rpc, A-cli

#4926 chore(payload): additional debug logs
  crates/payload/basic/src/lib.rs
Labels: A-block-building, A-observability

#4924 fix(engine): always push back hooks, add tests
  crates/consensus/beacon/src/engine/hooks/controller.rs
  crates/consensus/beacon/src/engine/hooks/mod.rs
Labels: C-bug, A-consensus, C-test

#4912 feat: add metrics to engine RPC API
  Cargo.lock
  crates/rpc/rpc-engine-api/Cargo.toml
  crates/rpc/rpc-engine-api/src/engine_api.rs
  crates/rpc/rpc-engine-api/src/lib.rs
  crates/rpc/rpc-engine-api/src/metrics.rs
Labels: C-enhancement, M-changelog, A-rpc, A-observability

#4927 impl for Eip2930
  crates/transaction-pool/src/test_utils/mock.rs
Labels: C-debt, C-test

#4914 feat(cli): debug build block
  bin/reth/src/debug_cmd/build_block.rs
  bin/reth/src/debug_cmd/mod.rs
  crates/payload/basic/src/lib.rs
Labels: C-enhancement, A-block-building, A-cli

#4889 feat: add `reth db snapshot <TYPE>` command
  Cargo.lock
  bin/reth/Cargo.toml
  bin/reth/src/db/mod.rs
  bin/reth/src/db/snapshots/bench.rs
  bin/reth/src/db/snapshots/headers.rs
  bin/reth/src/db/snapshots/mod.rs
  crates/storage/db/Cargo.toml
  crates/storage/db/src/snapshot.rs
  crates/storage/nippy-jar/Cargo.toml
  crates/storage/nippy-jar/src/compression/lz4.rs
  crates/storage/nippy-jar/src/compression/mod.rs
  crates/storage/nippy-jar/src/compression/zstd.rs
  crates/storage/nippy-jar/src/cursor.rs
  crates/storage/nippy-jar/src/error.rs
  crates/storage/nippy-jar/src/filter/cuckoo.rs
  crates/storage/nippy-jar/src/lib.rs
  crates/storage/nippy-jar/src/phf/fmph.rs
  crates/storage/nippy-jar/src/phf/go_fmph.rs
  crates/storage/provider/src/providers/snapshot.rs
Labels: C-enhancement, A-snapshots

#4928 fix: only accept rpc enveloped format for transactions in payload
  crates/payload/builder/src/payload.rs
  crates/primitives/src/transaction/mod.rs
  crates/primitives/src/transaction/pooled.rs
  crates/rpc/rpc-engine-api/tests/it/payload.rs
  crates/rpc/rpc-types-compat/src/engine/mod.rs
  crates/rpc/rpc-types-compat/src/engine/payload.rs
Labels: C-docs, A-rpc, A-consensus, A-utils

#4935 feat: add cli ext event hooks example
  Cargo.lock
  Cargo.toml
  bin/reth/src/cli/ext.rs
  bin/reth/src/cli/mod.rs
  examples/cli-extension-event-hooks/Cargo.toml
  examples/cli-extension-event-hooks/src/main.rs
Labels: C-docs, C-enhancement, A-cli

#4931 fix: filter out unchanged account states in diff mode
  crates/revm/revm-inspectors/src/tracing/builder/geth.rs
  crates/rpc/rpc-types/src/eth/trace/geth/pre_state.rs
Labels: M-changelog, A-rpc

#4934 fix: improve account diff populate
  crates/revm/revm-inspectors/src/tracing/builder/parity.rs
  crates/rpc/rpc/src/trace.rs
Labels: C-bug, A-rpc

#4946 (chore) fix vergen git sha in docker
  .dockerignore
Labels: A-meta

#4952 chore: add some geth tracer ergonomics
  crates/rpc/rpc-types/src/eth/trace/geth/call.rs
  crates/rpc/rpc-types/src/eth/trace/geth/mod.rs
Labels: A-rpc

#4950 Better topic0
  crates/rpc/rpc-types/src/eth/filter.rs
  examples/db-access.rs
Labels: C-debt, A-rpc

#4937 feat(prune): transactions segment
  crates/primitives/src/prune/segment.rs
  crates/prune/src/pruner.rs
  crates/prune/src/segments/mod.rs
  crates/prune/src/segments/transactions.rs
Labels: C-enhancement, A-pruning

#4483 fix: Match prestate tracer to Geth spec, fix storage diff misattribution
  crates/revm/revm-inspectors/src/tracing/builder/geth.rs
  crates/revm/revm-inspectors/src/tracing/mod.rs
  crates/revm/revm-inspectors/src/tracing/types.rs
  crates/rpc/rpc-types/src/eth/trace/geth/mod.rs
  crates/rpc/rpc-types/src/eth/trace/geth/pre_state.rs
Labels: C-bug, A-rpc

#4960 Added trivial implementation of MockEthProvider for completeness.
  crates/storage/provider/src/test_utils/mock.rs
Labels: C-test

#4957 chore: phase out Substate::new
  crates/rpc/rpc/src/debug.rs
  crates/rpc/rpc/src/eth/api/call.rs
  crates/rpc/rpc/src/eth/api/transactions.rs
  crates/rpc/rpc/src/trace.rs
Labels: C-debt

#4944 perf: disable nagle algorithm for rlpx sessions
  crates/net/network/src/listener.rs
  crates/net/network/src/session/mod.rs
Labels: C-perf, A-networking

#4963 docs: fix typos
  book/installation/build-for-arm-devices.md
  book/run/private-testnet.md
Labels: C-docs

#4947 feat: Feat/add on rpc server started hook
  bin/reth/Cargo.toml
  bin/reth/src/args/rpc_server_args.rs
  bin/reth/src/cli/components.rs
  bin/reth/src/cli/ext.rs
  bin/reth/src/node/mod.rs
  crates/rpc/rpc-builder/src/lib.rs
Labels: M-changelog, A-cli

#4966 fix: use pending block tag for actual pending block
  crates/rpc/rpc/src/eth/api/mod.rs
  crates/rpc/rpc/src/eth/api/pending_block.rs
  crates/rpc/rpc/src/eth/api/transactions.rs
  crates/storage/provider/src/providers/mod.rs
  crates/storage/provider/src/traits/state.rs
Labels: C-bug, A-rpc

#4981 chore: remove consensus generic
  crates/blockchain-tree/src/blockchain_tree.rs
  crates/blockchain-tree/src/chain.rs
  crates/blockchain-tree/src/externals.rs
  crates/blockchain-tree/src/shareable.rs
  crates/consensus/beacon/src/engine/test_utils.rs
Labels: C-debt, A-blockchain-tree

#4982 feat(test): add debug trace ext helpers
  crates/rpc/rpc-testing-util/src/debug.rs
  crates/rpc/rpc-testing-util/src/trace.rs
  crates/rpc/rpc-types/src/eth/block.rs
Labels: C-bug, A-rpc, C-test

#4990 minor doc update on how to run individual tests
  CONTRIBUTING.md
Labels: C-docs

#4978 notify full transaction listeners (4902)
  crates/rpc/rpc/src/eth/pubsub.rs
  crates/transaction-pool/src/pool/mod.rs
Labels: A-tx-pool

#4994 docs: add note about ignore version field
  crates/net/discv4/src/proto.rs
Labels: C-docs

#4959 Large tx integration test
  crates/net/network/src/test_utils/testnet.rs
  crates/net/network/tests/it/big_pooled_txs_req.rs
  crates/net/network/tests/it/main.rs
  crates/transaction-pool/src/test_utils/mock.rs
Labels: C-test, A-networking

#4984 chore: simplify HashedCursorFactory trait
  bin/reth/src/debug_cmd/in_memory_merkle.rs
  crates/storage/provider/src/bundle_state/bundle_state_with_receipts.rs
  crates/trie/src/hashed_cursor/default.rs
  crates/trie/src/hashed_cursor/mod.rs
  crates/trie/src/hashed_cursor/post_state.rs
  crates/trie/src/proof.rs
  crates/trie/src/trie.rs
Labels: C-debt, A-trie

#4964 feat(bin, prune): pass prune segments from CLI & refactor modes
  Cargo.lock
  bin/reth/src/node/mod.rs
  bin/reth/src/stage/run.rs
  crates/consensus/beacon/src/engine/test_utils.rs
  crates/primitives/Cargo.toml
  crates/primitives/src/prune/mod.rs
  crates/primitives/src/prune/mode.rs
  crates/primitives/src/prune/segment.rs
  crates/primitives/src/prune/target.rs
  crates/prune/src/lib.rs
  crates/prune/src/pruner.rs
  crates/prune/src/segments/account_history.rs
  crates/prune/src/segments/headers.rs
  crates/prune/src/segments/mod.rs
  crates/prune/src/segments/receipts.rs
  crates/prune/src/segments/receipts_by_logs.rs
  crates/prune/src/segments/sender_recovery.rs
  crates/prune/src/segments/set.rs
  crates/prune/src/segments/storage_history.rs
  crates/prune/src/segments/transaction_lookup.rs
  crates/prune/src/segments/transactions.rs
  crates/revm/src/processor.rs
  crates/stages/benches/criterion.rs
  crates/stages/src/stages/index_account_history.rs
  crates/stages/src/stages/index_storage_history.rs
  crates/stages/src/stages/mod.rs
  crates/stages/src/stages/tx_lookup.rs
Labels: C-enhancement, C-debt, A-cli, A-pruning

#4988 chore: ask for node type in `bug.yml` issue template
  .github/ISSUE_TEMPLATE/bug.yml
Labels: A-meta

#4993 chore: extract validate tx impl from trait impl
  crates/transaction-pool/src/validate/eth.rs
  crates/transaction-pool/src/validate/mod.rs
Labels: C-debt, A-tx-pool

#4997 fix(ef-tests): seal engine typo and deserialization
  testing/ef-tests/src/models.rs
Labels: C-bug, C-test

#4995 feat(ef-tests): validate state root
  README.md
  testing/ef-tests/src/cases/blockchain_test.rs
  testing/ef-tests/src/models.rs
  testing/ef-tests/src/result.rs
Labels: C-enhancement, C-test

#4996 chore: replace deprecated hub with gh for releases
  .github/workflows/release.yml
Labels: A-meta

#5000 feat: add TreeState container type
  crates/blockchain-tree/src/blockchain_tree.rs
  crates/blockchain-tree/src/lib.rs
  crates/blockchain-tree/src/state.rs
Labels: C-debt, A-blockchain-tree

#4974 update trace_filter, trace block only to highest matching index
  crates/rpc/rpc/src/trace.rs
Labels: C-perf, A-rpc

#5006 Adding EthTransactionValidator::validate_all function
  crates/transaction-pool/src/validate/eth.rs
Labels: A-tx-pool

#4976 feat: track encoded length with pooled txs
  bin/reth/src/debug_cmd/build_block.rs
  crates/net/eth-wire/tests/pooled_transactions.rs
  crates/net/network/src/transactions.rs
  crates/primitives/src/transaction/eip1559.rs
  crates/primitives/src/transaction/eip2930.rs
  crates/primitives/src/transaction/eip4844.rs
  crates/primitives/src/transaction/mod.rs
  crates/primitives/src/transaction/pooled.rs
  crates/transaction-pool/src/pool/mod.rs
  crates/transaction-pool/src/test_utils/mock.rs
  crates/transaction-pool/src/traits.rs
  crates/transaction-pool/src/validate/mod.rs
Labels: C-enhancement, A-tx-pool

#5012 chore: use new type for BlockchainId
  crates/blockchain-tree/src/block_indices.rs
  crates/blockchain-tree/src/blockchain_tree.rs
  crates/blockchain-tree/src/chain.rs
  crates/blockchain-tree/src/state.rs
Labels: A-blockchain-tree

#5005 EIP4844 variant to TypedTransactionRequest
  crates/rpc/rpc-types/src/eth/transaction/typed.rs
  crates/rpc/rpc/src/eth/api/transactions.rs
Labels: C-enhancement, A-rpc

#5010 feat: add validate transactions function
  crates/transaction-pool/src/validate/eth.rs
  crates/transaction-pool/src/validate/mod.rs
Labels: C-enhancement, M-changelog, A-tx-pool

#5016 perf: drop lock early
  crates/transaction-pool/src/validate/task.rs
Labels: A-tx-pool

#5020 chore(deps): move some deps to workspace
  Cargo.toml
  bin/reth/Cargo.toml
  crates/metrics/metrics-derive/Cargo.toml
  crates/primitives/Cargo.toml
  crates/storage/codecs/derive/Cargo.toml
  crates/storage/db/Cargo.toml
  examples/Cargo.toml
  examples/additional-rpc-namespace-in-cli/Cargo.toml
  examples/cli-extension-event-hooks/Cargo.toml
  examples/manual-p2p/Cargo.toml
  examples/rpc-db/Cargo.toml
Labels: A-dependencies

#5023 test: TransactionGenerator and p2p testing support
  crates/net/network/src/test_utils/testnet.rs
  crates/net/network/src/transactions.rs
  crates/net/network/tests/it/big_pooled_txs_req.rs
  crates/net/network/tests/it/connect.rs
  crates/net/network/tests/it/main.rs
  crates/net/network/tests/it/txgossip.rs
  crates/primitives/src/transaction/mod.rs
  crates/transaction-pool/src/lib.rs
  crates/transaction-pool/src/pool/mod.rs
  crates/transaction-pool/src/test_utils/gen.rs
  crates/transaction-pool/src/test_utils/mod.rs
Labels: C-enhancement, C-test

#5031 instantiate Api types in reth module registry
  crates/rpc/rpc-builder/src/lib.rs
Labels: A-rpc

#5033 fix: some trace statediff improvements
  crates/revm/revm-inspectors/src/tracing/builder/parity.rs
  crates/rpc/rpc-types/src/eth/trace/parity.rs
Labels: A-rpc

#5036 perf: move common_prefix_len out of loop
  crates/primitives/src/trie/hash_builder/mod.rs
Labels: C-debt, A-trie

#5022 feat(storage): make `BlockReaderIdExt` safe
  crates/consensus/common/src/validation.rs
  crates/storage/db/src/tables/models/blocks.rs
  crates/storage/provider/src/providers/database/mod.rs
  crates/storage/provider/src/providers/database/provider.rs
  crates/storage/provider/src/providers/mod.rs
  crates/storage/provider/src/providers/snapshot.rs
  crates/storage/provider/src/test_utils/mock.rs
  crates/storage/provider/src/test_utils/noop.rs
  crates/storage/provider/src/traits/header.rs
  crates/storage/provider/src/traits/transactions.rs
  examples/db-access.rs
Labels: C-debt

#5014 Feat/pending transactions filter
  crates/rpc/rpc/src/eth/filter.rs
Labels: C-enhancement, M-changelog, A-rpc

#5037 fix: improve parity statediff
  crates/revm/revm-inspectors/src/tracing/builder/parity.rs
  crates/revm/revm-inspectors/src/tracing/types.rs
  crates/rpc/rpc-types/src/eth/trace/parity.rs
  crates/rpc/rpc/src/trace.rs
Labels: M-changelog, C-perf, A-rpc

#5043 Revert "perf: move common_prefix_len out of loop"
  crates/primitives/src/trie/hash_builder/mod.rs
Labels: A-trie

#5040 fix: geth prestate tracing
  crates/revm/revm-inspectors/src/tracing/builder/geth.rs
  crates/revm/revm-inspectors/src/tracing/config.rs
  crates/revm/revm-inspectors/src/tracing/types.rs
Labels: C-bug, M-changelog, A-rpc

#5041 feat(trie): account & storage proofs
  Cargo.lock
  clippy.toml
  crates/primitives/src/trie/hash_builder/mod.rs
  crates/primitives/src/trie/hash_builder/proof_retainer.rs
  crates/primitives/src/trie/mod.rs
  crates/primitives/src/trie/nibbles.rs
  crates/primitives/src/trie/proofs.rs
  crates/trie/Cargo.toml
  crates/trie/src/errors.rs
  crates/trie/src/prefix_set/mod.rs
  crates/trie/src/proof.rs
  crates/trie/testdata/proof-genesis.json
Labels: C-enhancement, A-trie

#5045 chore: use u128 for update_blob_fee
  crates/transaction-pool/src/pool/txpool.rs
Labels: A-tx-pool, E-cancun

#5025 example simulation transportless
  Cargo.lock
  Cargo.toml
  crates/primitives/src/lib.rs
  crates/primitives/src/transaction/mod.rs
  crates/rpc/rpc-types-compat/src/transaction/mod.rs
  crates/rpc/rpc-types/src/eth/call.rs
  crates/transaction-pool/src/traits.rs
  crates/transaction-pool/src/validate/mod.rs
  examples/Cargo.toml
  examples/trace-transaction-cli/Cargo.toml
  examples/trace-transaction-cli/src/main.rs
Labels: C-enhancement

#4989 fix: order transactions by nonce before inserting into txpool
  crates/net/network/src/transactions.rs
  crates/payload/basic/src/lib.rs
  crates/primitives/src/transaction/pooled.rs
Labels: C-bug, A-block-building, A-tx-pool, E-cancun

#5050 perf: improve gas price calc
  crates/rpc/rpc/src/eth/gas_oracle.rs
Labels: C-perf, A-rpc

#5044 chore(txpool): use Vec in validate_all
  crates/transaction-pool/src/lib.rs
Labels: C-enhancement, A-tx-pool

#5059 Revert "feat(storage): make `BlockReaderIdExt` safe"
  crates/consensus/common/src/validation.rs
  crates/storage/db/src/tables/models/blocks.rs
  crates/storage/provider/src/providers/database/mod.rs
  crates/storage/provider/src/providers/database/provider.rs
  crates/storage/provider/src/providers/mod.rs
  crates/storage/provider/src/providers/snapshot.rs
  crates/storage/provider/src/test_utils/mock.rs
  crates/storage/provider/src/test_utils/noop.rs
  crates/storage/provider/src/traits/header.rs
  crates/storage/provider/src/traits/transactions.rs
  examples/db-access.rs
Labels: C-bug, A-staged-sync

#5063 fix(txpool): actually compare with previous base fee on update
  crates/transaction-pool/src/pool/txpool.rs
Labels: C-bug, A-tx-pool

#5066 fix: fix bug issue template
  .github/ISSUE_TEMPLATE/bug.yml
Labels: C-bug, A-meta

#5061 fix(ci): verify target block hash
  .github/workflows/integration.yml
Labels: A-meta

#5062 feat(gas_oracle): Add Lru Cache for block values of recent blocks
  Cargo.lock
  crates/rpc/rpc/Cargo.toml
  crates/rpc/rpc/src/eth/gas_oracle.rs
Labels: C-enhancement, A-rpc

#5048 refactor(trie): trie node iterators
  Cargo.lock
  crates/primitives/src/stage/checkpoints.rs
  crates/stages/src/stages/merkle.rs
  crates/trie/Cargo.toml
  crates/trie/src/lib.rs
  crates/trie/src/node_iter.rs
  crates/trie/src/progress.rs
  crates/trie/src/proof.rs
  crates/trie/src/trie.rs
  crates/trie/src/trie_cursor/account_cursor.rs
  crates/trie/src/trie_cursor/mod.rs
  crates/trie/src/trie_cursor/storage_cursor.rs
  crates/trie/src/updates.rs
  crates/trie/src/walker.rs
Labels: C-debt, A-trie

#5069 chore(merkle): remove last walker key from checkpoint
  crates/primitives/src/stage/checkpoints.rs
  crates/stages/src/stages/merkle.rs
Labels: A-staged-sync, C-debt, A-db, S-breaking

#5068 chore(cli): allow dupsort in db list
  bin/reth/src/db/list.rs
Labels: C-debt, A-cli

#5072 feat: add more rpc-api bindings
  crates/rpc/rpc-api/src/bundle.rs
  crates/rpc/rpc-api/src/lib.rs
  crates/rpc/rpc-api/src/mev.rs
Labels: C-enhancement, A-rpc

#5071 feat(rpc): enable `eth_getProof`
  crates/consensus/beacon/src/engine/mod.rs
  crates/revm/src/processor.rs
  crates/rpc/rpc-builder/src/auth.rs
  crates/rpc/rpc-builder/src/eth.rs
  crates/rpc/rpc-builder/src/lib.rs
  crates/rpc/rpc-builder/tests/it/http.rs
  crates/rpc/rpc-types-compat/src/lib.rs
  crates/rpc/rpc-types-compat/src/proof.rs
  crates/rpc/rpc-types/src/eth/account.rs
  crates/rpc/rpc/src/blocking_pool.rs
  crates/rpc/rpc/src/debug.rs
  crates/rpc/rpc/src/eth/api/mod.rs
  crates/rpc/rpc/src/eth/api/server.rs
  crates/rpc/rpc/src/eth/api/state.rs
  crates/rpc/rpc/src/eth/api/transactions.rs
  crates/rpc/rpc/src/eth/error.rs
  crates/rpc/rpc/src/lib.rs
  crates/rpc/rpc/src/trace.rs
  crates/storage/provider/src/providers/bundle_state_provider.rs
  crates/storage/provider/src/providers/state/historical.rs
  crates/storage/provider/src/providers/state/latest.rs
  crates/storage/provider/src/providers/state/macros.rs
  crates/storage/provider/src/test_utils/mock.rs
  crates/storage/provider/src/test_utils/noop.rs
  crates/storage/provider/src/traits/state.rs
  examples/trace-transaction-cli/src/main.rs
Labels: C-enhancement, A-rpc

#4992 adding access list to rpc type crate
  crates/rpc/rpc-types-compat/src/log.rs
  crates/rpc/rpc-types-compat/src/transaction/mod.rs
  crates/rpc/rpc-types/Cargo.toml
  crates/rpc/rpc-types/src/eth/call.rs
  crates/rpc/rpc-types/src/eth/transaction/access_list.rs
  crates/rpc/rpc-types/src/eth/transaction/mod.rs
Labels: C-enhancement, A-rpc

#5074 Builder style implementation for trace_call
  crates/rpc/rpc-api/src/trace.rs
  crates/rpc/rpc-types/src/eth/trace/mod.rs
  crates/rpc/rpc-types/src/eth/trace/tracerequest.rs
  crates/rpc/rpc-types/src/eth/tracerequest.rs
  crates/rpc/rpc/src/trace.rs
  examples/trace-transaction-cli/src/main.rs
Labels: C-enhancement, A-rpc

#5077 perf: get rid of body clone
  crates/rpc/rpc-types-compat/src/block.rs
Labels: C-perf

#5078 feat(rpc): use `alloy_primitives` in `rpc-types`
  Cargo.lock
  crates/rpc/rpc-types/Cargo.toml
  crates/rpc/rpc-types/src/admin.rs
  crates/rpc/rpc-types/src/eth/account.rs
  crates/rpc/rpc-types/src/eth/block.rs
  crates/rpc/rpc-types/src/eth/call.rs
  crates/rpc/rpc-types/src/eth/engine/cancun.rs
  crates/rpc/rpc-types/src/eth/engine/forkchoice.rs
  crates/rpc/rpc-types/src/eth/engine/payload.rs
  crates/rpc/rpc-types/src/eth/engine/transition.rs
  crates/rpc/rpc-types/src/eth/fee.rs
  crates/rpc/rpc-types/src/eth/filter.rs
  crates/rpc/rpc-types/src/eth/index.rs
  crates/rpc/rpc-types/src/eth/log.rs
  crates/rpc/rpc-types/src/eth/pubsub.rs
  crates/rpc/rpc-types/src/eth/state.rs
  crates/rpc/rpc-types/src/eth/syncing.rs
  crates/rpc/rpc-types/src/eth/trace/filter.rs
  crates/rpc/rpc-types/src/eth/trace/geth/call.rs
  crates/rpc/rpc-types/src/eth/trace/geth/mod.rs
  crates/rpc/rpc-types/src/eth/trace/geth/pre_state.rs
  crates/rpc/rpc-types/src/eth/trace/parity.rs
  crates/rpc/rpc-types/src/eth/transaction/common.rs
  crates/rpc/rpc-types/src/eth/transaction/mod.rs
  crates/rpc/rpc-types/src/eth/transaction/receipt.rs
  crates/rpc/rpc-types/src/eth/transaction/request.rs
  crates/rpc/rpc-types/src/eth/transaction/signature.rs
  crates/rpc/rpc-types/src/eth/transaction/typed.rs
  crates/rpc/rpc-types/src/eth/txpool.rs
  crates/rpc/rpc-types/src/eth/withdrawal.rs
  crates/rpc/rpc-types/src/eth/work.rs
  crates/rpc/rpc-types/src/mev.rs
  crates/rpc/rpc-types/src/otterscan.rs
Labels: A-rpc

#5060 add implementation for `StateRootProvider` for `StateProviderTest`
  crates/revm/Cargo.toml
  crates/revm/src/processor.rs
Labels: C-debt, C-test

#5082 chore(revm): remove local thread for pipeline execution stage
  crates/stages/src/stages/execution.rs
Labels: C-debt, A-execution

#5079 refactor(primitives): remove `AccessListWithGasUsed` in primitives
  crates/primitives/src/lib.rs
  crates/primitives/src/transaction/access_list.rs
  crates/primitives/src/transaction/mod.rs
  crates/rpc/rpc-api/src/eth.rs
  crates/rpc/rpc/src/eth/api/call.rs
  crates/rpc/rpc/src/eth/api/server.rs
Labels: C-debt, A-rpc

#5064 feat: re-add Arbitrary for PooledTransactionsElement
  crates/primitives/src/transaction/eip4844.rs
  crates/primitives/src/transaction/pooled.rs
Labels: C-enhancement, C-test, A-networking

#5094 feat(rpc): track cache hits and misses
  crates/rpc/rpc/src/eth/cache/metrics.rs
  crates/rpc/rpc/src/eth/cache/multi_consumer.rs
Labels: A-rpc, A-observability

#5097 refactor(rpc): remove `result_output` from `revm_utils`
  crates/rpc/rpc/src/debug.rs
  crates/rpc/rpc/src/eth/revm_utils.rs
Labels: C-debt

#5088 feat(primitives): move `revm-primitives` to `reth-primitives`
  Cargo.lock
  Cargo.toml
  crates/payload/basic/src/lib.rs
  crates/payload/builder/Cargo.toml
  crates/payload/builder/src/payload.rs
  crates/primitives/Cargo.toml
  crates/primitives/src/lib.rs
  crates/primitives/src/revm/compat.rs
  crates/primitives/src/revm/config.rs
  crates/primitives/src/revm/env.rs
  crates/primitives/src/revm/mod.rs
  crates/revm/Cargo.toml
  crates/revm/revm-primitives/Cargo.toml
  crates/revm/revm-primitives/src/lib.rs
  crates/revm/src/lib.rs
  crates/revm/src/processor.rs
  crates/revm/src/state_change.rs
  crates/rpc/rpc/src/debug.rs
  crates/rpc/rpc/src/eth/api/call.rs
  crates/rpc/rpc/src/eth/api/pending_block.rs
  crates/rpc/rpc/src/eth/api/transactions.rs
  crates/rpc/rpc/src/eth/revm_utils.rs
  crates/rpc/rpc/src/trace.rs
  crates/storage/codecs/Cargo.toml
  crates/storage/provider/Cargo.toml
  crates/storage/provider/src/bundle_state/bundle_state_with_receipts.rs
  crates/storage/provider/src/bundle_state/state_changes.rs
  crates/storage/provider/src/bundle_state/state_reverts.rs
  crates/storage/provider/src/providers/database/provider.rs
  crates/transaction-pool/Cargo.toml
  crates/transaction-pool/src/validate/eth.rs
  docs/repo/layout.md
Labels: C-debt

#5095 feat(storage): add an option to return hashed transactions in `block_with_senders`
  crates/stages/src/stages/execution.rs
  crates/storage/provider/src/lib.rs
  crates/storage/provider/src/providers/database/mod.rs
  crates/storage/provider/src/providers/database/provider.rs
  crates/storage/provider/src/providers/mod.rs
  crates/storage/provider/src/test_utils/mock.rs
  crates/storage/provider/src/test_utils/noop.rs
  crates/storage/provider/src/traits/block.rs
  crates/storage/provider/src/traits/mod.rs
Labels: A-db

#5105 fix: use block id for block receipts
  crates/rpc/rpc-api/src/eth.rs
  crates/rpc/rpc/src/eth/api/block.rs
  crates/rpc/rpc/src/eth/api/server.rs
Labels: C-bug, M-changelog, A-rpc

#5098 feat(rpc):transaction variant for all available transaction formats
  crates/primitives/src/transaction/mod.rs
  crates/primitives/src/transaction/variant.rs
  crates/rpc/rpc/src/lib.rs
Labels: C-enhancement

#5100 feat: add call bundle
  crates/primitives/src/transaction/pooled.rs
  crates/rpc/rpc-types/src/mev.rs
  crates/rpc/rpc/src/eth/bundle.rs
  crates/rpc/rpc/src/eth/mod.rs
Labels: C-enhancement, A-rpc

#5109 chore: Patch revm to current head commit
  Cargo.lock
  Cargo.toml
  crates/payload/builder/src/database.rs
  crates/primitives/src/contract.rs
  crates/primitives/src/lib.rs
  crates/revm/revm-inspectors/src/access_list.rs
  crates/revm/revm-inspectors/src/stack/maybe_owned.rs
  crates/revm/revm-inspectors/src/stack/mod.rs
  crates/revm/revm-inspectors/src/tracing/builder/geth.rs
  crates/revm/revm-inspectors/src/tracing/builder/parity.rs
  crates/revm/revm-inspectors/src/tracing/js/bindings.rs
  crates/revm/revm-inspectors/src/tracing/js/builtins.rs
  crates/revm/revm-inspectors/src/tracing/js/mod.rs
  crates/revm/revm-inspectors/src/tracing/mod.rs
  crates/revm/revm-inspectors/src/tracing/opcount.rs
  crates/revm/revm-inspectors/src/tracing/types.rs
  crates/revm/revm-inspectors/src/tracing/utils.rs
  crates/revm/src/database.rs
  crates/rpc/rpc/src/debug.rs
  crates/rpc/rpc/src/eth/api/call.rs
  crates/rpc/rpc/src/eth/api/transactions.rs
  crates/rpc/rpc/src/eth/bundle.rs
  crates/rpc/rpc/src/eth/revm_utils.rs
  deny.toml
Labels: A-dependencies

#5110 feat: update mainnet trusted setup
  crates/primitives/res/eip4844/trusted_setup.txt
Labels: E-cancun

#5111 chore: remove reth primitives [tokio] and [tokio-stream] dependencies
  Cargo.lock
  Cargo.toml
  crates/consensus/beacon/Cargo.toml
  crates/consensus/beacon/src/engine/mod.rs
  crates/net/network/Cargo.toml
  crates/net/network/src/manager.rs
  crates/primitives/Cargo.toml
  crates/primitives/src/lib.rs
  crates/primitives/src/listener/mod.rs
  crates/prune/Cargo.toml
  crates/prune/src/pruner.rs
  crates/stages/Cargo.toml
  crates/stages/src/pipeline/mod.rs
  crates/tokio-util/Cargo.toml
  crates/tokio-util/src/event_listeners.rs
  crates/tokio-util/src/lib.rs
Labels: C-debt, A-meta

#5117 fix: no value for staticcall call traces
  crates/revm/revm-inspectors/src/tracing/types.rs
Labels: C-bug, A-rpc

#5115 fix: load code by hash for prestate trace
  crates/revm/revm-inspectors/src/tracing/builder/geth.rs
Labels: C-bug, A-rpc

#5119 chore: add bundle api helper
  crates/rpc/rpc-builder/src/lib.rs
Labels: A-rpc

#5126 ci: update test-fuzz installation
  .github/workflows/fuzz.yml
Labels: C-enhancement, C-test

#5122 docs(book): pruning distance 128 -> 10064, update node size numbers
  book/cli/node.md
  book/installation/installation.md
  book/run/config.md
  book/run/pruning.md
Labels: C-docs, A-pruning

#5131 chore: add convenience trait bounds
  bin/reth/src/cli/components.rs
Labels: C-enhancement

#5132 feat(tx-pool): add `blob_sidecar` to EIP-4844 mock transactions
  crates/transaction-pool/src/test_utils/mock.rs
  crates/transaction-pool/tests/it/blobs.rs
Labels: A-tx-pool, C-test

#5121 fix max_fee_per_blob_gas type
  crates/rpc/rpc-types/src/eth/transaction/typed.rs
Labels: A-rpc

#5136 feat(tokio-util): EventListeners with Listener Management
  crates/tokio-util/src/event_listeners.rs
Labels: C-debt

#5106 feat(stage): consolidate `Validation` and `ExecutionError` variants in `StageError` enum
  crates/stages/src/error.rs
  crates/stages/src/pipeline/mod.rs
  crates/stages/src/stages/execution.rs
  crates/stages/src/stages/merkle.rs
  crates/stages/src/stages/sender_recovery.rs
  crates/stages/src/stages/total_difficulty.rs
Labels: C-debt

#5015 implementations for DbTx functions for TxMock
  crates/storage/db/src/abstraction/mock.rs
Labels: C-test

#5130 feat: add sse payload attributes example and beacon api support
  Cargo.lock
  Cargo.toml
  crates/rpc/rpc-types/Cargo.toml
  crates/rpc/rpc-types/src/eth/engine/beacon_api/events.rs
  crates/rpc/rpc-types/src/eth/engine/beacon_api/mod.rs
  crates/rpc/rpc-types/src/eth/engine/mod.rs
  crates/rpc/rpc-types/src/eth/engine/payload.rs
  crates/rpc/rpc-types/src/eth/mod.rs
  crates/rpc/rpc-types/src/eth/withdrawal.rs
  examples/beacon-api-sse/Cargo.toml
  examples/beacon-api-sse/src/main.rs
Labels: C-enhancement, A-rpc

#5150 chore: bump discv5
  Cargo.lock
  Cargo.toml
Labels: A-dependencies

#5135 improve `calculate_next_block_base_fee` doc
  crates/primitives/src/basefee.rs
Labels: C-docs

#5138 fix: record touched accounts in prestate default mode
  crates/revm/revm-inspectors/src/tracing/builder/geth.rs
  crates/revm/revm-inspectors/src/tracing/types.rs
  crates/rpc/rpc-types/src/eth/trace/geth/pre_state.rs
  crates/rpc/rpc/src/debug.rs
Labels: C-bug, M-changelog, A-rpc

#5159 chore: rm lcov support
  .github/scripts/fuzz.sh
  .github/workflows/fuzz.yml
  .github/workflows/integration.yml
  .github/workflows/sanity.yml
  .github/workflows/unit.yml
Labels: A-meta

#5157 feat(rpc-testing-util): Test for ReplayTransaction
  crates/rpc/rpc-testing-util/src/trace.rs
Labels: A-rpc, C-test

#5169 chore: remove duplicate canonical hash fetches
  crates/blockchain-tree/src/blockchain_tree.rs
  crates/blockchain-tree/src/externals.rs
  crates/blockchain-tree/src/state.rs
Labels: C-debt, A-blockchain-tree

#5171 fix: use recorded opcode
  crates/revm/revm-inspectors/src/tracing/mod.rs
Labels: A-rpc

#5167 feat(primitives): clean up primitives `proof.rs` file
  crates/blockchain-tree/src/blockchain_tree.rs
  crates/consensus/common/src/validation.rs
  crates/primitives/src/constants/mod.rs
  crates/primitives/src/genesis.rs
  crates/primitives/src/header.rs
  crates/primitives/src/proofs.rs
  crates/primitives/src/trie/hash_builder/mod.rs
  crates/rpc/rpc-types-compat/src/engine/payload.rs
  crates/trie/src/account.rs
  crates/trie/src/proof.rs
  crates/trie/src/trie.rs
Labels: C-debt

#5175 feat(primitives): add `_HASH` suffix for constants hashes
  bin/reth/src/init.rs
  crates/consensus/auto-seal/src/lib.rs
  crates/consensus/beacon/src/beacon_consensus.rs
  crates/net/eth-wire/src/builder.rs
  crates/payload/basic/src/lib.rs
  crates/primitives/src/chain/spec.rs
  crates/primitives/src/constants/mod.rs
  crates/primitives/src/header.rs
  crates/primitives/src/lib.rs
  crates/primitives/src/proofs.rs
  crates/rpc/rpc-types-compat/src/engine/payload.rs
  crates/rpc/rpc/src/eth/api/pending_block.rs
  examples/manual-p2p/src/main.rs
Labels: C-debt

#5180 Update noop.rs
  crates/storage/provider/src/test_utils/noop.rs
Labels: C-test

#5087 clean up database file after testing
  crates/blockchain-tree/src/blockchain_tree.rs
  crates/consensus/beacon/src/engine/sync.rs
  crates/consensus/beacon/src/engine/test_utils.rs
  crates/net/downloaders/src/bodies/bodies.rs
  crates/net/downloaders/src/bodies/task.rs
  crates/net/downloaders/src/test_utils/file_client.rs
  crates/primitives/src/chain/spec.rs
  crates/stages/Cargo.toml
  crates/stages/benches/criterion.rs
  crates/stages/benches/setup/mod.rs
  crates/stages/src/stages/bodies.rs
  crates/stages/src/stages/mod.rs
  crates/stages/src/test_utils/runner.rs
  crates/stages/src/test_utils/test_db.rs
  crates/storage/db/benches/hash_keys.rs
  crates/storage/db/benches/utils.rs
  crates/storage/db/src/lib.rs
  crates/storage/nippy-jar/src/lib.rs
  crates/storage/provider/src/bundle_state/bundle_state_with_receipts.rs
  crates/trie/src/trie.rs
Labels: C-test

#5174 perf: only record active context memory
  Cargo.lock
  Cargo.toml
  crates/revm/revm-inspectors/src/tracing/builder/parity.rs
  crates/revm/revm-inspectors/src/tracing/mod.rs
  crates/revm/revm-inspectors/src/tracing/types.rs
Labels: C-perf

#5179 test: add tx validator test
  crates/transaction-pool/Cargo.toml
  crates/transaction-pool/src/validate/eth.rs
  crates/transaction-pool/src/validate/mod.rs
Labels: A-tx-pool

#5187 chore: bump `revm` version
  Cargo.lock
  Cargo.toml
  crates/revm/revm-inspectors/src/tracing/js/mod.rs
Labels: A-dependencies

#5186 chore: downgrade debug! to trace!
  crates/net/network/src/manager.rs
  crates/net/network/src/peers/manager.rs
  crates/net/network/src/state.rs
  crates/net/network/src/swarm.rs
  crates/net/network/src/transactions.rs
Labels: A-observability, A-networking

#5058 feat: implement transaction fetcher, w/o redundant tx hash request
  crates/net/eth-wire/src/types/transactions.rs
  crates/net/network/src/message.rs
  crates/net/network/src/transactions.rs
Labels: C-perf, A-networking

#5188 fix: spec compliant engine api errors
  Cargo.lock
  crates/rpc/rpc-engine-api/Cargo.toml
  crates/rpc/rpc-engine-api/src/error.rs
Labels: C-debt, A-rpc

#5196 feat(engine): downgrade pipeline inconsistency log to debug
  crates/consensus/beacon/src/engine/mod.rs
Labels: C-enhancement, A-consensus, A-observability

#5194 feat(primitives, stages): improve checkpoint logs readability
  bin/reth/src/node/events.rs
  crates/primitives/src/stage/checkpoints.rs
  crates/stages/src/pipeline/event.rs
  crates/stages/src/pipeline/mod.rs
  crates/stages/src/stages/headers.rs
Labels: C-enhancement, A-staged-sync, A-observability

#5195 perf: introduce BlockValidationKind
  crates/blockchain-tree/src/blockchain_tree.rs
  crates/blockchain-tree/src/chain.rs
  crates/blockchain-tree/src/noop.rs
  crates/blockchain-tree/src/shareable.rs
  crates/consensus/beacon/src/engine/mod.rs
  crates/interfaces/src/blockchain_tree/mod.rs
  crates/storage/provider/src/providers/mod.rs
Labels: C-perf, A-blockchain-tree

#5201 chore: add debug log for tree during setup
  bin/reth/src/node/mod.rs
Labels: A-observability

#5184 chore: misc tree notes,docs
  crates/blockchain-tree/src/blockchain_tree.rs
  crates/consensus/beacon/src/engine/mod.rs
Labels: C-docs, C-debt, A-blockchain-tree

#5202 chore: load default KZG trusted setup from revm
  crates/primitives/res/eip4844/trusted_setup.txt
  crates/primitives/src/constants/eip4844.rs
Labels: C-bug

#5139 feat: move `ZstdDictionary` inside `NippyJar` and create a snapshot manager
  Cargo.lock
  bin/reth/src/db/snapshots/headers.rs
  bin/reth/src/db/snapshots/mod.rs
  bin/reth/src/db/snapshots/receipts.rs
  bin/reth/src/db/snapshots/transactions.rs
  crates/primitives/src/snapshot/mod.rs
  crates/primitives/src/snapshot/segment.rs
  crates/snapshot/src/segments/mod.rs
  crates/storage/nippy-jar/Cargo.toml
  crates/storage/nippy-jar/src/compression/zstd.rs
  crates/storage/nippy-jar/src/cursor.rs
  crates/storage/nippy-jar/src/error.rs
  crates/storage/nippy-jar/src/lib.rs
  crates/storage/provider/Cargo.toml
  crates/storage/provider/src/providers/mod.rs
  crates/storage/provider/src/providers/snapshot.rs
Labels: C-enhancement, A-snapshots

#5162 feat: share mmap handle inbetween snapshot providers & cursors
  crates/storage/nippy-jar/src/cursor.rs
  crates/storage/nippy-jar/src/lib.rs
  crates/storage/provider/src/providers/snapshot.rs
  crates/storage/provider/src/providers/snapshot/jar.rs
  crates/storage/provider/src/providers/snapshot/manager.rs
  crates/storage/provider/src/providers/snapshot/mod.rs
Labels: C-enhancement, A-bittorrent

#5204 chore: add log for created new payload job
  crates/payload/builder/src/service.rs
Labels: A-observability

#5053 feat: add promotion and demotion for blob fee updates
  crates/transaction-pool/src/pool/blob.rs
  crates/transaction-pool/src/pool/parked.rs
  crates/transaction-pool/src/pool/pending.rs
  crates/transaction-pool/src/pool/state.rs
  crates/transaction-pool/src/pool/txpool.rs
  crates/transaction-pool/src/traits.rs
  crates/transaction-pool/src/validate/mod.rs
Labels: A-tx-pool, E-cancun
