Repository paradigmxyz/reth, pull requests merged in 2025-07, with the labels that each got.

#17149 docs: fix broken links and typos
  crates/e2e-test-utils/src/node.rs
  crates/net/eth-wire/src/eth_snap_stream.rs
  crates/net/network/src/session/conn.rs
  docs/vocs/docs/pages/overview.mdx
  docs/vocs/docs/pages/run/system-requirements.mdx
Labels: C-docs

#17153 chore: bump revm
  Cargo.lock
  Cargo.toml
  crates/engine/tree/src/tree/precompile_cache.rs
  crates/ress/provider/src/recorder.rs
  crates/revm/src/database.rs
  crates/rpc/rpc-eth-api/src/helpers/call.rs
  crates/rpc/rpc-eth-types/src/cache/db.rs
Labels: dependencies

#17143 fix(trie): correct ParallelSparseTrie lower subtrie path management
  crates/trie/sparse-parallel/src/trie.rs
Labels: C-bug, A-trie

#17157 chore: add debug for forkid mismatch
  crates/net/network/src/session/mod.rs
  crates/net/network/src/swarm.rs
Labels: A-observability

#17159 feat: eth addons' middleware setter
  crates/ethereum/node/src/node.rs
Labels: A-sdk

#17166 chore(trie): factor out SparseTrieState
  crates/engine/tree/src/tree/payload_processor/mod.rs
  crates/engine/tree/src/tree/payload_processor/sparse_trie.rs
  crates/trie/sparse/src/state.rs
  crates/trie/sparse/src/trie.rs
Labels: C-perf, A-trie

#17170 docs: update metrics link in ethereum.mdx
  docs/vocs/docs/pages/run/ethereum.mdx
Labels: C-docs

#17124 feat: trait impl for dbmock
  crates/storage/db-api/src/mock.rs
Labels: A-db

#17175 docs: update Grafana repository URL in monitoring documentation
  docs/vocs/docs/pages/run/monitoring.mdx
Labels: C-docs

#16956 feat(trie): add ParallelSparseTrie::update_leaf
  crates/trie/sparse-parallel/src/trie.rs
Labels: C-perf, A-trie

#17198 chore: bump inspectors
  Cargo.lock
  Cargo.toml
Labels: dependencies

#17181 perf(trie): sparse trie trait
  crates/trie/sparse/src/lib.rs
  crates/trie/sparse/src/traits.rs
  crates/trie/sparse/src/trie.rs
Labels: C-perf, A-trie

#17199 docs: fix typo in trie test comment
  crates/trie/sparse-parallel/src/trie.rs
Labels: C-docs

#17191 perf(trie): implement `SparseTrieInterface` for `RevealedSparseTrie`
  crates/engine/tree/src/tree/payload_processor/sparse_trie.rs
  crates/stateless/src/trie.rs
  crates/trie/sparse/benches/rlp_node.rs
  crates/trie/sparse/src/state.rs
  crates/trie/sparse/src/trie.rs
  crates/trie/trie/src/witness.rs
Labels: C-perf, A-trie

#17192 perf(trie): implement `SparseTrieInterface` for `ParallelSparseTrie`
  crates/trie/sparse-parallel/src/trie.rs
  crates/trie/sparse/src/traits.rs
Labels: C-perf, A-trie

#17204 fix: dont double serialize resp
  crates/optimism/rpc/src/historical.rs
Labels: C-bug, A-op-reth

#17219 chore: make clippy happy
  crates/rpc/rpc-eth-api/src/helpers/transaction.rs
Labels: C-debt

#17183 feat(txpool): add minimal priority fee configuration for transaction pool
  crates/ethereum/node/src/node.rs
  crates/node/core/src/args/txpool.rs
  crates/optimism/node/src/node.rs
  crates/rpc/rpc-eth-types/src/error/mod.rs
  crates/transaction-pool/src/config.rs
  crates/transaction-pool/src/error.rs
  crates/transaction-pool/src/validate/eth.rs
  docs/vocs/docs/pages/cli/reth/node.mdx
Labels: A-tx-pool

#17218 chore: fix typo in documentation comment in environment.rs
  crates/storage/libmdbx-rs/src/environment.rs
Labels: C-docs

#17224 chore: load kzg settings in background
  crates/ethereum/node/src/node.rs
  crates/transaction-pool/src/validate/eth.rs
  crates/transaction-pool/src/validate/task.rs
Labels: C-perf, A-tx-pool

#17234 chore(doc): update exclude list for doc/cli
  Cargo.toml
Labels: A-meta

#17236 chore: add capabilities to NetworkStatus
  crates/net/network-api/src/lib.rs
  crates/net/network-api/src/noop.rs
  crates/net/network/src/manager.rs
  crates/rpc/rpc/src/eth/helpers/sync_listener.rs
Labels: A-rpc, A-networking

#17233 docs: fix typo mod.rs
  crates/optimism/primitives/src/transaction/mod.rs
Labels: C-docs

#17241 fix: correct typo in ValidationApi comment
  crates/rpc/rpc/src/validation.rs
Labels: C-docs

#17240 refactor(rpc): Arc PendingBlock internals
  crates/optimism/rpc/src/eth/pending_block.rs
  crates/rpc/rpc-eth-api/src/helpers/block.rs
  crates/rpc/rpc-eth-api/src/helpers/pending_block.rs
  crates/rpc/rpc-eth-types/src/pending_block.rs
Labels: C-perf, A-rpc

#17249 docs: deleted extra duplicate environment.rs
  crates/storage/libmdbx-rs/src/environment.rs
Labels: C-docs

#17254 fix: correct comment in static file writer
  crates/storage/provider/src/providers/static_file/writer.rs
Labels: C-docs

#17253 refactor: extract import functionality to separate module
  crates/cli/commands/src/import.rs
  crates/cli/commands/src/import_op.rs
  crates/cli/commands/src/lib.rs
Labels: C-enhancement, C-test

#17257 docs: fix typo `fileted` to `filtered`
  crates/transaction-pool/src/pool/best.rs
Labels: C-docs

#17261 feat(test): spin up e2e test nodes with imported data
  Cargo.lock
  crates/e2e-test-utils/Cargo.toml
  crates/e2e-test-utils/src/lib.rs
  crates/e2e-test-utils/src/setup_import.rs
Labels: C-enhancement, C-test

#17242 chore: update size metrics once
  crates/transaction-pool/src/pool/txpool.rs
Labels: C-perf, A-tx-pool

#17200 fix: dead link
  docs/vocs/docs/pages/run/ethereum.mdx
Labels: C-docs

#17275 chore: bump alloy
  Cargo.lock
  Cargo.toml
  crates/rpc/rpc-eth-api/src/bundle.rs
Labels: dependencies

#17259 fix(trie): correctly handle path field on cleared ParallelSparseTrie lower subtries
  crates/trie/sparse-parallel/src/lib.rs
  crates/trie/sparse-parallel/src/lower.rs
  crates/trie/sparse-parallel/src/trie.rs
Labels: C-bug, A-trie

#17274 docs(guides): Add history expiry
  docs/vocs/docs/pages/guides/history-expiry.mdx
Labels: C-docs, A-staged-sync, A-db, A-downloaders, A-static-files

#17276 docs: fix correction in storage reverts iterator test comment
  crates/storage/provider/src/bundle_state/state_reverts.rs
Labels: C-docs

#17258 test(trie): add sparse trie tests to parallel sparse trie
  Cargo.lock
  crates/trie/sparse-parallel/Cargo.toml
  crates/trie/sparse-parallel/src/lib.rs
  crates/trie/sparse-parallel/src/lower.rs
  crates/trie/sparse-parallel/src/trie.rs
  crates/trie/sparse/src/traits.rs
  crates/trie/sparse/src/trie.rs
Labels: C-test, A-trie

#17296 fix: correct typos
  crates/rpc/ipc/src/stream_codec.rs
  crates/storage/nippy-jar/src/writer.rs
Labels: C-docs

#17318 chore: bump vdocs version
  docs/vocs/vocs.config.ts
Labels: C-docs

#17320 docs: add section for enabling pre-merge history expiry
  docs/vocs/docs/pages/guides/history-expiry.mdx
Labels: C-docs

#17316 fix(trie): duplicate hash mask check in sparse trie implementations
  crates/trie/sparse-parallel/src/trie.rs
  crates/trie/sparse/src/trie.rs
Labels: C-bug, A-trie

#17321 feat(sync): track time spent in stages
  crates/stages/api/Cargo.toml
  crates/stages/api/src/metrics/listener.rs
  crates/stages/api/src/metrics/sync_metrics.rs
  crates/stages/api/src/pipeline/mod.rs
Labels: C-enhancement, A-staged-sync, A-observability

#17338 chore: make tracer match non-exhaustive
  crates/rpc/rpc/src/debug.rs
Labels: A-rpc

#17315 chore: replace CacheDb with trait bounds
  crates/rpc/rpc-eth-api/src/helpers/call.rs
Labels: A-rpc, A-sdk

#17290 feat(ci): reorganize e2e tests with dedicated nextest filter and CI workflow
  .config/nextest.toml
  .github/workflows/e2e.yml
  .github/workflows/integration.yml
  .github/workflows/unit.yml
  crates/e2e-test-utils/Cargo.toml
  crates/e2e-test-utils/src/testsuite/README.md
  crates/e2e-test-utils/src/testsuite/mod.rs
  crates/e2e-test-utils/tests/e2e-testsuite/main.rs
  crates/engine/tree/Cargo.toml
  crates/engine/tree/src/tree/mod.rs
  crates/engine/tree/tests/e2e-testsuite/main.rs
  crates/optimism/node/Cargo.toml
  crates/optimism/node/tests/e2e-testsuite/main.rs
  crates/optimism/node/tests/e2e-testsuite/p2p.rs
  crates/optimism/node/tests/e2e-testsuite/testsuite.rs
  crates/rpc/rpc-e2e-tests/Cargo.toml
  crates/rpc/rpc-e2e-tests/tests/e2e-testsuite/main.rs
Labels: C-enhancement, C-test, A-ci

#17132 feat(era1): add subcommand `export-era`
  Cargo.lock
  crates/cli/commands/Cargo.toml
  crates/cli/commands/src/export_era.rs
  crates/cli/commands/src/lib.rs
  crates/era-utils/src/export.rs
  crates/era-utils/tests/it/genesis.rs
  crates/era-utils/tests/it/history.rs
  crates/era/src/era1_types.rs
  crates/ethereum/cli/src/interface.rs
  docs/vocs/docs/pages/cli/SUMMARY.mdx
  docs/vocs/docs/pages/cli/reth.mdx
  docs/vocs/docs/pages/cli/reth/export-era.mdx
  docs/vocs/sidebar.ts
Labels: A-cli

#17269 feat(trie): add generics to SparseTrieTask
  crates/engine/tree/src/tree/payload_processor/mod.rs
  crates/engine/tree/src/tree/payload_processor/sparse_trie.rs
Labels: C-enhancement, A-trie

#17097 feat: add graph selection option to newpayload latency comparison script
  bin/reth-bench/scripts/compare_newpayload_latency.py
Labels: A-cli

#17339 chore: add helpers for disabling read-tx timeout
  crates/storage/db/src/implementation/mdbx/mod.rs
  crates/storage/provider/src/providers/database/builder.rs
Labels: C-docs, C-enhancement, A-db

#17267 chore(trie): add Either type for SparseTrieInterface
  Cargo.lock
  Cargo.toml
  crates/trie/sparse/Cargo.toml
  crates/trie/sparse/src/lib.rs
  crates/trie/sparse/src/traits.rs
Labels: A-engine, A-trie

#17354 chore: add helper convert into error object
  crates/rpc/rpc-eth-types/src/error/mod.rs
Labels: A-rpc

#17353 chore: add helper to access invalid tx error
  crates/rpc/rpc-eth-types/src/error/mod.rs
Labels: A-rpc

#17357 feat(cli): add enable-parallel-sparse-trie flag
  crates/node/core/src/args/engine.rs
  docs/vocs/docs/pages/cli/reth/node.mdx
Labels: C-perf, A-cli, A-trie

#16441 feat(rpc): specialise contiguous receipt queries for logs
  Cargo.lock
  crates/rpc/rpc/Cargo.toml
  crates/rpc/rpc/src/eth/filter.rs
  crates/storage/provider/src/test_utils/mock.rs
Labels: C-enhancement, C-perf, A-rpc

#17352 perf(trie): reuse update action buffers in parallel sparse trie processing
  crates/trie/sparse-parallel/src/trie.rs
Labels: C-perf, A-trie

#17363 feat: make ethereum Cli generic over node and remove debug commands
  Cargo.lock
  bin/reth/Cargo.toml
  crates/chainspec/src/api.rs
  crates/cli/commands/src/common.rs
  crates/cli/commands/src/launcher.rs
  crates/ethereum/cli/Cargo.toml
  crates/ethereum/cli/src/debug_cmd/build_block.rs
  crates/ethereum/cli/src/debug_cmd/execution.rs
  crates/ethereum/cli/src/debug_cmd/in_memory_merkle.rs
  crates/ethereum/cli/src/debug_cmd/merkle.rs
  crates/ethereum/cli/src/debug_cmd/mod.rs
  crates/ethereum/cli/src/interface.rs
  crates/ethereum/cli/src/lib.rs
  crates/optimism/cli/src/lib.rs
  docs/vocs/docs/pages/cli/SUMMARY.mdx
  docs/vocs/docs/pages/cli/reth.mdx
  docs/vocs/docs/pages/cli/reth/debug.mdx
  docs/vocs/docs/pages/cli/reth/debug/build-block.mdx
  docs/vocs/docs/pages/cli/reth/debug/execution.mdx
  docs/vocs/docs/pages/cli/reth/debug/in-memory-merkle.mdx
  docs/vocs/docs/pages/cli/reth/debug/merkle.mdx
Labels: A-sdk

#17360 chore(consensus): remove outdated comment from validate_block_pre_execution
  crates/consensus/common/src/validation.rs
Labels: C-docs, C-enhancement

#17346 docs:fix spelling error in flowchart
  crates/engine/tree/docs/mermaid/state-root-task.mmd
Labels: C-docs

#17370 chore(ci): unpin hive
  .github/workflows/hive.yml
Labels: C-debt, C-hivetest, A-ci

#17367 fix(`docs`): rustdocs search functionality
  docs/vocs/scripts/inject-cargo-docs.ts
Labels: C-docs

#17369 perf(engine): clear accounts trie in background to not block state root
  crates/engine/tree/src/tree/mod.rs
  crates/engine/tree/src/tree/payload_processor/configured_sparse_trie.rs
  crates/engine/tree/src/tree/payload_processor/mod.rs
  crates/engine/tree/src/tree/payload_processor/sparse_trie.rs
  crates/trie/sparse/src/state.rs
Labels: C-perf, A-trie

#17375 docs: fix link to installation
  docs/vocs/docs/pages/run/ethereum.mdx
Labels: C-docs

#17383 feat: add `into_logs()` to `TxReceipt` for `Receipt`/`OpReceipt`
  crates/ethereum/primitives/src/receipt.rs
  crates/optimism/primitives/src/receipt.rs
Labels: C-debt, C-perf

#17283 docs: typos
  docs/crates/eth-wire.md
  docs/design/database.md
  docs/design/metrics.md
Labels: C-docs

#17387 chore: consolidate typo fixes from multiple PRs
  HARDFORK-CHECKLIST.md
  bin/reth-bench/src/bench/mod.rs
  crates/net/downloaders/src/bodies/bodies.rs
  crates/node/builder/src/builder/mod.rs
  crates/trie/common/src/hashed_state.rs
  crates/trie/common/src/updates.rs
  crates/trie/sparse/src/state.rs
  docs/vocs/docs/pages/guides/history-expiry.mdx
  docs/vocs/docs/pages/run/ethereum.mdx
Labels: C-docs

#17388 perf(blob): optimize blob store gets
  crates/transaction-pool/src/blobstore/disk.rs
Labels: C-perf, A-tx-pool

#17399 chore: make clippy happy
  crates/engine/tree/src/tree/mod.rs
  crates/net/network/src/manager.rs
  crates/rpc/rpc-builder/src/auth.rs
  crates/rpc/rpc-eth-api/src/helpers/state.rs
  crates/storage/db-models/src/accounts.rs
  crates/transaction-pool/src/pool/txpool.rs
  crates/trie/common/benches/prefix_set.rs
Labels: C-debt

#17396 fix(txpool): Propagate promoted transactions on account updates
  crates/transaction-pool/src/pool/mod.rs
Labels: C-bug, A-tx-pool

#17392 perf: optimize txpool_status RPC by avoiding full transaction collection
  crates/rpc/rpc/src/txpool.rs
  crates/transaction-pool/src/lib.rs
  crates/transaction-pool/src/noop.rs
  crates/transaction-pool/src/pool/parked.rs
  crates/transaction-pool/src/pool/pending.rs
  crates/transaction-pool/src/pool/txpool.rs
  crates/transaction-pool/src/traits.rs
Labels: C-perf, A-tx-pool

#17400 perf: release listner lock early
  crates/transaction-pool/src/pool/mod.rs
Labels: C-perf, A-tx-pool

#17391 docs(guides): add export era in history section
  docs/vocs/docs/pages/guides/history-expiry.mdx
Labels: C-docs

#17376 feat(sdk): make engine API (auth server) optional for custom consensus integrations
  crates/node/builder/src/rpc.rs
  crates/node/core/src/args/rpc_server.rs
  docs/vocs/docs/pages/cli/reth/node.mdx
Labels: C-enhancement, A-sdk

#17408 chore(txpool): use alloy-primitives HashMap for SenderIdentifiers
  crates/transaction-pool/src/identifier.rs
Labels: A-tx-pool

#17208 refactor: `BlindedPovider` rename
  crates/engine/tree/src/tree/payload_processor/configured_sparse_trie.rs
  crates/engine/tree/src/tree/payload_processor/mod.rs
  crates/engine/tree/src/tree/payload_processor/sparse_trie.rs
  crates/stateless/src/trie.rs
  crates/trie/parallel/src/proof_task.rs
  crates/trie/sparse-parallel/src/trie.rs
  crates/trie/sparse/benches/rlp_node.rs
  crates/trie/sparse/benches/root.rs
  crates/trie/sparse/benches/update.rs
  crates/trie/sparse/src/lib.rs
  crates/trie/sparse/src/provider.rs
  crates/trie/sparse/src/state.rs
  crates/trie/sparse/src/traits.rs
  crates/trie/sparse/src/trie.rs
  crates/trie/trie/src/proof/mod.rs
  crates/trie/trie/src/proof/trie_node.rs
  crates/trie/trie/src/witness.rs
Labels: C-debt, A-trie

#17420 chore: add txpool submit examples
  Cargo.lock
  examples/txpool-tracing/Cargo.toml
  examples/txpool-tracing/src/main.rs
  examples/txpool-tracing/src/submit.rs
Labels: A-sdk

#17406 chore(consensus): refactor fork and ommers check into standalone fn
  crates/consensus/common/src/validation.rs
Labels: C-enhancement, C-perf, A-consensus

#17439 chore: simplify blob count extraction using new blob_count() method
  crates/transaction-pool/src/validate/eth.rs
  examples/beacon-api-sidecar-fetcher/src/mined_sidecar.rs
Labels: C-debt

#17372 perf(trie): parallelize ParallelSparseTrie::reveal_nodes
  crates/engine/tree/src/tree/payload_processor/configured_sparse_trie.rs
  crates/trie/sparse-parallel/src/lower.rs
  crates/trie/sparse-parallel/src/trie.rs
  crates/trie/sparse/src/state.rs
  crates/trie/sparse/src/traits.rs
  crates/trie/sparse/src/trie.rs
Labels: C-perf, A-trie

#17431 feat(tx-pool): add submit methods to `TransactionPool`
  crates/transaction-pool/src/traits.rs
  examples/txpool-tracing/src/submit.rs
Labels: A-tx-pool, A-sdk

#17464 feat: add helper for building pending block env
  Cargo.lock
  crates/ethereum/node/src/node.rs
  crates/optimism/evm/Cargo.toml
  crates/optimism/evm/src/config.rs
  crates/optimism/node/Cargo.toml
  crates/optimism/rpc/src/eth/mod.rs
  crates/optimism/rpc/src/eth/pending_block.rs
  crates/rpc/rpc-builder/src/lib.rs
  crates/rpc/rpc-eth-api/src/helpers/pending_block.rs
  crates/rpc/rpc/src/eth/builder.rs
  crates/rpc/rpc/src/eth/core.rs
  crates/rpc/rpc/src/eth/helpers/block.rs
  crates/rpc/rpc/src/eth/helpers/call.rs
  crates/rpc/rpc/src/eth/helpers/fees.rs
  crates/rpc/rpc/src/eth/helpers/pending_block.rs
  crates/rpc/rpc/src/eth/helpers/receipt.rs
  crates/rpc/rpc/src/eth/helpers/signer.rs
  crates/rpc/rpc/src/eth/helpers/spec.rs
  crates/rpc/rpc/src/eth/helpers/state.rs
  crates/rpc/rpc/src/eth/helpers/trace.rs
  crates/rpc/rpc/src/eth/helpers/transaction.rs
Labels: A-rpc, A-sdk

#17458 fix: use primitives headers for pruner
  crates/prune/prune/src/builder.rs
  crates/prune/prune/src/segments/set.rs
  crates/prune/prune/src/segments/static_file/headers.rs
  crates/stages/stages/src/stages/prune.rs
Labels: C-bug, A-db

#17472 fix: correct documentation for block_mut method in RecoveredBlock
  crates/primitives-traits/src/block/recovered.rs
Labels: C-docs

#17467 fix(`docs`): change sdk overview path to /sdk
  docs/vocs/docs/pages/index.mdx
  docs/vocs/docs/pages/introduction/why-reth.mdx
  docs/vocs/docs/pages/sdk.mdx
  docs/vocs/redirects.config.ts
  docs/vocs/sidebar.ts
  docs/vocs/vocs.config.ts
Labels: C-docs

#17469 feat: add envelope conversion for op
  crates/optimism/primitives/src/receipt.rs
Labels: A-sdk

#17437 fix: change hyperlink to reth_codec
  docs/design/database.md
Labels: C-docs

#17446 docs: add code example to extend_rpc_modules method
  crates/node/builder/src/builder/mod.rs
  crates/node/builder/src/rpc.rs
  examples/node-custom-rpc/src/main.rs
Labels: C-docs

#17373 feat: add Middleware generic to AuthServerConfig
  crates/rpc/rpc-builder/src/auth.rs
Labels: C-enhancement, A-sdk

#17487 chore: fix reth-engine-tree dev-dependencies import
  crates/engine/tree/Cargo.toml
Labels: C-test, A-engine

#17491 feat(alloy-provider): implement methods for BlockReaderIdExt
  crates/alloy-provider/src/lib.rs
Labels: A-rpc

#17486 docs: fix outdated file paths in database.md links
  docs/design/database.md
Labels: C-docs

#17527 chore: sanity secp256k1+rayon activations
  crates/ethereum/node/Cargo.toml
  crates/optimism/node/Cargo.toml
Labels: A-dependencies

#17481 chore: extend exex ethapi example
  crates/rpc/rpc-builder/src/lib.rs
  examples/exex-hello-world/src/main.rs
Labels: C-docs, C-enhancement, A-sdk

#17490 feat: `HeaderConverter`
  Cargo.lock
  crates/ethereum/node/Cargo.toml
  crates/ethereum/node/src/node.rs
  crates/node/builder/src/rpc.rs
  crates/optimism/rpc/Cargo.toml
  crates/optimism/rpc/src/eth/block.rs
  crates/optimism/rpc/src/eth/call.rs
  crates/optimism/rpc/src/eth/mod.rs
  crates/optimism/rpc/src/eth/pending_block.rs
  crates/optimism/rpc/src/eth/receipt.rs
  crates/optimism/rpc/src/eth/transaction.rs
  crates/primitives-traits/src/block/recovered.rs
  crates/rpc/rpc-builder/src/lib.rs
  crates/rpc/rpc-convert/src/rpc.rs
  crates/rpc/rpc-convert/src/transaction.rs
  crates/rpc/rpc-eth-api/Cargo.toml
  crates/rpc/rpc-eth-api/src/helpers/block.rs
  crates/rpc/rpc-eth-api/src/helpers/call.rs
  crates/rpc/rpc-eth-api/src/helpers/pending_block.rs
  crates/rpc/rpc-eth-api/src/helpers/receipt.rs
  crates/rpc/rpc-eth-api/src/helpers/state.rs
  crates/rpc/rpc-eth-api/src/helpers/trace.rs
  crates/rpc/rpc-eth-api/src/helpers/transaction.rs
  crates/rpc/rpc-eth-api/src/node.rs
  crates/rpc/rpc-eth-types/src/cache/mod.rs
  crates/rpc/rpc-eth-types/src/fee_history.rs
  crates/rpc/rpc-eth-types/src/gas_oracle.rs
  crates/rpc/rpc-eth-types/src/pending_block.rs
  crates/rpc/rpc-eth-types/src/receipt.rs
  crates/rpc/rpc-eth-types/src/simulate.rs
  crates/rpc/rpc/src/debug.rs
  crates/rpc/rpc/src/eth/builder.rs
  crates/rpc/rpc/src/eth/core.rs
  crates/rpc/rpc/src/eth/filter.rs
  crates/rpc/rpc/src/eth/helpers/block.rs
  crates/rpc/rpc/src/eth/helpers/call.rs
  crates/rpc/rpc/src/eth/helpers/fees.rs
  crates/rpc/rpc/src/eth/helpers/pending_block.rs
  crates/rpc/rpc/src/eth/helpers/receipt.rs
  crates/rpc/rpc/src/eth/helpers/signer.rs
  crates/rpc/rpc/src/eth/helpers/spec.rs
  crates/rpc/rpc/src/eth/helpers/state.rs
  crates/rpc/rpc/src/eth/helpers/trace.rs
  crates/rpc/rpc/src/eth/helpers/transaction.rs
  crates/rpc/rpc/src/eth/helpers/types.rs
Labels: A-rpc, A-sdk

#17523 docs: Fix broken fuzzing module link in database.md
  docs/design/database.md
Labels: C-docs

#17543 chore(deps): bump inspectors 027
  Cargo.lock
  Cargo.toml
Labels: dependencies

#17555 fix: convert latency to milliseconds in reth-bench script
  bin/reth-bench/scripts/compare_newpayload_latency.py
Labels: A-cli

#16675 perf: process chunks in par for get logs in block range `eth_getLogs`
  Cargo.lock
  crates/rpc/rpc/Cargo.toml
  crates/rpc/rpc/src/eth/filter.rs
Labels: C-perf, A-rpc, A-sdk

#17442 feat(pool): return state of an added tx
  crates/net/network/src/transactions/mod.rs
  crates/net/network/tests/it/txgossip.rs
  crates/optimism/rpc/src/eth/ext.rs
  crates/optimism/rpc/src/eth/transaction.rs
  crates/rpc/rpc-eth-api/src/helpers/transaction.rs
  crates/rpc/rpc/src/eth/helpers/transaction.rs
  crates/transaction-pool/src/lib.rs
  crates/transaction-pool/src/noop.rs
  crates/transaction-pool/src/pool/mod.rs
  crates/transaction-pool/src/traits.rs
  crates/transaction-pool/tests/it/blobs.rs
  crates/transaction-pool/tests/it/evict.rs
  crates/transaction-pool/tests/it/listeners.rs
  crates/transaction-pool/tests/it/pending.rs
  examples/txpool-tracing/src/submit.rs
Labels: C-enhancement, A-tx-pool

#17476 feat: make basic block builder pub
  crates/evm/evm/src/execute.rs
Labels: A-sdk

#17451 feat: add TreePayloadValidator
  crates/engine/tree/src/tree/metrics.rs
  crates/engine/tree/src/tree/mod.rs
  crates/engine/tree/src/tree/payload_validator.rs
Labels: C-enhancement, C-perf, A-engine, A-sdk

#17572 feat(reth-bench): add gas throughput chart to python script
  .gitignore
  bin/reth-bench/scripts/compare_newpayload_latency.py
Labels: C-enhancement, A-cli

#17477 feat(era): add era types
  crates/era-utils/src/export.rs
  crates/era-utils/src/history.rs
  crates/era/src/consensus_types.rs
  crates/era/src/e2s_types.rs
  crates/era/src/era1_file.rs
  crates/era/src/era1_types.rs
  crates/era/src/era_types.rs
  crates/era/src/execution_types.rs
  crates/era/src/lib.rs
  crates/era/tests/it/dd.rs
  crates/era/tests/it/genesis.rs
  crates/era/tests/it/roundtrip.rs
Labels: C-enhancement, A-staged-sync

#17429 feat(engine): add validate_payload and validate_block methods to EngineValidator trait
  crates/engine/tree/src/tree/payload_validator.rs
Labels: C-enhancement, C-perf, A-engine, A-sdk

#17586 docs: fix the parameters
  crates/chainspec/src/spec.rs
Labels: C-debt

#17590 fix: remove extra space in PostStateRootMismatch error message
  crates/stateless/src/validation.rs
Labels: C-docs

#17497 feat: Add IPC socket permission configuration
  crates/node/core/src/args/rpc_server.rs
  crates/rpc/ipc/src/server/mod.rs
  crates/rpc/rpc-builder/src/config.rs
  docs/vocs/docs/pages/cli/reth/node.mdx
Labels: A-rpc, A-cli

#17588 fix: typo in Cargo.toml
  crates/ethereum/node/Cargo.toml
  crates/optimism/node/Cargo.toml
Labels: C-docs

#17592 test(era1): add more `Receipt` tests to verify decoding
  crates/era/src/era1_types.rs
  crates/era/src/era_types.rs
  crates/era/src/execution_types.rs
  crates/era/src/lib.rs
  crates/era/src/test_utils.rs
  crates/era/tests/it/roundtrip.rs
Labels: C-test

#17602 docs: correct error comments in networking optimism modules
  crates/optimism/reth/src/lib.rs
Labels: C-docs

#17620 chore: make clippy happy
  crates/rpc/rpc-eth-api/src/helpers/trace.rs
  crates/transaction-pool/src/test_utils/mock.rs
Labels: C-debt

#17553 fix: Benchmarking Link in database.md
  docs/design/database.md
Labels: C-docs

#17624 docs: fix typos
  crates/trie/trie/src/trie.rs
  docs/vocs/docs/pages/jsonrpc/admin.mdx
  docs/vocs/docs/pages/jsonrpc/debug.mdx
  docs/vocs/docs/pages/run/ethereum.mdx
Labels: C-docs

#17440 perf(trie): Process multiproof reveals for storage tries in parallel
  Cargo.lock
  crates/trie/sparse/Cargo.toml
  crates/trie/sparse/src/state.rs
Labels: C-perf, A-trie

#17648 chore: only cast basefee once
  crates/transaction-pool/src/pool/parked.rs
Labels: A-tx-pool

#17650 perf: can shortcircuit here if no peers
  crates/net/network/src/transactions/mod.rs
Labels: A-networking

#17668 fix: create`tx_env` after applying state overrides for `estimate_gas`
  crates/rpc/rpc-eth-api/src/helpers/estimate.rs
Labels: C-bug, M-changelog, A-rpc

#17660 perf: remove redundant metrics update
  crates/transaction-pool/src/pool/txpool.rs
Labels: C-perf, A-tx-pool

#17669 fix: RPC: feeHistoryEntry should return 0.0 when blob_params.max_blob_count is zero
  crates/rpc/rpc-eth-api/src/helpers/fee.rs
  crates/rpc/rpc-eth-types/src/fee_history.rs
  crates/rpc/rpc-eth-types/src/utils.rs
Labels: C-bug, A-rpc

#17371 perf(trie): reuse allocated trie input in payload processor
  crates/engine/tree/src/tree/mod.rs
  crates/engine/tree/src/tree/payload_processor/mod.rs
  crates/engine/tree/src/tree/payload_processor/multiproof.rs
  crates/engine/tree/src/tree/payload_validator.rs
  crates/trie/common/src/input.rs
  crates/trie/common/src/prefix_set.rs
Labels: C-perf, A-trie

#17684 chore: rm clone for witness
  crates/rpc/rpc/src/debug.rs
Labels: A-rpc

#17685 feat(trie): add blinded node metrics in ProofTaskManager
  crates/trie/parallel/src/lib.rs
  crates/trie/parallel/src/proof_task.rs
  crates/trie/parallel/src/proof_task_metrics.rs
Labels: C-enhancement, A-observability, A-trie

#17695 fix(txpool): also emit promoted pending tx on pool drift
  crates/transaction-pool/src/pool/events.rs
  crates/transaction-pool/src/pool/mod.rs
Labels: A-tx-pool
